[2016-03-10 14:20] deepu105 opened #1 "Roadmap for initial release"
Below is the skeleton that should be supported at the minimum IMO for this to be reusable in all places

[code]

@MathieuAA what is your idea?

[2016-03-10 14:21] deepu105 commented on #1
If JHUML can work with `parseJson` then the parse method could be removed and we can rename `parseIntermediate` to `parse`

[2016-03-10 14:24] MathieuAA commented on #1
We don't need the #parse method (we already convert what we need from PegJS).
#parseIntermediate should indeed be renamed to #parse.
I don't understand what the role of #parseToJson would be. Would that "automatically" convert JDL data to JSON-for-JHipster JSON?

[2016-03-10 14:29] deepu105 commented on #1
im thinking from a reusable perspective

1. `parseToJson ` : If this lib can convert JDL to Jhipster entity json it could be used within JHUML and in the new sub generator Im writing in Jhipster (this means all JDL related logic stays in this lib) and you can just concentrate on UML in JHUML
2. There should be a method exposing the direct output from peg parser as well so that we can reuse that in

[2016-03-10 14:31] deepu105 commented on #1
This is my current sub generator https://github.com/deepu105/generator-jhipster/blob/jdl/generators/import-jdl/index.js

but I dont like to do the JDL logic here again as its kind of reduntant

[2016-03-10 14:47] deepu105 commented on #1
If this lib has a `parseToJson` method then in the sub gen I can pass a JDL text to it and get an array of Jhipster entity jsosn which I can pass to the entitry sub generator to scaffold the entities

so this simplifies the sub gen to
[code]

[2016-03-10 16:38] MathieuAA commented on #1
In JHipster UML, we only use what's directly returned from PegParser (we know how to read everything, and just convert everything to a more readable data system).
We wouldn't use such a method.
Yes, such a method (what's directly returned by PegJS) should be available (or at least for now).

We could code in client projects instead of here... But like you said, it would be much easier not to do th

[2016-03-11 00:34] deepu105 commented on #1
If this project only does a peg parser then there no much value in having
this as a separate project, the peg parser is anyway generated and can be
directly used anywhere as needed.

This is suppose to be a companion utility and as I said earlier I wouldn't
like doing the JDL intermediate parsing in multiple places especially not
in JHipster as its already too heavy to maintain.

i saw your JHUML

[2016-03-11 06:14] MathieuAA commented on #1
I'm not. Just wondering how to reduce the coupling between producer and consumers.

[2016-03-11 06:27] MathieuAA commented on #1
Update, when you said "usable form", did you have something in mind? Because I do, but I don't know how to make something useful for JHipster. For us, a usable form is the intermediary data system (you can see this in the lib/data folder of JUML), for you it could either be something of the sort, or directly what JHipster needs.
In both case, I'm all for it.
As I said, a first iteration would be t

[2016-03-11 06:48] deepu105 commented on #1
I havent looked at your intermediary data structure closely, but we should keep that as something internal to JHUML or this lib whereever it fits

For what I meant as usable lets take all the use cases we know so far and analyse

1. JHUML needs entity jsons written in the `.jhipster` directory to run the entity generator on those
2. JDL studio needs the parsed data from pegJs
3. `jhipster:import-j

[2016-03-11 07:06] deepu105 commented on #1
From JHUML code I think below can be moved here, correct me if im wrong

1. `dsl_parser.js` (its dependencies can be simplified and inlined as they are just utils)
2. `scheduler.js` this seems to be used as a common thing for all parsers and hence might have to be duplicated or we need to find a way
3. `EntitiesCreator` this also seems to be common for all parser

may be the `dsl_parser.js` should

[2016-03-11 07:58] MathieuAA commented on #1
The DSLparser has to move here, yes, absolutely. The scheduler stays in JHipster UML, as it has to be used by JHipster, so **for now** it's best to keep it in JUML.
The entiesCreator needs to be cut. I don't know if we should move it here though... I'm testing some new things with it, and it will really change in the near future (some new classes will be created, and some of them may move here ins

[2016-03-13 00:46] MathieuAA opened #2 "Add support for the table name"
It was added in JHipster some time ago, just added in JHipster UML for UML editors.
Currently we can write:
[code]
A proposed syntax for the table name:
[code]
Or even
[code]

I'd rather have the first as it is the currently supported way of specifying a table for classes from XMI files.

If the user doesn't specify a table name, then the entity name will be used as table name (underscored first,

[2016-03-13 05:53] deepu105 commented on #2
ya first one is better

Thanks & Regards,
Deepu

On Sun, Mar 13, 2016 at 8:46 AM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-03-19 12:15] deepu105 opened #3 "service/dto/pagination options for entity not fully processed"
This is a rather weird issue with parser in JHUML so it might or might not be present here as well

When there are say 4 instructions for serviceClass or serviceImpl only the last 2 are applied

eg:
[code]

In the generated json files only Employee and Department had the option set, If I change the order again whichever entity comes last gets the option

[2016-03-19 13:34] MathieuAA commented on #3
I've a fix for this (tests are being done), and I'm going to add it to JUML for now, and move all the code here when the migration's over.

[2016-03-19 13:55] #3 closed

[2016-03-19 16:57] MathieuAA commented on #1
@deepu105 I've just pushed a first version of what's available in JHipster UML right here.
It includes the fix I've done a few hours ago, and I won't update the JDL code in JHipster UML.

[2016-03-19 17:04] MathieuAA commented on #1
@jdubois Hi Julien, can you allow Travis to scan this project?

[2016-03-19 17:09] jdubois commented on #1
@MathieuAA it's done :-)

[2016-03-19 17:15] MathieuAA commented on #1
Thanks!

[2016-03-20 02:51] deepu105 commented on #1
Ill take look :)
On 20 Mar 2016 01:15, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-03-20 05:20] deepu105 commented on #1
@MathieuAA I suppose we need to bring in the functionality of converting the intermediate to jhipster entity json format as well for this to be usable in the main generator?

[2016-03-20 08:06] MathieuAA commented on #1
It's not a hard thing to do, and that's a reason why a JHipster API is needed here.
However, I strongly recommend using an intermediary here. Something that will take what's returned by PegJS, and return an intermediary format for you to use. This intermediary format should be the **only** format you'd have to work with in order to export to a readable JSON for JHipster, as it will protect you fro

[2016-03-20 08:38] deepu105 commented on #1
since jhipster is a yeoman generator Im not sure how we can expose it as an API.

Sorry I might have missed something somewhere why again is JHipster needed here? I couldn't recall

for now the only formats that I could think of that will be useful are these

1. JHipster JSON for JHUML and jdl sub generator
2. peg js output for JDL studio

where do you see use case for another intermediary and why

[2016-03-20 09:14] MathieuAA commented on #1
The use case for not another intermediary is simple. Suppose you want to change the way PegJS returns the data because it's too heavy (it currently is by the way), so you decide to clean up the mess and when you're done you notice that what's returned is in fact so pretty that it breaks your code ;-(.
What PegJS returns isn't an intermediary but a POJO (replace the J by Javascript or JSON =)) that

[2016-03-20 09:49] deepu105 commented on #1
1. To me PegJs output is just another JSON and I already have an intermediate form for JDL studio which I obtain by parsing the pegJS output. So unless we can agree on some intermediate form which is usable everywhere there is no much value in it. In the end what is ideal would be to remove JDL support from JHUML as it is redundant now. so that leaves 2 consumers for now JDL studio and import-jdl

[2016-03-20 10:01] MathieuAA commented on #1
Oh yes it's ugly, but simple (having a git url, that is) in terms of releases (rollbacks would be possible) but there's still the trust issue you discussed some time ago.
The goal of an intermediary is to take all the fire from what's returned from PegJS, but it remains an **interface**. The interface always provides the same things (more or less, but rarely change), the work to provide the things

[2016-03-20 10:09] deepu105 commented on #1
Since I made JDL studio based on nomnoml I preferred the format it had as it was easier to render on canvas I just tweaked it a little. you can see the conversion [here](https://github.com/jhipster/jdl-studio/blob/gh-pages/nomnoml/nomnoml.parser.js#L28)

I dont think this will be much use for you as this is purely for drawing the UML like model on canvas

[2016-03-20 10:12] deepu105 commented on #1
anyway lets tackle the re usability part later as the types you need to manage today is not that huge, we can see how we can make it common later

[2016-03-22 13:31] PierreBesson opened #5 "Support for microserviceName"
For JHipster 3 we added a new field (microserviceName) to the entities JSON for micro-services entities.

**microservice1/.jhipster/Foo.json** :
[code]
On the micro-service, this file is used to generate only the back-end of the entity. Then the same Foo.json is reused to generate the front-end on the gateway. And thanks to the microserviceName property, it can prefix the API endpoint with the cor

[2016-03-22 13:49] MathieuAA commented on #5
Ok! What about `searchEngine`? I've never seen it before.

[2016-03-22 14:21] deepu105 commented on #5
@PierreBesson I think there might be a better way to get both fileds without having to have them in the json while using entity sub generator. With JDL its a different scenario we need to have a way to identify if an entity is normal or from a microservice first else if you run them it would be considered as a normal entity for the gateway.

One way is as you suggested use an instruction to set th

[2016-03-22 15:13] PierreBesson commented on #5
@MathieuAA, "searchEngine: elasticsearch" means that elasticsearch is enabled for this entity. This is added to entities json files for apps that are generated with elasticsearch support. It will even create a little search box to let your search results.

@deepu105 I have trouble to see your point. What would be your idea to integrate this in the JDL ?

[2016-03-22 15:17] MathieuAA commented on #5
Oops we've never added that. Gotta do it.

[2016-03-22 15:42] deepu105 commented on #5
@PierreBesson for entity sub gen I have a solution to do this without adding to json but for JDL it needs to be added to Json as you propose.

@MathieuAA the elsatic serach option again is applicable only when an entity is from a microservice, (for normal monolith its not required in the json as its an app option) its a workaround since we wont know if the micro service had elastic search or not t

[2016-03-22 15:49] MathieuAA commented on #5
I guess I'll need to check what the user wants against the .yo-rc.json file. How fun!

[2016-03-22 15:56] deepu105 commented on #5
you wouldnt have the yo-rc as the microservice would be in some other
folder.

You need to check if an entityy has a microservice name declared if so you
need to add that and search option to the generated json

Thanks & Regards,
Deepu

On Tue, Mar 22, 2016 at 11:49 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-03-22 15:59] MathieuAA commented on #5
No yo-rc file? JUML's code might need some change... Gotta test.

[2016-03-22 16:01] deepu105 commented on #5
I think you just need to handle thse 2 param in the json

Thanks & Regards,
Deepu

On Tue, Mar 22, 2016 at 11:59 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-03-22 16:08] PierreBesson commented on #5
@deepu thanks for pointing out that the searchEngine field is only for microservices. I had forgotten.

@Mathieu, you can just worry about doing the correct json. Anyway we will demo microservices on the April 11th meetup and you shall see why we made you do this !

[2016-04-02 21:33] MathieuAA commented on #2
The implementation: if the user doesn't specify the table's name, then the entity's name will be used so as not to lose any information during the handling in any implementation (JHipster UML's, or any other). For instance, JHipster UML will always underscore the name, then lowercase everything. Any implementation is free to deal with it.

[2016-04-02 21:33] #2 closed

[2016-04-03 00:48] deepu105 commented on #2
Dont you think that would be redundant to handle again?  The entity sub
generator does the same since table name is optional if its not passed the
entity name is underscored and lowercased by default so even if you don't
pass a table it would work perfectly.
On 3 Apr 2016 05:33, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-04-03 08:35] MathieuAA commented on #2
If it's redundant, it's a "coincidence" (pardon the choice of the word, but it's kinda true).
There's a problem however: we can't handle it in here without some kind of layer between Peg and the real world because formatting the table's name would require either an external lib, or to do it ourselves.

I'm all for doing it in here, but we really have to discuss how we do it as we can't do it when

[2016-04-03 09:08] deepu105 commented on #2
I dont get it, am i missing something? Why would you want to parse and
format it ?  Just pass the property as it is in the json and the entity sub
gen will take care of it. if its not passed as underscored the sub gen will
underscore it automatically
On 3 Apr 2016 16:35, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-04-03 10:21] MathieuAA commented on #2
So you want the table name to be nil instead to have the entity's name? Tell me if I don't understand what you're saying! it's pretty hard to know what the other is thinking when writing and not talking =/

[2016-04-03 15:20] deepu105 commented on #2
The table name parameter is an optional attribute for the entity sub
generator and hence if the user has not defined it do not set the attribute
in the json. That means do not define that key in json, entity sub gen will
add it automatically, take a look at the entity sub gen code.
On 3 Apr 2016 18:21, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-04-07 09:41] #1 closed

[2016-04-08 23:06] MathieuAA commented on #5
@PierreBesson I've taken the time (quite some time =/) to think about that, and I'd like to add it so that the following JDL will add the microserviceName:

[code]
Do you think that this solution is possible given how a microservice project is created in JHipster?

An alternative, more project-oriented this time would just consist in declaring the microservice name somewhere in the file like `with

[2016-04-09 13:20] PierreBesson commented on #5
Your first solution is exactly what we need. Because 1 gateway can generate entities whose back-end are located in different microservices.

[2016-04-09 18:44] MathieuAA opened #7 "Add the searchEngine option"

[2016-04-14 20:06] marcosmoreno opened #8 "Creating a required OneToMany in the "Many" part."
If I create the example:

[code]

Jhipster creates Entities for Owner and Car, and I can create Cars without owner.
Is it possible to specify that the owner is required with JDL?

In the Entities annotations, I see that a ManyToOne is created for the Car Entity. I guess I would like that this relationship has (optional=false)  next to the declaration, and that Jhipster automatically cares of the f

[2016-04-15 06:31] MathieuAA commented on #8
Hello, you're not the first one who asked for this. We could add this for JHipster UML and the JDL if JHipster implements it.

Le 14 avril 2016 22:06:05 GMT+02:00, marcosmoreno <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-04-17 13:13] marcosmoreno commented on #8
Thank you @MathieuAA . I created the feature request in the generator-jhipster.

Just some info: when I just add the annotation @NotNull to the @ManyToOne field and try to add a registry to the Car entity without selecting the Owner, jhipster behaves exactly as I wanted, as it tells that the field cannot be empty (jhipster 3.0).

This means that jhipster is already taking care of it, at least the

[2016-04-17 17:19] MathieuAA commented on #5
Hi, I've made a decision (depends if it's a good one or not).
The solution I proposed was good, but broke the "how-we-define-options" pseudo-rule.

It's not complicated to add microservices, but I need more time to add the second syntax for the other options.
Here's the implemented way (it's good, don't get me wrong):
[code]
It's the same syntax as the other options'.
The previously proposed synta

[2016-04-17 17:19] #5 closed

[2016-04-17 17:35] MathieuAA opened #9 "Add skipServer, skipClient and angularSuffix"
Everything's in the title.

[2016-04-17 17:36] MathieuAA commented on #9
- [ ] skipServer
- [ ] skipClient
- [ ] angularSuffix

[2016-04-17 17:40] #7 closed

[2016-04-17 17:45] MathieuAA opened #10 "A second way to declare options"
Currently (Before and for v1.0.0), options were/are declared like this:

[code]

The second way consists in copying the way the relationships are declared so that this syntax is added:

[code]

We wouldn't have to write the option's type every time we want to add an option to an entity.

[2016-04-17 19:09] #9 closed

[2016-04-17 21:33] MathieuAA opened #11 "Expose more methods"
These methods have to be exposed (the following list is not complete):
  - [X] [JDLReader#checkFileIsJDLFile](https://github.com/jhipster/jhipster-domain-language/blob/master/lib/reader/jdl_reader.js#L38).

[2016-04-17 21:48] MathieuAA opened #12 "Wrong names"
Names only have unique letters in it. For instance, Employee will be returned as "Employe".

[2016-04-17 22:00] #12 closed

[2016-04-18 00:18] deepu105 commented on #5
Some how I feel that this is not very intuitive and I really lean towards having a declarative syntax like annotations we discussed earlier or something more readable
@jdubois @MathieuAA as JDL becomes more and more famous we should discuss and have a better roadmap and I really dont think the way current syntax is going is future proof

[2016-04-18 00:20] deepu105 commented on #10
Could you hold on with this. We need to discuss
On 18 Apr 2016 01:45, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-04-19 12:18] deepu105 opened #13 "Move common code to JDL"
Move some of the common code to JDL so that we can use it in JHUML and the sub generator
This would make JDL act like a parent library kind of thing for all Jhipster projects that requires these info. Another option would be to move all the common reusable code to a new project called `jhipster-core` what do you think @MathieuAA ?

This can address @MathieuAA request to have some reusable code fro

[2016-04-19 13:07] MathieuAA commented on #13
I'd make another project instead of putting code here.

[2016-04-19 15:04] deepu105 commented on #13
im fine either way

Thanks & Regards,
Deepu

On Tue, Apr 19, 2016 at 9:07 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-04-20 07:10] MathieuAA commented on #13
@deepu105 What if this module could export JHipster JSON files?

[2016-04-21 04:57] deepu105 commented on #13
@MathieuAA what do you mean. Are you talking about JDL or a new module?

[2016-04-21 05:02] MathieuAA commented on #13
This module.
My point is:
  - It's a JHipster project,
  - It handles the JDL and everything around it (only as input, and everything else as output),
  - Dealing with JSON files from JDL is a task in its scope.

[2016-04-21 05:19] deepu105 commented on #13
yes that is what I originally asked for

Thanks & Regards,
Deepu

On Thu, Apr 21, 2016 at 1:02 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-04-21 05:23] deepu105 commented on #13
My intention when we started the JDL as a separate project was that it can read JDL files and produce JHipster entity Json as one of the output output.
If you remember my original idea was to have the below methods
`parse` function which just gives the pegJs output, this is useful for JDL studio
`parseToEntity` function which outputs Jhipster entity json from JDL

[2016-04-21 05:26] deepu105 commented on #13
we had that discussion here https://github.com/jhipster/jhipster-domain-language/issues/1

[2016-04-21 05:38] MathieuAA commented on #13
Yes, I remember but it seemed kind of redundant with what the subgen does. That's why I asked you ;)
Anyway, I'll try to do it this week-end.

Le 21 avril 2016 07:26:49 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-04-21 06:49] deepu105 commented on #13
If JDL does that then I would just use it and remove all that code from
subgen

Thanks & Regards,
Deepu

On Thu, Apr 21, 2016 at 1:38 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-04-23 08:58] MathieuAA opened #14 "Maxbytes and minbytes validation issue"
These two constraints are passed as `minlength` and `maxlength`.

[2016-04-23 08:59] #14 closed

[2016-05-01 16:35] WhyINeedToFillUsername opened #15 "JDL studio does not take multiple entries at relationships definition as valid"
I am using JDL in my app:
[code]
which is valid when I run the `yo jhipster:import-jdl yourFileName.jh` (and specified at [JDL docs](https://jhipster.github.io/jdl/)) but is not accepted as valid in the online JDL studio (reports `Expected "//", "}" or a space but "U" found. -> line: 3`.

[2016-05-01 16:51] MathieuAA commented on #15
It may be a regression.
Note that the correct way to define multiple relationships like you did is to do this:
[code]
With each definition being separated by a comma.

Fixing it now.

[2016-05-01 17:01] WhyINeedToFillUsername commented on #15
Thanks for prompt answer. I forgot to add the commas here, thanks for the info.

[2016-05-01 17:20] MathieuAA commented on #15
Well, thank you for reporting the issue!
By the way, I've just pushed the fix. I won't release it now because I need to add more things before making a release.

However, if you want to use it right now, just clone the repo and `npm link` it (or add the repo as dependency in your `package.json` file).

[2016-05-01 17:20] #15 closed

[2016-05-03 21:47] Jumblemuddle opened #16 "Ability to use sub-objects as view"
Not sure if this is an issue with JDL or JHipster.
[code]
Sorry for the bad example...

JDL won't allow the view to be a child object. (Planet has a child object 'moon' which has a size)
I've tried plenty of variations to try to get this to propogate to the Angular JS side to no avail.

Is this view used anywhere else besides on the frontend?

[2016-05-04 00:32] deepu105 commented on #16
I dont think we support this yet.
On 4 May 2016 05:47, "Garrett Hopper" <notifications@github.com> wrote:

[2016-05-04 05:15] MathieuAA commented on #16
It may be a *bad* example, but it's bloating the declaration... If we ever support something like that, a better syntax may be needed.
Moreover, I don't see a practical use cas for this. Can you give us a better example?

[2016-05-04 12:55] Jumblemuddle commented on #16
Best case I can think of is when you want an entity with a 1-1 relationship with the User.
Naturally you'd want to display the user's login.

[code]
It'd be nice for the 'initiator' Profile on the Connection to display the user's login instead of the object.

[2016-05-04 12:57] Jumblemuddle commented on #16
``
relationship OneToOne {
    Connection{initiator(**user.login**)} to Profile
}
[code]

[2016-05-04 13:05] deepu105 commented on #16
I dont think we will do this as there is very little value for the
complications we would handle, you could easily modify the generated code
for this and this is a rare usecase

Thanks & Regards,
Deepu

On Wed, May 4, 2016 at 8:57 PM, Garrett Hopper <notifications@github.com>
wrote:

[2016-05-04 13:36] Jumblemuddle commented on #16
Very well.

Thanks

[2016-05-04 15:01] chris2338 opened #17 "Attribute on relationship"

[2016-05-04 20:59] #17 closed

[2016-05-06 09:47] marcosmoreno commented on #8
@MathieuAA  would the fix in the referenced generator issue suffice for adding this to the Jhipster UML? Like adding <validation> to the JDL in the relationships declaration?

[2016-05-06 09:58] deepu105 commented on #8
The support is added in JHipster but we have to do some work to make it
work in JDL so it will take some more time based on our availability to
work on this.

Thanks & Regards,
Deepu

On Fri, May 6, 2016 at 5:47 PM, marcosmoreno <notifications@github.com>
wrote:

[2016-05-06 14:27] MathieuAA commented on #8
It's easily done... I'll see about doing it today or tomorrow.

[2016-05-11 03:34] lukewpatterson commented on #16
I'll include my workaround for anyone else who runs into this.

First, some sample JDL which gets rejected during `yo jhipster:import-jdl  <schema file>`.  The "user.login" portion causes a grammar/validation error, preventing generation:

[code]

Note that the original `yo jhipster:entity`/json-based method does allow for dotted traversal in the "**otherEntityField**" entry, _thus allowing for di

[2016-05-11 03:42] Jumblemuddle commented on #16
Not ideal, but I do like the idea of it being the the json better than manual changes to the generated ui.
Thanks, @lukewpatterson

[2016-05-11 03:52] deepu105 commented on #16
Ok first of all I think its working in the entity generator accidentally and not intentionally :smile: so if it works then fine lets leave it like that. @MathieuAA in that case you can decide if you want to support this in JDL or not

[2016-05-11 04:49] MathieuAA commented on #16
Hi, if it's already supported because it's has been designed, then I'll add it. If it's not, it could not work in another version and tests have to check that. What do you think, @jdubois?

Le 11 mai 2016 05:52:51 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-05-12 08:40] heppa opened #18 "Adding commands for unique constraints"
I just love expressing the domain data model in JDL. However, whenever there is a change, I find myself manually editing the server code plus regenerating the client and test code with jhipster-uml, because there is manual changes necessary in the domain code like unique constraints, advanced validation constraints etc.

Wouldn't it be nice to have the ability to generate unique constraints by exp

[2016-05-16 03:17] yuedefeng opened #19 "The entity(table_name) of JDL can't work well --"entity B (the_best_entity) // the_best_entity is the table's name""
https://jhipster.github.io/jdl/

entity B (the_best_entity) // the_best_entity is the table's name

my code:

entity Activity (cs_activity)  {
    activityId Integer required ,
    activityTitle String required maxlength(255),
    activityType String  ,
    activityBanner String required maxlength(255),
    activityStyle String required maxlength(255),
    activityDesc String required maxlength(10

[2016-05-16 05:18] flying3615 commented on #19
paste exception trace here

{ gateway }  » yo jhipster:import-jdl dbentity.jh                                     /cygdrive/e/project/jhipster_micro/gateway
The jdl is being imported.
SyntaxError: Expected "/*", "//", "dto", "entity", "enum", "paginate", "relationship", "service", "{", a space or end of input but "(" found.
    at peg$buildException (C:\Users\centling\AppData\Roaming\npm\node_modu

[2016-05-16 09:26] chris2338 opened #20 "How to add an attribute to a relation ?"
For example if I want a relation between a "user" entity and a "forum" entity with a role attribute what is the good way to do with the jdl language ?

[code]

[2016-05-16 10:31] dinhnn opened #21 "@Pattern(regexp = "undefined") in Java code when generate entity using JDL"
Duplicate from: https://github.com/jhipster/generator-jhipster/issues/3421#issuecomment-219048840

##### **Overview of the issue**

Generate entity with pattern validation
ex:
entity E{
   test String pattern("$\d+^")
}
Result:
class E{
....
@Pattern(regexp = "undefined")
String test;
....
}

##### **Motivation for or Use Case**

##### **JHipster Version(s)**
JHipster 3.0

##### **JHipster configu

[2016-05-16 22:01] MathieuAA commented on #21
Hi, first of all, I'm sorry I didn't answer earlier, I was on holidays and I didn't want to check my mails.
I'll fix it as soon as I can.

[2016-05-16 22:02] MathieuAA commented on #20
I'm not sure I understand the question, can you elaborate?

[2016-05-16 22:05] MathieuAA commented on #18
@deepu105 Is `unique` available in a released version? I was on holidays and I didn't check my mails at all (and couldn't).
@heppa If it's available, I'll add it.

[2016-05-17 01:51] deepu105 commented on #18
No we dont support that. Inly required validation for relationship as of
now. Having unique validation is very tricky and troublesome
On 17 May 2016 06:05, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-05-17 05:42] MathieuAA commented on #18
Yeah... Thanks man!

Le 17 mai 2016 03:51:21 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-05-17 06:43] MathieuAA commented on #19
Sorry, I was on holidays and didn't want to check my mails.
I'll reproduce it and fix it.
Thanks for reporting this.

[2016-05-17 08:39] chris2338 commented on #20
I just want to be able to add an extra column in the table of the relationship as in this example:
[many-to-many-extra-fields](http://www.codejava.net/images/articles/frameworks/hibernate/many-to-many-extra-fields/many_to_many_relationship_updated_1.png)

How to do with jdl to add the activated field in the users_groups relation as in this example ?

[2016-05-17 08:59] MathieuAA commented on #20
We can't add it from the JDL. @jhipster/developers is it possible to have such a thing with the Q&As?

[2016-05-17 09:01] MathieuAA opened #22 "Add required relationships"

[2016-05-17 09:09] cbornet commented on #20
The example uses ManyToOne/OneToMany with an explicit "link" relationship so that's totally doable with JDL (solution 1 of the example)
Something like
[code]

[2016-05-17 09:19] MathieuAA commented on #20
Seems like overkill. When using the standard generator, if there's no way to add another field in the created table for a MtM, then I guess it's wanted.
Closing this unless there's any objection.

[2016-05-17 09:52] chris2338 commented on #20
@cbornet I have already used your solution but I was wondering if there was a better solution. With this solution we transform a relationship to an entity

@MathieuAA Do you mean that you will develop a new feature enhancement ?

[2016-05-17 09:58] MathieuAA commented on #20
No, I meant that I won't do anything unless there's a reason. **If** this is not available with the Q&As, then there must be a reason (i.e. easier to do it in Java, or not frequent a task), and I won't add it because it would require a special kind of post-processing that I'm not really willing to make (and create). If, however, this is already possible, I'll add it right away.
I don't know if Chr

[2016-05-18 14:18] chris2338 commented on #20
Ok. Thank you for your answer. I close this issue.

[2016-05-18 14:18] #20 closed

[2016-05-26 19:25] tkp1n opened #24 "Add option to make Entity extend AbstractAuditingEntity"
Entities created from JDL never extend AbstractAuditingEntity. this should be an option as the DTO, pageable, etc.

[2016-05-26 19:31] tkp1n opened #25 "Add support for adding relationships with User"
Since Release 2.5.0 JHipster supports adding ManyToOne relationships to the User entity.
We should be able to do this using JDL as well...

[2016-05-26 20:08] MathieuAA commented on #24
Hello! Entities (that are not created from JDL code) never extend AbstractAuditingEntity either by default... unless you manually extend make the class extend AbstractAuditingEntity, that or my knowledge is outdated.
That being said, I suggest you drop by JHipster's issue tracker and ask for it.

[2016-05-26 20:08] #24 closed

[2016-05-26 20:52] MathieuAA commented on #22
Propsoed syntax:

[code]

The following code would then be generated:

[code]

[2016-05-26 20:52] #22 closed

[2016-05-26 20:54] MathieuAA commented on #8
Closed as it has been added (see #22).

[2016-05-26 20:54] #8 closed

[2016-05-28 09:58] MathieuAA commented on #19
Hello, this issue will have to be checked after work on core objects is done and the JDL parser is moved here. However, it looks like a subgen issue because they don't share everything yet.

[2016-06-02 06:43] pramika opened #26 "import JDL subgenerator overwrites changelogdate even for not unaltered tables while regenerating entity"
**Overview of the issue**

import JDL subgenerator updates changelogdate in .json files for all the entities (while regenerating entity) instead of only the modified entity. Because of which conflict occurs and overwrite question is asked for all the .json and .java files. This also impact the audit module where again all the .json, .java and .xml file are overwritten again for all the entities.

[2016-06-02 06:58] MathieuAA commented on #26
Hi, I will fix it as soon as the `#toJSON` service is added to this project (currently in JUML).

[2016-06-02 07:26] pramika commented on #26
Great. Thanks a lot for the update.

[2016-06-02 11:14] sam888 opened #27 "Override default id name feature request"
Hi,

This is just a minor feature request. Currently, all the id will be generated
automatically, i.e.

entity Locale {}

This will generate a Locale table with Primary key '**id**' automatically. Can it be enhanced such that the name of this id field is customized by adding some syntax? E.g.

entity Locale {
    localeId Long id_override;
}

So in above example the keyword id_override will indica

[2016-06-02 21:30] srkhan commented on #24
Hi MathieuAA,

Even when I extended my Entity with AbstractAuditingEntity, it's still not generating the auditing columns in the database. Can you please advise?
I have also marked columns such as createdBy, createdDate commenting @JsonIgnore referring to some stackflow post but still columns are not being generated in the database.

[2016-06-03 01:07] deepu105 commented on #24
@srkhan what you are looking for is the entity auditing module.  Check out our modules page in the documentation site. https://github.com/hipster-labs/generator-jhipster-entity-audit

[2016-06-03 14:13] srkhan commented on #24
Hi Deepu,

Thank you very much for pointing in the right direction. It works pretty well and I could relate it to Hibernate envers and it's perfect auditing solution. Highly appreciate your efforts to make this availalble as module for JHipster and reducing all the tedious work for envers configuration.

Only one small **bug** I would like to report (Or may be I am not getting it correct with this

[2016-06-03 16:04] deepu105 commented on #24
You are welcome srkhan.

Thats strange what you said, I never noticed such a behavior. Ill try to
check when I find time. The created and modified fields are set by Spring
on the entity itself. So if there is a bug here it might be on the spring
side.

Thanks & Regards,
Deepu

On Fri, Jun 3, 2016 at 10:13 PM, srkhan <notifications@github.com> wrote:

[2016-06-04 13:04] deepu105 commented on #27
I dont think we will do this as it would have other implications and is harder for us to maintain. If you want a different field for ID just add the field and ignore the generated ID its for internal use anyways.

[2016-06-04 13:04] #27 closed

[2016-06-07 19:55] MathieuAA commented on #21
This will be fixed after some code from JHipster-UML moves here, so in a very short time.

[2016-06-07 20:15] MathieuAA opened #28 "Core objects, and after that"
The work in the "coreobjects" branch is almost done, save the last object that should encapsulate every other object.
This is a pseudo-roadmap of what needs to be done afterwards:
  - [x] Migrate the JDL parser here;
  - [x] Test it;
  - [x] Migrate the EntityCreator here and adapt it to be able to generate JSON from JDL;
  - [x] Test it and fix some bugs;
  - [x] Expose the generation;
  - [ ] Up

[2016-06-07 20:18] #11 closed

[2016-06-08 01:04] deepu105 commented on #28
Its ok Mathieu ill wait for your merge
On 8 Jun 2016 04:15, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-06-10 10:16] pramika commented on #26
Any updates on this bug?

[2016-06-10 10:42] MathieuAA commented on #26
No. The entity creator has to move here first. And the current branch where the core objects are being implemented has to be merged first. Work on the issue is alread documented and should begin/end this week-end.

Le 10 juin 2016 12:16:23 GMT+02:00, pramika <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-19 08:21] Blucky87 opened #30 "relationships not generated"
The following does not fill in the relationship fields for any entities in the .json files that are generated.

entity Organization {
	name String required,
    description String,
    createdDate ZonedDateTime,
    lastModifiedDate ZonedDateTime
}

entity Region {
	name String required,
    description String,
    createdDate ZonedDateTime,
    lastModifiedDate ZonedDateTime
}

entity Location {

[2016-06-19 12:55] deepu105 commented on #30
How did you generate this? Using the import jdl sub or using jhipster uml?

Thanks & regards,
Deepu
On 19 Jun 2016 16:21, "Brian L" <notifications@github.com> wrote:

[2016-06-19 23:26] Blucky87 commented on #30
I typed it into JDL studio on the jhipster site. it did not show any errors. so I put it in my project folder and typed the 'yo jhipster:import jdl ...' command to load it and it did nothing. I then tried loading each entity section on its own and it worked but the relationship section refused to load.

[2016-06-20 01:37] deepu105 commented on #30
The import jdl sub doesnt support multiple relationship definition in the
same block yet. Please use jhipster uml for this. We are working to make
the import jdl support all options. It should land soon

Thanks & regards,
Deepu
On 20 Jun 2016 07:26, "Brian L" <notifications@github.com> wrote:

[2016-06-20 01:37] #30 closed

[2016-06-20 01:40] deepu105 commented on #30
Im gonna take some time off for this today and see if i can migrate to the newer JDL version. @jdubois need your help to rename the jdl project to jhipster-core as we decided earlier. Cc @MathieuAA

[2016-06-20 06:00] MathieuAA commented on #30
The DSL parser to JDL objects is finished, the tests have yet to be updated.

Le 20 juin 2016 03:40:41 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-20 07:04] deepu105 commented on #30
@MathieuAA Is it the one in the DSL parser branch? If so Im writing the entity creator for the generated JDL object now

[2016-06-20 07:27] MathieuAA commented on #30
It is.

Le 20 juin 2016 09:04:59 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-20 07:43] deepu105 commented on #30
Does your toStrings print the jhipster entity json format?

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 3:27 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-06-20 07:47] deepu105 commented on #30
Ok I guess your printing it in JDL syntax so I have to convert the parsed
data into the jhipster entity json format

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 3:43 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2016-06-20 07:55] MathieuAA commented on #30
No, in JDL.

Le 20 juin 2016 09:44:00 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-20 08:01] MathieuAA commented on #30
You can reuse some code from the entity creator for that... It's not too outdated

Le 20 juin 2016 09:47:08 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-20 08:05] deepu105 commented on #30
ok will do that

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 4:01 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-06-20 11:28] gruenewald commented on #19
Hi @MathieuAA ,
i have the same issue. Is there a workaround to generate the jhipster-Files with the adapted table names? Do you have an approximate schedule when the error will be corrected? Thanks for this nice JDL!

[2016-06-20 11:44] MathieuAA commented on #19
Hi! It should be fixed as soon as the subgen uses this project. In the meantime, you cam use JHipster UML to process your entities. We are working to get this released ASAP, but I don't have an ETA on this.

Le 20 juin 2016 13:28:11 GMT+02:00, "Matthias Grünewald" <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-21 07:11] MathieuAA opened #31 "Replace "angularSuffixes" by "angularSuffix""
In the grammar, the pegjs parser must be built again.
[This](https://github.com/jhipster/jhipster-domain-language/blob/dslparser/lib/dsl/jdl_parser.js#L224) must be replaced as well, and [this](https://github.com/jhipster/jhipster-domain-language/blob/dslparser/lib/dsl/jdl_parser.js#L183) must only take two args because `name` = `key`.
cc @deepu105 (by the way, great work man!)

[2016-06-21 07:13] MathieuAA opened #32 "Remove chalk?"
We should remove chalk as I'd rather let the package calling the JDL project use colors or not use them at all.

[2016-06-22 01:09] deepu105 commented on #31
Oh I didn't notice they are same. Ill replace those

[2016-06-22 01:11] deepu105 commented on #32
I guess it can ne removed. I don't know why I added that, may be came when copied some code from Jhuml

[2016-06-22 04:10] deepu105 commented on #32
closing as its done

[2016-06-22 04:10] #32 closed

[2016-06-22 04:25] deepu105 commented on #31
@MathieuAA check if this is ok. I have added an npm task to do the peg parsing as well. run `npm run peg-parse` to update the parser from grammer.txt

[2016-06-22 04:27] #31 closed

[2016-06-22 06:34] MathieuAA commented on #31
Excellent. Thanks!

Le 22 juin 2016 06:25:11 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-06-24 07:16] deepu105 commented on #13
its tracked in #28

[2016-06-24 07:16] #13 closed

[2016-06-29 07:13] MathieuAA opened #34 "Required relationships in the JSON creator"
To add: `relationshipValidateRules`.

[2016-07-04 22:12] MathieuAA commented on #19
The feature lacking in the subgen has been implemented in the dev branch, which should be released very, very, very soon (today or tomorrow). Therefore, I'm closing this. Thanks to all of you for reporting this!

[2016-07-04 23:03] MathieuAA commented on #28
@deepu105 I've merged the dslparser branch into master. Only a couple of tests need doing (and a few issues to close ASAP). Can you test the project with your subgen?

[2016-07-05 21:08] #34 closed

[2016-07-06 07:02] MathieuAA commented on #26
@deepu105 I'm almost wondering if this should not be done by the client instead of a piece of code here... first because it's a really easy thing to do (I can even make the entity comparator available if need be), and because this project won't be the one calling `yo jhipster:entity <MyEntity>.json`. What do you think?

[2016-07-06 11:28] deepu105 commented on #26
The entity sub gen doesn't overwrite the changelogDate if its already present so this is something that should be done while writing the json files itself. since the json data is provided by jhipster-core it might be best to filter out unmodified entities here as it was done in JH UML as well. So I woulnt mind this step being done directly here when the `force` attribute is not passed else it can

[2016-07-06 11:33] deepu105 commented on #28
If its ready please proceed to release. I might not have time this week to test. Ill do it next week and release a sub gen update

[2016-07-06 12:21] MathieuAA commented on #26
I didn't understand the problem! You're right, I may be able to do it tonight and make a release right after.

[2016-07-06 12:22] MathieuAA commented on #28
Everything's working for me, so I'll make a release tonight after taking care of #26.

[2016-07-06 15:06] ole108 opened #35 "Negative integers not supported by jhipster-uml and JDL online editor"
This entity declaration

    entity Location {
        longitude Double min(-180) max(180)
    }

generates the following error message in jhipster-uml and in the JDL online editor:
`Expected a space or integer but "-" found. -> line: 2`

Of course a negative integer is as much an integer number as a positive one ...

[2016-07-06 15:16] MathieuAA commented on #35
Thanks for reporting this! I'll fix it tonight.

Le 6 juillet 2016 17:06:31 GMT+02:00, Ole Bulbuk <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-07-06 19:41] MathieuAA commented on #35
It has been added, thanks again for notifying us  =)

[2016-07-06 19:41] #35 closed

[2016-07-07 14:59] ole108 opened #37 "Genarating DTOs with MapStruct gives compiler error for complex model"
Generating entities including DTOs with jhipster-uml from this JDL file:

[code]

Gives the following Java compilation error when compiling the generated code:

[code]

The full example code can be viewed at:
[github.com/sensorberg-dev/mappingBug](https://github.com/sensorberg-dev/mappingBug)

[2016-07-07 15:51] deepu105 commented on #37
Thats why mapstruct is still in beta.

Thanks & Regards,
Deepu

On Thu, Jul 7, 2016 at 10:59 PM, Ole Bulbuk <notifications@github.com>
wrote:

[2016-07-07 18:12] MathieuAA opened #38 "Generate application from JDL"
This is a big thing, as the 2nd level cache is specified during the application's generation, and not during entity generation... But this has a direct impact on how the entity is to be generated (with or without the annotation in the Java class file).
@jdubois If I'm not mistaken, if I call `yo jhipster` after modifying my app, it will add some new files (from `hibernateCache` with the `no` value

[2016-07-07 21:31] MathieuAA commented on #26
Everything has been implemented in d9785e9. Only the call to `yo jhipster:entity` is not performed by this project.

[2016-07-07 21:31] #26 closed

[2016-07-07 21:32] MathieuAA commented on #28
Closing this as I'm making a release.

[2016-07-07 21:32] #28 closed

[2016-07-08 03:11] deepu105 commented on #38
It would be nice to generate an entire application with DSL but for that the current DSL syntax would need a revamp as it could get too clumsy and cryptic when the model gets bigger.

I really liked what this guy has done https://github.com/hakandilek/vagabond-uml as it feels more natural and fine grained for complex models. The current JDL syntax for entity is great but the one for relationships

[2016-07-08 05:36] MathieuAA commented on #38
I like it, it's intuitive and easy to read.
Good idea!

Le 8 juillet 2016 05:11:16 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-07-08 07:01] MathieuAA opened #39 "A way to bypass the entity filtering."
As proposed here d9785e9.

[2016-07-08 18:21] ruddell commented on #37
Looks this issue again https://github.com/jhipster/generator-jhipster/issues/2006

One way I found to solve it is to create an EntityFromIdMapper interface and use that in each mapper.  Otherwise, I don't know how else you can prevent the entityFromId method from appearing multiple times throughout mappers.

[2016-07-09 18:40] MathieuAA commented on #37
As interesting as this issue may be, this isn't an issue related to this project. I'm closing this. Can someone "create a new issue" on the main project's issue tracker? Thanks.

[2016-07-09 18:40] #37 closed

[2016-07-11 03:22] Denis007 opened #40 "how to generate unidirectional associationto"
I have a problem,I want use unidirectional associationto relationship to entity,but I can't use jdl to generate it

[2016-07-11 05:24] MathieuAA commented on #40
Hi, can you show me how your JDL is formed please?

Le 11 juillet 2016 05:22:55 GMT+02:00, Denis007 <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-07-11 05:42] Denis007 commented on #40
My jdl is this
relationship OneToMany{
	Node{machine} to Machine
}

when generate the machine entity hava
@ManyToOne
@JoinColumn(name = "node_id")
 private Node node;

[2016-07-11 06:13] MathieuAA commented on #40
As far as I know, JHipster only has bidirectional OneToMany relationships (don't know if this has changed though, gotta test). You didn't have any warning message? What tool did you use to parse the JDL?

[2016-07-11 06:20] Denis007 commented on #40
ok,thank you reply, I find the relationship doc https://jhipster.github.io/managing-relationships/,This type of relationship is not provided by default in JHipster at the momen

[2016-07-11 06:41] MathieuAA commented on #40
Yeah... but if the doc's not up-to-date, my entity generation services aren't either. I'm going to test this case tonight.

[2016-07-11 11:34] PierreBesson commented on #38
I really like it. This way we could generate several apps at once which would be awesome for microservices.

[2016-07-12 20:05] #40 closed

[2016-07-27 21:16] ruddell opened #41 "Microservice Entities"
When generating entities for a microservice, the correct attribute in the entity JSON is `microserviceName`.  Currently the generator outputs `microservice` instead.

This issue prevents gateways from generating entities from a microservice

[2016-07-27 22:46] MathieuAA commented on #41
Confirmed, I'll change it in a few hours.

[2016-07-28 18:57] dgorsuch5 opened #42 "JDL ManyToMany is imported as OneToOne"
The following sample JDL is imported as a OneToOne relationship in the class files with jhipster 3.5.1. The json files are created with the correct relationship. To reproduce start with a fresh jhipster project and import the below JDL. See that both Car and Driver classes are generated with OneToOne relationships.

entity Driver
entity Car

relationship ManyToMany {
  Car{driver} to Driver{car}
}

[2016-07-28 19:36] MathieuAA commented on #16
No news from anyone, so I'll close this.

[2016-07-28 19:36] #16 closed

[2016-07-28 19:49] #41 closed

[2016-07-28 19:55] MathieuAA commented on #42
One would think it's a generator's bug here.... Gotta test.

[2016-07-28 20:38] MathieuAA commented on #42
I didn't see any issue at all... For the record, I just pulled master and used it.
Here are all the snippet from the generated files.
[code]

[code]

[2016-07-28 20:40] MathieuAA commented on #42
Did you pull from master, or used the release?

[2016-07-28 20:49] #21 closed

[2016-07-28 21:11] dgorsuch5 commented on #42
I'm using the release. This is what I have generated:

@Entity
@Table(name = "driver")
@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
@Document(indexName = "driver")
public class Driver implements Serializable {

    private static final long serialVersionUID = 1L;

    @Id
    @GeneratedValue(strategy = GenerationType.AUTO)
    private Long id;

    @OneToOne(mappedBy = "driver")

[2016-07-28 23:04] dgorsuch5 commented on #42
Retried it from master and it works as expected.

[2016-07-28 23:04] #42 closed

[2016-07-29 22:36] #39 closed

[2016-07-30 16:02] deepu105 commented on #38
may be we can discuss about the syntax first here and then once everyone agrees it can be added to JDL. what say @jhipster/developers ?

[2016-07-30 16:29] MathieuAA commented on #38
Your suggestion was, and still is, good.  Moreover, as it's possible to use more than one JDL file, a simple scenario would be:
  - One file for the app,
  - X files for the entities.

It would be a good way to encourage conventions and clean project generation.

[2016-07-31 07:16] #25 closed

[2016-08-01 13:29] MathieuAA opened #43 "Check keywords"
From [here](https://github.com/jhipster/jhipster-uml/issues/197).

[2016-08-01 19:26] #43 closed

[2016-08-01 21:53] MathieuAA opened #44 "More tests for the JSON exporter"
Valid JSON files have to be checked against what the service returns:
  -  01c7715

[2016-08-01 22:05] MathieuAA opened #45 "Replace every last occurrence of exists(Sync) by access(Sync) or stat(Sync)"

[2016-08-01 22:13] MathieuAA commented on #45
`statSync` should be preferred here, for continuity's sake.

[2016-08-01 22:18] #45 closed

[2016-08-02 07:59] BuonOmo opened #46 "Inheritance, and 'extends'"
I didn’t find any way to do inheritance. It would nice to do it as java does it:
[code]
I may do it after september if you want but it may take time!

[2016-08-02 08:00] deepu105 commented on #46
Jhipster doesnt support inhertance yet and hence we cannot support as well for now

[2016-08-02 08:00] #46 closed

[2016-08-02 08:14] BuonOmo commented on #46
My bad! I didn’t know that, thank you

[2016-08-02 08:28] deepu105 opened #47 "Create bulk and fine grained relationships"
when creating complex models it would be nice to have features to create relationships more efficiently

I would like to propose 2 new ways for this

1) create an alternate syntax to add relationships naturally to entity which java devs would be familiar to, we do this already for enum why not have same support for relationship as well
We can continue to create the other side automatically as we d

[2016-08-02 08:55] sendilkumarn commented on #47
Option 1 👍  much `cleaner` and `precise`

one change if possible `country Country required` -> `Country country required`

[2016-08-02 08:59] jdubois commented on #47
Yes option 1 is easier, but aren't we going closer and closer to writing a JPA entity itself? My idea, with the questions, was to simplify this (that's why I was doing bi-directional relationships all the time).
Wild idea: maybe we could generated everything from the JPA entities themselves?

[2016-08-02 09:00] MathieuAA commented on #47
The second option is already implemented. And I've already said that I'm against the first because JDL is not Java, and we shouldn't get closer in term of syntax.
Julien, what do you mean by generating everything from the JPA entities?

[2016-08-02 09:01] MathieuAA commented on #46
@BuonOmo If you want to propose a PR for this in the generator first, that would be nice =)

[2016-08-02 09:19] MathieuAA commented on #47
@sendilkumarn, we could invert the field name and type... but that would be a major change (for the users). It's so cheap (in terms of coding and refactoring) a change, I don't mind it.

[2016-08-02 09:22] jdubois commented on #46
I'm not a big fan of inheritance in JPA:

- Lots of performance issues, depending on what you do
- Makes our generator a lot more complex

So for me we should stick to "normal" entities, and if people want inheritance, they need to refactor their entity (and decide which inheritance option they want, and good luck with the performance issues!).

[2016-08-02 09:24] jdubois commented on #47
@MathieuAA as option 1 is looking more and more like a JPA entity, my "wild idea" is to read directly a JPA entity. But the whole point here was to have something simpler, so I'm not sure we're on the right track.

[2016-08-02 09:27] BuonOmo commented on #46
@MathieuAA I think I’m not yet good enough to do it, and if there is a lack of performance, maybe I won’t use it neither for my own projects.
I’ll have to get informations on JPA inheritance before I do anything.

[2016-08-02 10:07] deepu105 commented on #47
I still dont understand and see any justifications to not get closer to
java? What is the issue if syntax is closer to java, JHipster is a java
project and people who design entity with JDL needs to know JPA modelling
to do it and a syntax closer to that would be more ideal and have better
user experience then inventing and introducing new syntax for people to
learn.

Can anybody give me reason or

[2016-08-02 10:11] deepu105 commented on #47
From the beginning the only issue I see with our JDL syntax is that its not
natural to java dev to follow,  I'm taking master classes to a lot of
people and they are finding the syntax weird at first. Of course they are
java devs. If I'm not wrong they are the target audience for JDL and not
javascript or ruby people. So IMO its ok to have a new syntax but atleast
we should make it possible for pe

[2016-08-02 10:14] deepu105 commented on #47
Also my point is not to read from JPA entities, if we can enchance JDL
syntax to have some more features it will start to look like a JPA entity
without all the boilerplate stuff. And that might be good enough

Thanks & regards,
Deepu
On 2 Aug 2016 15:40, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-08-02 10:14] sendilkumarn commented on #47
exactly to sum up, it is very difficult to convince people [ both customers / developers ] to shift towards `jhipster` is, there are a lot of changes.

Again following a separate standard here, will confuse people more.

[2016-08-02 10:20] MathieuAA commented on #47
I may have been too quick to express what I meant, sorry. I'm OK with changing the order of the field name and the type. However, what's the point in writing Java in the JDL to find it **unchanged** in the .java file? If you want to write JPA in the JDL, you can easily do it in the Java file (and you should, JPA syntax should not be mixed with the JDL which is descriptive) without calling any tool

[2016-08-02 11:07] MathieuAA commented on #47
@sendilkumarn, @deepu105 On a lighter tone, do you tell people to RTFM? Because that may be the issue here :)

[2016-08-02 12:25] jdubois commented on #47
@MathieuAA you're going too fast:

- I was just saying we could indeed use the Java entity, and generate everything on top of it. That would be a huge change, and that's why I called it a "wild idea".
- I was also saying we might not be on the right track here, as the idea with JHipster is that we simplify all this. So we have less options than JPA (no inheritance, for example). That doesn't preve

[2016-08-02 13:40] MathieuAA commented on #47
Well, option 2 is already implemented and used. A working example is the branch core_integration of JUML, where users will be able to convert XMI to JDL, and this syntax is used (by default).

[2016-08-02 13:41] deepu105 commented on #47
@MathieuAA I completely disagree with you on that. @jdubois im not suggesting changing JDL or using java here my suggestion is simple make it more natural for people coming from a java background. Any java developer should be familiar with writing entities and relationships and whenever I teach people I start with writing the relationship within the entity and then showing the seperate relationshi

[2016-08-02 13:43] deepu105 commented on #47
@MathieuAA there is a difference between building user friendly software and saying RTFM to whatever we think is right

[2016-08-02 14:03] MathieuAA commented on #47
On no Deepu. Annotations are far from bad! I just cry when I see some form of annotation hell in my models, really.
For the fields, we could invert the name and the type, I don't mind after some consideration... but that's major.
Finally, I agree with you. There's a difference. But if **some** (reading you, one could almost understand you speak of everyone) people don't read the doc, then how is i

[2016-08-02 14:04] #44 closed

[2016-08-02 16:03] deepu105 commented on #47
OK lets be very clear here

1) I'm not suggesting that we use java or JPA I'm suggesting that we add some familiar ways of doing JPA model to JDL instaed of forcing our users to learn a new syntax
Below is a JPA model I definitely dont want to do this in JDL, as @MathieuAA said if I want the below I can do it directly in java. I want something simpler which can generate this and all other required

[2016-08-03 10:47] deepu105 commented on #47
Btw just realized, I wasnt proposing 2 options I was proposing 2 additional ways to declare relationship on top of current syntax.

@MathieuAA btw can you please update the JDL docs with bulk relationship option. Its cool that you have already done it :smile:

[2016-08-03 10:49] deepu105 opened #48 "Refactor reserved keyword check"
As discussed [here](https://github.com/jhipster/jhipster-core/commit/5aae28c4d4d993b16760e30794e2d58f4063ac5d)

Its in progress

[2016-08-03 11:25] MathieuAA commented on #47
it already has been Deepu [there](http://jhipster.github.io/jdl/#relationshipdeclaration).

[2016-08-03 16:30] MathieuAA commented on #48
What about enums?

[2016-08-03 16:50] deepu105 commented on #48
Actually enums are currently not checked in JHipster but ideally it should be checked, ill add the check when I switch to use `jhipster-core` for the checks there

[2016-08-03 16:57] deepu105 commented on #47
Oh damn I really missed that. Good job

Thanks & regards,
Deepu
On 3 Aug 2016 20:28, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-08-03 18:25] #48 closed

[2016-08-07 14:36] MathieuAA opened #50 "JDLBinaryOption (pagination) toString isn't 'paginate'"
It's `pagination`.

[2016-08-07 14:36] #50 closed

[2016-08-11 15:25] jdubois opened #51 "Add support for fluent setters"
This follows the merge of https://github.com/jhipster/generator-jhipster/pull/3751

As of JHipster 3.6.0 (unreleased at the time of this writing), we will have fluent setters by default.

This means a few changes in JHipster Core (and maybe the JDL, but I'm not an expert here):

- All entities must have a `"fluentMethods": true` attribute, see [this test entity for example](https://github.com/jhip

[2016-08-11 15:32] MathieuAA commented on #51
Hi Julien,

If fluentMethods is true everywhere, anytime, why put it in the JSON?
For the rest, it's easy stuff. I'll do it in a branch tonight.

Le 11 août 2016 17:25:37 GMT+02:00, Julien Dubois <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-08-11 15:37] jdubois commented on #51
It can be turned to false with an option, if people don't like it.
Or if it is buggy, which is likely on this first version :-)

Le 11 août 2016 5:32 PM, "Mathieu ABOU-AICHI" <notifications@github.com> a
écrit :

[2016-08-11 16:26] MathieuAA commented on #51
I'll add it tonight in a separate branch so that it can be merged when you release.
--
Mathieu ABOU-AICHI

[2016-08-11 16:37] jdubois commented on #51
You can already merge it: more attributes won't break anything

Le 11 août 2016 6:26 PM, "Mathieu ABOU-AICHI" <notifications@github.com> a
écrit :

[2016-08-11 17:35] MathieuAA commented on #51
Alright then!

[2016-08-11 17:58] MathieuAA commented on #51
@jdubois, I'll release it before you release v3.6.0 so that the subgen will have this. What's your schedule for v3.6.0?

[2016-08-11 19:08] jdubois commented on #51
Should be out soon, we're running out of bugs :-)

[2016-08-12 04:09] deepu105 commented on #51
ok once Mathew release this, we need to update the new core version in JHipster as well

[2016-08-12 07:16] MathieuAA commented on #51
I'll release it tonight. There's one more thing to test.

Le 12 août 2016 06:09:47 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-08-12 12:47] lrkwz opened #52 "Import a jdl definition which uses User entity"
##### **Overview of the issue**

(from https://github.com/jhipster/generator-jhipster/issues/3977)

I wish to use the User entity in order to associate each User with a Customer.

JDL-Importing such a definition generates an error

    $ yo jhipster:import-jdl jhipster-jdl.jh
    The jdl is being parsed.
    Error jhipster:import-jdl jhipster-jdl.jh

    ERROR! Error while parsing entities from JD

[2016-08-12 12:48] lrkwz commented on #52
BTW Using

$ jhipster-uml jhipster-jdl.jh
somehow leads to a result.

[2016-08-12 13:48] MathieuAA commented on #52
Hi, I don't have time right now to check this out, but it seems a very simple issue... I'll fix it tonight. In the meantime, @deepu105 can you look into this?

[2016-08-12 14:13] #52 closed

[2016-08-12 14:15] deepu105 commented on #52
Relationship from User entity is not supported by JHipster and JDL and its clearly documented as well

You can only do relationships to User entity that too only many-to-one, one-to-one and many-to-many and User cannot be owner in any of these case
[code]

[2016-08-12 14:17] deepu105 commented on #52
Not sure why the error message appears as object though

[2016-08-12 14:23] MathieuAA commented on #52
Thanks Deepu :)

[2016-08-12 14:28] deepu105 commented on #52
Its weird when I run the same JDL I see proper error message but @irkwz seems to get [object Object]
[code]

@MathieuAA  can you run the JDL when you have time and see if you are getting the same error as mine above.

[2016-08-12 14:36] lrkwz commented on #52
Just discovered that the installed core is "jhipster-core@1.1.2"

How can I upgrade the core?

[2016-08-12 14:50] lrkwz commented on #52
@deepu105 what you say is perfectly reasonable to me but still the is the problem:

I've created a simple project which you can use https://github.com/lrkwz/jhipster-extend-user-test

Try

    yo jhipster:import-jdl customer.jh user-to-customer.jh

and

    yo jhipster:import-jdl customer.jh customer-to-user.jh

where ```user-to-customer.jh``` is

[code]
and ```customer-to-user.js``` is

[code]

[2016-08-12 15:22] deepu105 commented on #52
@lrkwz as I said we do not support relationships from User so your `customer-to-user.js` is valid but `user-to-customer.jh` is invalid as `User` is a special entity and we do not support any relationships that alter this entity. If you need a relationship from User you would have to do it manually by hand.

[2016-08-12 15:24] deepu105 commented on #52
The project you shared doesnt have any relationship to customer from User, may be you used an older version of JDL or JHUML where the error message was not thrown and the relationship was just ignored

[2016-08-13 14:11] MathieuAA commented on #51
Closing this as v1.1.7 is released.

[2016-08-13 14:11] #51 closed

[2016-08-15 12:32] brunnels opened #53 "import-jdl json generation issue with microservice"
Using jhipster 3.5.1.

I'm seeing a problem with the JDL config line used to define the microservice for a table.

Docs say do it like this

[code]

In the entity json file this comes through as

[code]

I think this is incorrect and should actually be "microserviceName": "jhipsterapp"

If not on the gateway all the entities are created on the gateway rather than just the frontend.

[2016-08-15 13:13] MathieuAA commented on #53
Hi, it has been fixed some time ago, but v3.5.1 must not be up-to-date in that regard...

[2016-08-15 13:13] #53 closed

[2016-08-15 22:21] ruddell opened #54 "Extra User Warning"
When I import the below JDL, I get a warning about User even though User was not referenced.  This is with master version of jhipster which links to v1.1.7 of jhipster-core

[code]
JDL from Microservice section of documentation:
[code]

On a side note, the line `search * with ElasticSearch except C` from the Microservice section of the documentation is considered invalid JDL.

[2016-08-16 05:10] deepu105 commented on #54
I thought I fixed that warning. Let me check

Thanks & regards,
Deepu

On 16 Aug 2016 00:21, "Jon Ruddell" <notifications@github.com> wrote:

[2016-08-16 05:20] ruddell commented on #54
Your right, because I ran `npm link generator-jhipster` in the generator-jhipster project, it didn't update jhipster-core and I still had v1.1.5...  Sorry for the trouble.

`npm WARN skippingAction Module is inside a symlinked module: not running add jhipster-core@1.1.7 node_modules/jhipster-core
`

[2016-08-16 05:20] #54 closed

[2016-08-26 10:20] deepu105 opened #55 "Add support for Blob Type Text"
With JHipster we currently support Type `TEXT` for `blob` along with `image` and `any` we can add this to JDL as well

[2016-08-26 11:15] MathieuAA commented on #55
Is it not already supported?

[2016-08-26 16:09] deepu105 commented on #55
Its not mentioned in the docs, there is only Blob and anyBlob

Thanks & regards,
Deepu

On 26 Aug 2016 16:45, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-08-26 17:02] MathieuAA commented on #55
See the code

Le 26 août 2016 18:09:01 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-08-26 17:10] ruddell commented on #55
@MathieuAA I see `fieldTypeBlobContent` for both 'any' and 'image' but not 'text'
https://github.com/jhipster/jhipster-core/blob/d7c3951fb9dcd8d284ab5301270df87347a8d48f/lib/parser/entity_parser.js#L153

[2016-08-29 06:57] MathieuAA commented on #55
Oh my mistake then! I assumed Any meant Text too.

[2016-08-31 18:25] MathieuAA commented on #55
It doesn't seem I can find it right now, would it be an alias for the `any` pseudo-type?

Le 26 août 2016 19:02:02 GMT+02:00, Mathieu Abou-Aichi <mathieu.aa@free.fr> a écrit :

--
Mathieu ABOU-AICHI

[2016-09-03 11:41] #55 closed

[2016-09-05 18:04] MathieuAA commented on #10
Deepu, I'll postpone this for another time. After releasing v2.0.0 of JUML, I'll work on another huge project, so this can wait as it's not on my todo-urgently list.

[2016-09-16 21:05] MathieuAA opened #57 "Add the 'noFluentMethod for'"
So that when the JDL is:
[code]
Only A won't have fluent methods.

[2016-09-18 20:29] #57 closed

[2016-09-18 20:30] MathieuAA opened #58 "Correctly handle unary options"
Doesn't handle correctly unary options (fluent methods, client code generation skipping, etc.).

[2016-09-18 20:30] MathieuAA commented on #58
Fixed in b20e4ca.

[2016-09-18 20:30] #58 closed

[2016-09-19 19:04] ruddell opened #59 "Comments and relationship block issue"
The following JDL is considered invalid due to the comment in the relationship block.  It throws the error `Expected ",", "}" or a space but "/" found.`.  Comments in this format work elsewhere and are found in the documentation.
[code]

[2016-09-19 19:14] ruddell opened #60 "Gateway validates based on own databaseType"
When generating entities on the Gateway with a Microservice's JDL, the validation uses the Gateway's databaseType.  It should just generate the UI as the entity has no server code.  Two examples:
1. When the Gateway uses Cassandra, the microservice entities are checked for Cassandra fields even if the entity table (in the microservice) uses another database type.  In this case, `ZonedDateTime` is

[2016-09-19 20:36] MathieuAA commented on #59
Nice catch! I'll fix it for v1.1.10. Thanks Jon!

[2016-09-19 20:37] MathieuAA commented on #59
Oh and by the way, it won't work as it will expect to find a `name` attribute in the Author entity =) but the bug stands.

[2016-09-19 20:38] MathieuAA commented on #60
I think I can fix it pretty easily. I'll see about that tomorrow.

[2016-09-20 07:34] deepu105 commented on #60
Is this handled correctly in the entity sub generator?

Thanks & regards,
Deepu

On 20 Sep 2016 02:08, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-22 22:18] ruddell opened #61 "Pushed over master"
I was rebasing my local copy of jhipster-core (which turned out to be a clone of this rather than my fork) to submit a fix and I messed something up badly. @MathieuAA I pushed v1.1.8 over your work.  Can you please fix it?  Sorry! I'm so embarrassed...

[2016-09-22 23:00] ruddell opened #62 "TextBlob not recognized"
I get the following error on v1.1.8
[code]
I think the reason for this is because TextBlob is not found in [field_types.js](https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/field_types.js)

[2016-09-23 03:58] deepu105 commented on #61
I dont see any commits from you here. Also do you have write access to this repo?

[2016-09-23 04:48] ruddell commented on #61
That's the issue - The latest commit was https://github.com/jhipster/jhipster-core/commit/b20e4cab577719d10e51d3ac7c99ca672604ec8e but I pushed an older version over this.

I had a script that fetches from upstream, rebases, and force pushes (I use it to keep my local generator-jhipster updated to master, commands are from JHipster contributing guide) but the repo was a direct clone instead of my

[2016-09-23 05:53] deepu105 commented on #61
Scripting force push/delete stuff is bad man  :P

Thanks & regards,
Deepu

On 23 Sep 2016 10:18, "Jon Ruddell" <notifications@github.com> wrote:

[2016-09-23 10:11] deepu105 commented on #61
I think @MathieuAA would have to force push his local repo without doing a pull from this. else we need to restore the repo to this state https://github.com/jhipster/jhipster-core/tree/b20e4cab577719d10e51d3ac7c99ca672604ec8e still the release commit for 1,1,9 and the tag for same will be missing

[2016-09-23 10:15] deepu105 commented on #61
then there is this as well https://dzone.com/articles/git-tip-restore-deleted-tag

[2016-09-23 11:05] MathieuAA commented on #61
First of all, don't worry. Everyone makes mistake, and you kinda just wrote history here so I'd say that's a big thing (and it's pretty awesome when I think of it) =) @deepu105 Leave it to me.

[2016-09-23 11:15] #61 closed

[2016-09-23 11:15] #62 closed

[2016-09-24 08:40] cbornet opened #64 "JSON to JDL converter"
Is there any way to convert existing json entities to jdl ?
If not it could be handy to have one for people moving their project to jdl

[2016-09-24 08:53] deepu105 commented on #64
Its not possible with current code. It would require a reverse parser. Im
not sure if thats worth the effort

Thanks & regards,
Deepu

On 24 Sep 2016 14:10, "Christophe Bornet" <notifications@github.com> wrote:

[2016-09-24 09:09] cbornet commented on #64
OK.
Since it's JSON, parsing should be easy and regenerating jdl doesn't look too hard. I'll check it if that's not too much effort.

[2016-09-24 10:16] MathieuAA commented on #64
It would actually be easy to do such a thing. @cbornet Do you want to do it?

[2016-09-24 10:53] cbornet commented on #64
Yes, I can do it.

[2016-09-24 16:18] cbornet commented on #64
Your toString() methods in each jdl class make my life too easy :smile:
Great job @MathieuAA @deepu105 !

[2016-09-24 18:36] MathieuAA commented on #64
Thanks Christophe!

Le 24 septembre 2016 18:18:52 GMT+02:00, Christophe Bornet <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-09-24 18:37] deepu105 commented on #64
+1

Thanks & regards,
Deepu

On 25 Sep 2016 00:06, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-26 13:06] cbornet commented on #64
Almost done.
Do you know what angularSuffix option is for ? I don't see it anywhere in the JHipster's code.

[2016-09-26 13:08] deepu105 commented on #64
[code]

[2016-09-26 13:11] cbornet commented on #64
Yes but where is it used ?

[2016-09-26 13:30] cbornet commented on #64
JHipster-core doesn't seem to convert JDL angularSuffix to Json angularJSSuffix. Do you confirm ?

[2016-09-26 14:01] deepu105 commented on #64
If im not wrong its used in the entity state config to add a suffix to
route names

Thanks & Regards,
Deepu

On Mon, Sep 26, 2016 at 6:41 PM, Christophe Bornet <notifications@github.com

[2016-09-26 14:23] MathieuAA commented on #64
Weird. I'll have look at it later today.

Le 26 septembre 2016 15:30:56 GMT+02:00, Christophe Bornet <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-09-26 14:23] MathieuAA commented on #64
Wait. Since when angularJSSuffix is a thing?

Le 26 septembre 2016 15:30:56 GMT+02:00, Christophe Bornet <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-09-26 14:26] deepu105 commented on #64
Its been there for almost 6 months if not more I guess.

Thanks & regards,
Deepu

On 26 Sep 2016 19:54, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-26 14:37] MathieuAA commented on #64
That's not what I meant Deepu. Since when there's an angularJSSuffix in the JSON entity files? I know it was added a long time ago.

[2016-09-26 14:39] deepu105 commented on #64
Oh ok. I need to check that

Thanks & Regards,
Deepu

On Mon, Sep 26, 2016 at 8:07 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2016-09-27 17:00] #64 closed

[2016-09-28 17:07] ruddell opened #66 "Mariadb does not check reserved keywords"
If you use MariaDB, it should check the MySQL keywords.   Currently [this check](https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/reserved_keywords.js#L13) will always return false because MARIADB isn't a key in the RESERVED_WORDS constant.

`if (type === 'mariadb') type = 'mysql';` fixes it but you might know a better way.

[2016-09-28 17:32] MathieuAA commented on #66
@deepu

Le 28 septembre 2016 19:07:38 GMT+02:00, Jon Ruddell <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-09-28 20:01] MathieuAA commented on #66
cc @deepu105

[2016-09-29 03:56] deepu105 commented on #66
Ill check tomorrow guys, its an easy fix

Thanks & regards,
Deepu

On 29 Sep 2016 01:31, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-29 08:22] #66 closed

[2016-09-29 08:22] deepu105 commented on #66
I think the proper solution would be to either have a set of keywords for MARIADB, for now Im creating a copy of mySQL. @ruddell is that ok? does mariadb have any extra reserved words?

[2016-09-29 08:58] MathieuAA commented on #66
@deepu105 good idea

[2016-09-29 16:03] ruddell commented on #66
That works, they should be the same.  Thanks!

[2016-09-30 13:47] deepu105 commented on #38
But there is one problem that needs to be tackled. We need to validate the
options so that people can do only supported combinations. May be i can
provide some templates in jdl studio to start

Thanks & regards,
Deepu

On 30 Sep 2016 19:08, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-30 13:48] MathieuAA commented on #38
Ah good idea. I guess these two tasks are linked, so let's just enumerate what needs to be done first and then actuallly do the job.

[2016-09-30 14:00] deepu105 commented on #38
I'm thinking of providing a create app button, I also wanted to do create
entity and create relationship button as well but thats a different topic.

So when people click the button I can ask them to choose from a predefined
list of supported combination which ill just append to the JDL and then
user can just edit the values and tune as required.

On the jhipster core side we need to validate the

[2016-09-30 14:05] MathieuAA commented on #38
I think that's what Jose would do =)
An easy impl would be to use a tree.

[2016-09-30 14:07] deepu105 commented on #38
Who is Jose?

Thanks & regards,
Deepu

On 30 Sep 2016 19:35, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-30 14:08] MathieuAA commented on #38
The guy who will make JDL plugins for IDEs, from an issue in JDL studio.

[2016-09-30 14:10] deepu105 commented on #38
Oh him. Ya it can be done for the plugin as well but I want to do it for
jdl studio as well. Unfortunately i think both projects might not be able
to share code due to different underlying techs

Thanks & regards,
Deepu

On 30 Sep 2016 19:38, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-09-30 15:07] MathieuAA commented on #38
I don't know about that. You know what? Let's first finish what needs to be done, and see if we can share things a bit later. Premature opti is, apparently, the root of all evil ;)

[2016-09-30 15:59] deepu105 commented on #38
@MathieuAA agreed.

may be lets do a patch release with current bug fixes, I think few are ready. then we can work on this and do a minor release what say?

[2016-09-30 17:11] MathieuAA commented on #38
Yes. A minor would be cool for Christophe's feature.

Le 30 septembre 2016 17:59:39 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI
--
Mathieu ABOU-AICHI

[2016-09-30 17:11] MathieuAA commented on #38
Yes. A minor would be cool for Christophe's feature.

Le 30 septembre 2016 17:59:39 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-03 14:06] cbornet commented on #64
For the impatient ones, the awesome script I used to convert my json to jdl file.

[code]

[2016-10-03 14:52] MathieuAA commented on #64
Christophe, why don't you propose a PR in the docs? As a release should happen this week, better be prepared to make it available as soon as the release is... released.

[2016-10-03 14:54] deepu105 commented on #64
you can add this as a sub gen `jhipster:export-jdl` or as an option flag
`export` to import jdl. I guess sub gen will be cleaner

Thanks & Regards,
Deepu

On Mon, Oct 3, 2016 at 7:36 PM, Christophe Bornet <notifications@github.com>
wrote:

[2016-10-03 17:40] cbornet commented on #64
Of course this will be a subgen. I was waitng for the release bit maybe we could prepare a PR.

[2016-10-03 17:41] deepu105 commented on #64
you can do PR and we can merge it once core is released :)

Thanks & Regards,
Deepu

On Mon, Oct 3, 2016 at 11:10 PM, Christophe Bornet <notifications@github.com

[2016-10-03 20:47] MathieuAA opened #67 "Type validation in the grammar?"
The validations are currently checked in the grammar, maybe the types should be too.

[2016-10-03 21:03] #59 closed

[2016-10-03 21:05] MathieuAA opened #68 "Reduce execution time for the "when exporting JDL to entity json for an existing entity it exports it with same changeLogDate" test"
It takes one second to run.

[2016-10-03 21:07] MathieuAA commented on #68
@deepu105 Why does it take this long?

[2016-10-03 21:25] MathieuAA commented on #68
Oh. I've found out why... I'm gonna ask a stupid question.

@jdubois Could making the changelogDate more precise be a good idea? Currently, we have something like `20160926101210`, and I'd want it to be `20160926101210XXX` where XXX would be the millis. Seconds are not precise enough, even though generating a JSON file (and the rest for an entity) _may_ take more than one second now, it would be a

[2016-10-03 22:19] jdubois commented on #68
@MathieuAA that's because I never thought we would generate all the entities automatically :-)
I also copied this on Rails migrations, which I believe have this format by default. So we are being more precise than Rails!!
I'm not sure of what will happen if you have a mix of second/millisecond precision files -> we don't really order them by name, in the end the order used is the one in the master

[2016-10-04 01:20] deepu105 commented on #68
I have manually added a wait time of 1 second to check the case of
generating the same changelog again. If this bothers you remove the test
case newly added. I personally dont mind an extra second spend for better
coverage. Note that its only for the tests.

Thanks & regards,
Deepu

On 4 Oct 2016 02:37, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-04 01:22] deepu105 commented on #68
It shouldn't matter much even if we add the millis I guess.

Thanks & regards,
Deepu

On 4 Oct 2016 03:49, "Julien Dubois" <notifications@github.com> wrote:

[2016-10-04 04:08] deepu105 commented on #68
Only issue I see is backward compatibility. May be lets do it for the next major version if needed as its not a big issue currently

[2016-10-04 06:49] MathieuAA commented on #68
@jdubois Shame on them!

@jdubois, @deepu105: there may be an easy, and retro-compatible way to do that. I'll try to get a PR by tonight if I get back home early tonight (work, always work...).

[2016-10-04 06:54] jdubois commented on #68
OK but still I don't think there is an issue. The files are listed in the
master.xml.

Work, work, work, work, work...

Le 4 oct. 2016 8:49 AM, "Mathieu ABOU-AICHI" <notifications@github.com> a
écrit :

[2016-10-04 08:13] davidweianibone commented on #19
Hi Mathieu, was this issue solved ? I am also facing this issue

[2016-10-04 08:25] MathieuAA commented on #19
What? Again? It has already been released... Are you sure you're using the last version of JHipster?

[2016-10-04 08:29] davidweianibone commented on #19
yes. I am new with JHispter. Just installed it two days ago

[2016-10-04 08:33] MathieuAA commented on #19
I'll reopen this in a "to test" state. I'll test it tonight.

[2016-10-04 08:36] davidweianibone commented on #19
Thanks a lot :) waiting for your test results and reply

[2016-10-05 08:41] MathieuAA commented on #19
Hi, I didn't have any issue with grammar... are you sure it's the same stacktrace? if not, please create a new issue and give us all the information we might need.

[2016-10-05 22:24] davidweianibone commented on #19
Thanks Mathieu, I will try again tomorrow and let you know

[2016-10-06 04:56] MathieuAA commented on #19
I forgot: is it the same JDL? if it differs, then you might have found a bug.

[2016-10-06 05:12] davidweianibone commented on #19
Same one as in JHipster studio. Not sure if it matters, but it was on a monolithic App.
I have created a new microservice and will try the JDL again today

[2016-10-06 06:39] MathieuAA commented on #19
Oh. What does matter is the fact that the problem seems to happen when one uses the JDL-Studio. @deepu105 can you investigate please?

[2016-10-06 07:14] deepu105 commented on #19
First of all there is no such sample in JDL studio, second I do not do any processiing on the JDL content its exported as it is. Third @davidweianibone hasnt given any useful info like JDL file, stack trace etc for us to investigate
@davidweianibone if you have an issue please open a new ticket with JDL used and error stack trace and steps to reproduce

[2016-10-06 07:14] #19 closed

[2016-10-06 11:56] jbadeau opened #69 "SOAP service"
Hi,

Even though REST is being used more and more; SOAP is still important especially in enterprises. Do you guys have any plans to add support for soap services:

JDL syntax could be something like

service LibraryService {
    Book* findBooksByTitle(String title);
    Book findBookById(String bookId);
}

[2016-10-06 12:00] jdubois commented on #69
- it could be a module, clearly I understand your point and see the interest
- it won't be in the main generator, as our goal is it generate REST services, to be used by AngularJS (and also other technologies), and we are not going to generate everything

[2016-10-06 12:00] #69 closed

[2016-10-06 14:00] jbadeau commented on #69
ok

[2016-10-06 14:19] deepu105 commented on #69
I started a module to do jaxb + springweb services sometime back but didn't
find time to complete it. But yes this is clearly a module material

Thanks & regards,
Deepu

On 6 Oct 2016 17:30, "Julien Dubois" <notifications@github.com> wrote:

[2016-10-06 20:01] MathieuAA commented on #60
JHipster Core's ReservedKeywords module checks if a class name, a field, or a table name is reserved. To do so, a database type has to be passed (and nothing else except the value to check). Here, JHipster core has no business knowing what is passed as database type, or application type... it just "checks".
After all, it ultimately depends on where you use the subgen. @deepu105 @ruddell I don't th

[2016-10-07 04:09] deepu105 commented on #60
I agree with Mathew. Jh core is agnostic of where we use the parser and for
what. Hence if we are running a microservice JDL we need to pass in the db
type appropriately from the sub generator itself. Its bit tricky but should
be possible to do similar to how we do it on entity sub generator. Let me
take a look at what can be done when I find time.

Thanks & regards,
Deepu

On 7 Oct 2016 01:31, "M

[2016-10-07 05:10] jbadeau commented on #38
I was think about this very thing the other day. Some of my thoughts:

1. The jdl language could me mastered in xtext and a studio grammer generated or viseversa.
2. I very much like the approach of being able to define a complete app and/or microservixe on jdl
3. It would be nice if the cli commands resulted in a jdl file.
4. Was playing around last night and realized we can use the jdl-studio re

[2016-10-07 05:28] MathieuAA commented on #38
@jbadeau Great minds think alike! Another thing I had in mind is some kind of versioning feature. Take Liquibase for instance, we can replay every change from one point to another with it. Having this kind of use for the JDL is something I'd like to see (and make happen) in the near future (point 3).
I have a question, can we move objects (relationships, classes) around in the IDE version and edit

[2016-10-07 05:39] jbadeau commented on #38
Currently its render only as it was fast but we are aware people might like to edit via the diagrams. The jdl studio has a nice looking renderer and it would be nice to reuse it if we can. I am currently involved in another dsl project where we are in need of a web based diagram solution so it would be great to build on the  existing work put into the studio renderer. Thats all new for me.
@deepu1

[2016-10-07 05:50] jbadeau commented on #38
There is or was a ptoject that generated projects based on a dsl. http://sculptorgenerator.org/documentation/hello-world-tutorial. I think it was great but too complex and too many options. I think people like jhipsters opionated view, too many options just confisrs people. Still i think the project solved some of the issues of generating an app based on a dsl. Might be interesting to learn how th

[2016-10-07 06:00] jbadeau commented on #38
The annotation approach of vagabond-uml is pretty elegant

[2016-10-07 06:30] MathieuAA commented on #38
VUML introduces redundancy in the DSL, which is done by the annotations (but I agree, it's nicely done). Fortunately, if (huge if here) we make JDL do things like services, it won't be that different for us (except for the JHipster part), it just won't need annotations. The point of the project (VUML) is to have a greater level of control than what's currently available in JHipster... And I don't

[2016-10-07 06:41] jbadeau commented on #38
Is there an issue or some place where u guys discuss the jdl grammer

[2016-10-07 06:53] deepu105 commented on #38
@jbadeau Glad you found a way to use the renderer from JDL studio in eclipse. I guess there are stuff we can use from each other. Fortunately the renderer in JDL studio is not tied to the editor hence it can be used with any editor as long as you pass the json object to it.
I really loved the feature set @cbornet showed on vscode and would love to have it in JDL studio, I'm ok to change editor if

[2016-10-07 07:37] MathieuAA commented on #38
That's what I want Deepu =) but replacing JSON by the JDL does not seem wise. They can live together.

Le 7 octobre 2016 08:53:19 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-07 07:44] cbornet commented on #38
I also like the annotation syntax for options but I'm maybe too biased by my Java background...
I would even propose something like
[code]
As for the relationships, I like the fact that they are described outside of the entities. It makes it easier to figure the full nature of the relationship and not only one side of it. It's also easier to hint the user on what type of relationships he can defin

[2016-10-07 08:04] deepu105 commented on #38
@cbornet I was also thinking of syntax similar to yours, but was then trying to reduce number of annotations to support :)
For relationships yes, I do like current way of doing it, what I proposed is just an additional syntax sugar which would be easier to understand for people from Java background who are new to JDL but knows JPA

[2016-10-07 08:29] MathieuAA commented on #38
I will create (today or tomorrow) two projects for this repo:
  - Grammar improvement,
  - Application generation from JDL.

We will be able to discuss these kind of things in separate threads, and write down what needs to be done.

[2016-10-07 09:47] deepu105 commented on #38
Also we need to see if the grammer for the IDE project can be used from
this repo instead of writing again there. Not sure if feasible but worth a
try

Thanks & regards,
Deepu

On 7 Oct 2016 13:59, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-07 10:26] MathieuAA commented on #38
I doubt it. PegJS uses its own syntax. Converting it might do the trick, but I'm not sure at all.

Le 7 octobre 2016 11:47:23 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-07 13:23] jbadeau commented on #38
xtext is very good at generating other grammers xtext => PegJS

[2016-10-07 13:24] jbadeau commented on #38
ecore is also able to serialize into many formats XMI,JSON,XML ...

[2016-10-07 14:29] jbadeau commented on #38
@colameo check out the part the diagram. GEF4 maybe? or some SVG?

[2016-10-07 15:31] colameo commented on #38
![screen shot 2016-10-07 at 17 27 41](https://cloud.githubusercontent.com/assets/629760/19195932/d0a1507e-8cb3-11e6-9e82-98a26ef72d26.png)
...hm, interesting discussions going on here ;-)

Personally I would separate concepts and having different DSLs each related to its own specific domain ("domain specific" ;-)).

An entity model should allow users to model only entities. Service related stuff s

[2016-10-07 15:49] deepu105 commented on #38
@colameo this cannot be used as it is without the visual layout, thats the main reason I wrote JDL studio. As I said I'm ok to switch the editor alone as long as its feasible. Also note that current JDL studio is just a client only app there is no server running. That means there should be a way to get static assets from the IDE project. If thats possible I can see if I can replace the codemirror

[2016-10-07 17:13] colameo commented on #38
@deepu105 a visual component to the web editor could be added similar to the plantuml integration in the IDE project. Xtext generates from the grammar an EMF model which represents the AST of a lang. We usually use this (Ecore) model to write generators or interpreters. Have a look to the [plantuml renderer](https://github.com/jhipster/jhipster-ide/blob/master/io.github.jhipster.jdl.ide/src/io/git

[2016-10-07 17:38] deepu105 commented on #38
But how are you proposing to serve it, I guess it would require a dedicated
server doesnt it?

Thanks & Regards,
Deepu

On Fri, Oct 7, 2016 at 10:43 PM, Serano Colameo <notifications@github.com>
wrote:

[2016-10-07 17:51] colameo commented on #38
Yes, that's true... what about building a docker image? Most developers have anyway docker installed on their machine, so shouldn't be a problem (I guess ;-)).

[2016-10-07 18:04] jbadeau commented on #38
Is there a jhipster slack channel for developers?

[2016-10-07 18:07] jbadeau commented on #38
Correct me if im wrong but if eclipse or intellij ... are running then the broeser can talk to it. Could evennuse the embedded browser to put it in the ide?

[2016-10-07 19:55] MathieuAA commented on #38
Ok guys, I've created two projects. One is "Grammar Improvement", and the other is "Application Generation - JDL". I've also added READMEs so as to be precise and clear about things, feel free to contribute!
Now the tricky part (open to suggestions): when contributing to project 1 or project 2, use the branches "project/grammar_improvement" or "project/app_generation".
If you want, we can lock the

[2016-10-07 20:00] jbadeau commented on #38
@deepu105 @jhipster/developers

1. I think that in the long run maintaining 2 grammers (xtext & PegJS) will be expensive, especially as the language evolves with more features. I think as Xtext supports eclipse, intellij, web and LPS environments (vscode, che, redhat) it is prob the best option.

2. I myself am very very interested to work with @deepu105  on the editable diagram support. There are

[2016-10-07 20:19] MathieuAA commented on #38
I don't see how to use the Xtext grammar in this project. If I'm missing something, please do tell me...
Using PegJS is not a bad thing as it does the job pretty easily (even if the parser is ugly as hell).
However, converting one form of grammar to another seems like a good but difficult to implement idea... The irony of it is that one could make a PegJS grammar to convert the grammar from this p

[2016-10-08 05:19] deepu105 commented on #38
@colameo @jbadeau The idea of JDL studio is to have a simple web app to visualize entity creation for real world projects, so we really cannot ask people have docker or IDE open for it to work, which IMO is very bad user experience. And I dont see any advantage here as well, the only thing I'm interested in is the stuff shown in vscode extension (which if required I can build in JDL studio as well

[2016-10-08 09:21] colameo commented on #38
As long as every change in the JDL structure is documented (JDL examples would be enough) we can make sure to keep the IDE project compatible. This would be for me the best feasible way to keep both projects in sync. Xtext has many "special" grammar concepts which will be quite difficult to maintain in a PegJS-to-Xtext transformer. Vice versa could be possible (e.g. Xtext generates ANTLR grammar),

[2016-10-08 09:24] MathieuAA commented on #38
@colameo Got it. Tell me if you need anything.

[2016-10-09 13:56] davidweianibone opened #70 "Error: Could not find or load main class org.apache.maven.wrapper.MavenWrapperMain"
Hi, after successful boots of my project and pushing to git repository, I pulled back the project and tried running again, getting the following exception.

Error: Could not find or load main class org.apache.maven.wrapper.MavenWrapperMain

seems like I am missing the maven-wrapper.jar for some reason.
Any ideas ?

[2016-10-09 14:31] MathieuAA commented on #70
Hi, this is not the place for such an issue as it doesn't (as far as I'm concerned) concern the JHispter core project. You should post this in the generator's issue tracker.
Moreover, you'd have to give us more information (the commands you did, versions, etc.).

[2016-10-09 14:31] #70 closed

[2016-10-09 17:36] MathieuAA opened #71 "The User entity isn't dealt with correctly"
Sample JDL:

[code]

[2016-10-09 17:41] deepu105 commented on #71
you cant do oneToMany to User its prohibited in jHipster. what is the issue?

[2016-10-09 18:07] MathieuAA commented on #71
Just wondered if we could manage that somehow

Le 9 octobre 2016 19:41:59 GMT+02:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-09 18:13] MathieuAA commented on #71
But I realized too late this wasn't a bug... thus the confusion.

[2016-10-09 18:15] #71 closed

[2016-10-10 16:20] jbadeau opened #72 "feature based java packages"
Hi,

I have seen that the angular codebase is following best practices by organizing code based on features. Is there an plan to do this for the java code as well?

Jose

[2016-10-10 16:33] MathieuAA commented on #72
Hi Jose,

Post about it in the generator project please, as it is the only repo dealing with that. Thanks.

Now my 2 cents: it would not be considered standard, as it's convenient to know where each piece of code is located (ie. controllers, models, etc.). It's a kind of implicit convention... Going away from it would not be considered good practice. Others might disagree however, I've experienced

[2016-10-10 18:42] #72 closed

[2016-10-11 10:37] anjia0532 opened #73 "too many space and wrap when i use yo jhipster:import-jdl generate entity"
https://jhipster.github.io/jdl/#a-namecommentingjdla-commenting--javadoc support java-doc it's so cool,but something is wrong with the `yo jhipster:import-jdl`

jdl code like this
[code]

generator Blog.java like this

[code]

it has too many space and wrap to manual remove it

[2016-10-11 10:40] anjia0532 opened #74 "create entitry field is not null,but swagger say optional"
i creating an entity e.g. `Blog`

jdl code like this
[code]

save as jhipster-jdl.jh

`yo jhipster:import-jdl jhipster.jh`

[code]
but on the swagger(http://localhost:8080/#/docs  admin>API->choose Blog Resource->Model) ,it's optional, like this
![sp20161011_163202](https://cloud.githubusercontent.com/assets/15098916/19263721/4e283778-8fd0-11e6-87d4-cc96cd33877b.png)

i have to change Blog.java

[

[2016-10-11 11:00] anjia0532 opened #75 "How to invoke another microservice application"
i'm newbie in JHipster and i'm trying to figure this, when i create two microservice applications, e.g. micro1,micro2,  how to call each other between micro1 and micro2?
thrift ? grpc-java ? httpclient ? HttpURLConnection ? Sping RestTemplate?

[2016-10-11 11:05] anjia0532 commented on #75
like  MicroserviceSecurityConfiguration.java ? use the RestTemplate

[code]

[2016-10-11 11:29] MathieuAA commented on #75
Hi, this is not the place to post this. Post it in the generator's issue tracker, use the Gitter or post in StackOverflow. Thanks.

[2016-10-11 11:29] #75 closed

[2016-10-11 11:32] MathieuAA commented on #74
Closing this as this issue [here](https://github.com/jhipster/generator-jhipster/issues/4308) has not been closed (and it's not the right place to post it...).

[2016-10-11 11:32] #74 closed

[2016-10-11 11:32] pascalgrimaud commented on #75
@MathieuAA is right
And there is already a big discussion about this and a lot of interesting links (blog, sample repo, tuto, etc.) here -> https://github.com/jhipster/generator-jhipster/issues/3649

[2016-10-11 11:32] MathieuAA commented on #73
I'll test this... but I doubt it's my fault.

[2016-10-11 11:33] MathieuAA commented on #75
Thanks Pascal :)

[2016-10-11 13:22] anjia0532 commented on #73
@MathieuAA
thanks, that's my jhipster info

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

ls: no such file or directory: .jhipster/*.json
##### **Browsers and Operating System**

java version "1.8.0_74"
Java(TM) SE R

[2016-10-11 13:51] anjia0532 commented on #75
@pascalgrimaud @MathieuAA thanks,it's cool,[jhipster/generator-jhipster#3649](https://github.com/jhipster/generator-jhipster/issues/3649)

[2016-10-11 20:24] MathieuAA commented on #73
Here is the generated JSON file:
[code]

Here is the generated Java class file:
[code]

And the culprit should be `formatAsApiModel `.
@deepu105: I'm closing this.
@anjia0532: Thanks for finding this =) The team dealing with the generator will handle the issue from now on.

[2016-10-12 02:30] #73 closed

[2016-10-13 12:16] AnassTeemo opened #76 "Required relationship SyntaxError - Jhipster-uml"
Hi!

In order to create a required relationship using JDL, I found ([Here](https://github.com/jhipster/jhipster-core/blob/master/test/test_files/required_relationships.jdl)) that we can do this:

    entity A
    entity B

    relationship ManyToOne{
      A{b required} to B
    }

When I run the following command `jhipster-uml myjdlfile.jdl` I get this:

    An error has occurred:
            Syn

[2016-10-13 12:34] MathieuAA commented on #76
Hi, the state of the master branch is different than the one used in JHipster UML v1.6.5. You have to use the subgen to deal with JDL files (`yo jhipster:import-jdl YOUR_FILE`).

[2016-10-13 12:34] #76 closed

[2016-10-13 12:40] AnassTeemo commented on #76
Can I solve this SyntaxError by upgrading my  Jhipster UML?

[2016-10-13 13:05] MathieuAA commented on #76
Nop. JHipster UML doesn't deal with JDL anymore. That's why I told you about the subgen.

[2016-10-18 19:25] #68 closed

[2016-10-19 06:51] gshah188 opened #78 "css change on basis of language"
Hi everyone,

I have configured  Arabic as additional language in my JHipster project.  What I want if user select Arabic language page should load different set of css files e.g., instead of cssfile1.css cssfile2.css should be loaded. Can anyone recommend best practice to do this.

[2016-10-19 06:56] gmarziou commented on #78
Hello, this is an issue tracker, a better place for questions or discussions is on stackoverflow or gitter.

[2016-10-19 06:56] #78 closed

[2016-10-20 13:15] cbornet opened #79 "Relationships to User entity are missed when exporting Json to JDL"
Obviously, I forgot this use case...

[2016-10-20 13:32] MathieuAA commented on #79
Did you check with all the relationship types? I know that some can't be generated.

[2016-10-20 13:34] cbornet commented on #79
I think it's just that because User is not found in the list of entities, the relationship is not created
I'm working on a fix.

[2016-10-20 13:48] MathieuAA commented on #79
Ok! Thanks :)

[2016-10-20 13:50] cbornet commented on #79
I think the simplest is to add the User entity by default and ignore it when printing the JDL. Are you OK with that ?

[2016-10-20 13:53] MathieuAA commented on #79
Not really. If it's never involved in a relationship, why writing it? If I'm not mistaken, the solution would be to:
  - first check that the relationship is valid,
  - then to write the User.
Of course, if the `--no-user-management` flag is set, and the User is indeed used, then the User would have to be in the JDL.

[2016-10-20 14:01] cbornet commented on #79
Yes, I also changed my mind and now I create a User JDLEntity that I use in relationships if needed but don't add to the JDLObject entities.
I didn't know about the  `--no-user-management` flag. I'll have a look at that...

[2016-10-20 14:03] MathieuAA commented on #79
Well me neither. These kinds of things should be told to all JHipster devs. It's always causing me pain in the *** to find out about it later.

[2016-10-20 14:16] cbornet commented on #79
* `skipUserManagement` is not in the UnaryOptions
* It's a global config flag that impacts the entities so it means that the server config must be parsed before the entities. This means that it should probably be enforced to pass both the config and the entities in a single method and not have two separate methods

[2016-10-20 14:18] MathieuAA commented on #79
My bad if it's not added...

[2016-10-20 14:27] MathieuAA commented on #79
It would be very easy to add, I think I added it in JUML.

[2016-10-20 14:33] cbornet commented on #79
I can add it at part of the PR

[2016-10-20 14:38] cbornet commented on #79
Oh! It's a little more complex than I thought so I'm OK if you do it :smile:

[2016-10-20 14:42] MathieuAA commented on #79
ahahah I almost did it a while back but was interrupted. I'll try to look into during the week-end

[2016-10-20 15:21] deepu105 commented on #79
Guys every new options are either discussed on the mailing list or on a
issue ticket. I guess you need to use the watch all options to be notified

Thanks & regards,
Deepu

On 20 Oct 2016 20:12, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-20 15:24] MathieuAA commented on #79
This is time consuming, if I don't want to be notified of every issue the generator has it's because I don't want to know about them (I like to live in a world where there is no issue :)). And the mailing list never has sent any mail about such options.
Instead, people who add options should add options to their respective projects (I do for JUML, everybody could do it for this one).

[2016-10-20 15:36] deepu105 commented on #79
Thats difficult bro. Remember we are not a company :P
I would say in an OSS project its the contributors responsibility to keep
track of stuff. Believe it or not I pain takingly read all the emails from
all the jhipster projects :D but thats just me. Anyways this is not the
correct place for us to discuss this.
I agree that there could be a better communication option than mailing
list. Feel free

[2016-10-20 15:42] MathieuAA commented on #79
Yes, but to be up-to-date, always, is just too much. That's why I wanted a JHipster Core project...

As for the original thing of this issue, like I said, I'll try to do something this week-end and fiddle a bit with the entitiycreator here and in JUML to test a thing or two.

[2016-10-26 14:44] cbornet opened #81 "Comments in relationships not working"
* JDL to JSON : looks like a bug since there is code to support it
* JSON to JDL : not implemented yet

[code]
Expected to see `"javadoc": "A relationship"` in Department.json but it's not there

[2016-10-26 19:10] MathieuAA commented on #81
I didn't know it was the international JHipster issue day!!

[2016-10-26 19:21] cbornet commented on #81
I'm reopening because the JDL to JSON conversion still needs to be fixed

[2016-10-26 19:23] MathieuAA commented on #81
Oh! Yes of course!

[2016-10-27 08:22] #81 closed

[2016-10-27 08:57] #79 closed

[2016-10-29 20:45] ruddell commented on #60
I took another look at this issue today.  The original issue was slightly off when it mentioned reserved keywords, they are fine (updated the first post).  The problem is dealing with field types in jdl_parser.js and relationships in entity_parser.js.

A databaseType is required for both the JDL Parser and Entity Parser.  This databaseType must be 'sql', 'mysql', 'mariadb', 'postgresql', 'oracle',

[2016-10-30 04:34] deepu105 commented on #60
Yes you are right we would either need the path or the db type in the JDL
to do this.
Mathew how about adding microserviceDbType as an option in JDL?

Thanks & regards,
Deepu

On 30 Oct 2016 02:15, "Jon Ruddell" <notifications@github.com> wrote:

[2016-10-30 10:08] MathieuAA commented on #60
To be honest, I thought about adding it but wasn't sure it would be relevant enough... Let's do it =)

[2016-10-30 10:17] MathieuAA opened #84 "Camel case entity names do not work properly with jdl import"
Related: [4398](https://github.com/jhipster/generator-jhipster/issues/4398).

[2016-10-30 14:25] #84 closed

[2016-10-30 21:17] MathieuAA commented on #60
Update: @deepu105 No, not yet anyway. It will be done after I make the JDL create a JHipster app, which is really easy. However, if we make the db type available for the validation, then we win. If you wanna do it, by all means as you've created and updated it.

[2016-10-31 04:05] deepu105 commented on #60
I wont have much time this week. Btw to generate app from JDL would need
some work on the generator as well

Thanks & regards,
Deepu

On 31 Oct 2016 02:47, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-31 09:37] MathieuAA commented on #60
Oh? You mean that if I provide a .yo-rc.json, it won't work?

Le 31 octobre 2016 05:05:41 GMT+01:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-31 09:49] deepu105 commented on #60
Then you need run the generator again rite so the import jdl sub gen would
need some modifications to generate app from the yo-rc file and then
generate entities

Thanks & regards,
Deepu

On 31 Oct 2016 15:07, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-31 10:43] MathieuAA commented on #60
Well, I'll test some things then

Le 31 octobre 2016 10:49:36 GMT+01:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-10-31 11:49] MathieuAA opened #85 "Define a simple grammar"

[2016-10-31 13:04] gmarziou commented on #85
What do you plan to use? antlr?

[2016-10-31 14:22] MathieuAA commented on #85
Oh no, I'm just going to use what's already available and used by this project (PegJS).

[2016-10-31 14:38] gmarziou commented on #85
Sorry, I forgot this was not in java :(

[2016-11-11 13:37] Abd-ksr opened #86 "jhipster existing ui code overriting"
I am having working jhipster application and i have modified some of the javascript and html files as per requirements. After applying the the jdl  file (yo jhipster:import-jdl my_file.jdl) it is overwritten the modified  javascript and html files.

Is there any way i can safeguard the modified files while applying entity through jdl?

[2016-11-11 13:52] gmarziou commented on #86
No.
Please don't post questions on the issue tracker, use stackoverflow.

[2016-11-11 13:52] #86 closed

[2016-11-28 01:14] kaidohallik opened #87 "multiline comments are merged into single row"
##### **Overview of the issue**

If writing multiline javadoc comments in JDL Studio then these are converted into single line in final domain class javadoc comment.

##### **Motivation for or Use Case**

I have many multiline comments in my .jh file. I don't want edit these comments (wrap into multiple lines) in generated domain class.

##### **Reproduce the error**

1. Add comment to .jh file in

[2016-11-28 08:15] #87 closed

[2016-11-29 22:17] kaidohallik opened #89 "[FEATURE] entity field inline javadoc"
* **Overview of the request**

When I enter inline javadoc for entity field then this javadoc is assigned to next entity field by jhipster:import-jdl.

For given .jh file fragment:
[code]
result in MyEntity.json is:
[code]
and in final domain class:
[code]
Conclusion: inline javadoc for entity fields is not supported.
My feature request is: support inline javadoc for entity fields.
Note: my first

[2016-11-30 05:32] nghib opened #91 "Logs line number in jdl file that cause error when use jdl-import command to parse jdl file"
For example that create error log bellow. It's good if we can log the line number inside domain.jh file that cause error.

$yo jhipster:import-jdl domain.jh
The jdl is being parsed.
{ name: 'NullPointerException',
  message: 'The type, and at least one injected field must be passed.',
  prototype:
   Error
       at new buildException (/Users/myusername/spring/generator-jhipster/node_modules/jhips

[2016-11-30 08:39] MathieuAA commented on #89
There is no issue.
[code]
is wrong because of the comma. The JDL parser doesn't care about newlines and such, it only cares if there's a comma somewhere.
The correct version is:
[code]

[2016-11-30 08:40] MathieuAA commented on #91
I'll see why the submodule doesn't print the line numbers...

[2016-11-30 10:02] kaidohallik commented on #89
It's a common practice to write inline comments at the end of the line. And it's more readable.
If I started commenting in JDL Studio then I automatically put inline comments at the end of the line.
I believe so are doing the majority of JDL Studio users.
So I suggest to add this feature.
One possible implementation of this feature is in jhipster/jhipster-core#90

[2016-11-30 20:15] MathieuAA commented on #89
The problem is that the doc's placement is wrong. It just doesn't make any sense to add documentation for something after this something has been declared AND right before another thing is going to be declared.
That, and I don't want invisible characters to "rule the JDL world" (invisible = line break).

[2016-11-30 20:20] MathieuAA commented on #91
Quick question, what version of the generator are you using? Because [466315](https://github.com/jhipster/generator-jhipster/commit/b466315a0d89da7da938a3bcc478f920965009f6) has been added a few days ago.

[2016-12-01 01:14] nghib commented on #91
I tested with Jhipster 3.12.0 released version. This is my simple domain.jh file. The exception will be throw in "relationship" section - line 12

entity Challenge {
    createDate ZonedDateTime,
    endDate ZonedDateTime,
    description String
}

entity Response {
    name String
}

relationship ManyToOne {
    Response to Challenge
}

[2016-12-01 06:33] MathieuAA commented on #91
Okay that's weird... I'll work on something this evening for your issue.

Le 1 décembre 2016 02:14:19 GMT+01:00, Phuc Bui <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-12-01 07:51] nghib commented on #91
it's not an issue, it's about improvement ;). you're doing great job. ;)

[2016-12-01 20:17] kaidohallik commented on #89
I think you are doing great job and I don't want to fight for that feature (anyway I can use this feature, generating entites with code in my branch), just sending note about your last comment.

You said that you don't want line break rule the JDL world. But JDL internal comments are ruled by line break. Fragment from grammar.txt:
[code]
So there is already precedent where line break rules the JDL

[2016-12-01 21:08] MathieuAA commented on #89
What if there's no comma anywhere? Except when doing things on a single line (like declaring multiple fields). That would solve the problem, don't you think?

[2016-12-01 21:13] MathieuAA commented on #91
Well... it it was supposed to work before and not anymore, then something must have gone wrong, right? :) I'm not the maintainer of the submodule, but I'm taking a look at it right now to see where it can be improved.

[2016-12-01 21:13] MathieuAA commented on #89
I'm not against it at all. The problem is the comma here. Having comments after the comma seems like commenting the next thing.

Le 1 décembre 2016 21:17:17 GMT+01:00, Kaido Hallik <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-12-01 21:22] MathieuAA commented on #89
Well, I was wrong. You can omit commas. I guess it was implemented by Carl way before the JDL was even released, and I totally missed it. My bad!
So, to sum up, this is possible:
[code]
I'm going to add the comments you requested, my bad!
This is going to be possible:
[code]
With this output:
[code]
The first comment will always override the second (`com||com2`) in the grammar.

[2016-12-01 21:24] MathieuAA commented on #89
However, having a comma THEN a comment will result in the comment targeting the second field. You have to omit the comma to have a following comment.

[2016-12-01 21:41] MathieuAA commented on #89
It's implemented. I'll update the docs.

[2016-12-01 21:41] #89 closed

[2016-12-01 21:42] kaidohallik commented on #89
This description of the feature looks good to me. Thank you!

[2016-12-01 22:01] MathieuAA commented on #91
My error when I use the submodule from v3.9.1:
[code]
This looks prettier than what you have...

[2016-12-01 22:09] MathieuAA commented on #91
Oh I get it. You don't have any indication because it's not a syntax error. You'd have the line then... I'll improve the parser to try to include the line, or at least to provide more information about any error.

[2016-12-02 00:24] kaidohallik commented on #89
I tested this and found an issue.
JDL fragment:
[code]
Result in the domain class:
[code]
Seems that "second comment" is parsed as com2 of the field "first" and dropped.

[2016-12-03 07:08] kaidohallik opened #95 "multiple JDL internal comments not allowed in most cases"
When writing multiple JDL comments like that
[code]
Then in most cases error is rased because in grammar is almost everywhere used `JDLComment?` not `JDLComment*` and `JDLComment` defines single row comment:
[code]
To implement this enhancement one possible solution is change this block to:
[code]
Another solution is change `JDLComment?` to `JDLComment*` everywhere.

[2016-12-03 09:50] MathieuAA commented on #95
Indeed, you're right. I'll make the changes right away. Thanks!

[2016-12-03 12:38] MathieuAA opened #96 "Clean up the grammar"
Chores:
  - [x] replace `"` by `'` where applicable,
  - [x] remove useless functions,
  - [x] rename badly-named functions,
  - [x] use ES2015 features,
  - [x] clean up regexes,
  - [x] refactor some rules (space -> SPACE, 'entity' -> ENTITY, etc.),
  - [x] add/remove useless spaces,
  - [x] refactor the global variables

[2016-12-08 05:57] NKU915 commented on #67
If don't need the default id,how can specify the id field(s)? For example,
entity Product{
  productId    String required,
  productType  String required,
  activeFlag   YesOrNoEnum required,
}
How can specify productId as the id for Product? many thanks.

[2016-12-08 07:08] MathieuAA commented on #67
As farcas I know, there's no overriding the default id field. You could always map your custom id to the DB table's id.

Le 8 décembre 2016 06:57:49 GMT+01:00, HUHU <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2016-12-08 08:57] NKU915 commented on #67
Got it,thanks.

[2016-12-08 10:24] MathieuAA commented on #67
There will be no type validation in the grammar. It should be kept simple.

[2016-12-08 10:24] #67 closed

[2016-12-19 23:10] #96 closed

[2016-12-20 19:37] #95 closed

[2016-12-20 19:37] MathieuAA commented on #95
Funny thing, PegJS can't properly ignore some input. It just can't, and this has been the case for 5 years. There's only one "clean" solution to do that, and it's implemented in the master branch right now: use `String#replace` to remove the comments.

[2016-12-20 19:57] kaidohallik commented on #95
Neat solution. Thanks!
Maybe also polish `grammar.txt` - there are now some places like `SPACE*  SPACE*`, cleaner would by single `SPACE*`.

[2016-12-20 20:16] MathieuAA commented on #95
Yeah I know. I'm closing other things first. I always clean up things after I commit.

[2016-12-20 20:37] MathieuAA opened #97 "Two consecutive comments for fields aren't correctly parsed"
Copied from another issue:

I tested this and found an issue.
JDL fragment:
[code]
Result in the domain class:
[code]
Seems that "second comment" is parsed as com2 of the field "first" and dropped.

[2016-12-20 20:39] #97 closed

[2016-12-20 20:39] MathieuAA commented on #89
@kaidohallik Fixed in #97

[2016-12-23 12:53] kaidohallik opened #98 "JDL Studio gulp build fails from version v1.2.3"
**Overview of the issue**
Starting from jhipster-core version v1.2.3 JDL Studio `gulp build` fails with error:
[code]
**Reproduce the error**
* fork and clone [JDL Studio](https://github.com/jhipster/jdl-studio)
* in `bower.json` change from
[code]
to (error occurs with versions 1.2.3 and 1.2.4)
[code]
hint: can reference to local version, for example if `jhipster-core` and `jdl-studio` are cloned

[2016-12-23 14:45] MathieuAA commented on #98
Interesting... I'd rather not have a issue opened here for the JDL Studio though.

[2016-12-23 14:45] #98 closed

[2016-12-23 23:08] kaidohallik commented on #98
@MathieuAA Opened jhipster/jdl-studio#27 with additional information.

[2017-01-01 19:21] bourdux commented on #91
:+1: Yes, I think that would be a good idea. If you look to the source code of the generator, you usually end up understanding the error but having the culprit line would really help.

Just another example: in the JH file I recently made I wrote:

```service all with ServiceClass``` instead of ```service all with serviceClass```.

The result was this error

[code]

I tracked down the error by a si

[2017-01-02 10:49] MathieuAA commented on #91
My vacations will unfortunately be over very soon and I'll try some things to pinpoint errors. Please do keep in mind that we may not get as precise as having the line at fault, as there's some preprocessing involved here.

Le 1 janvier 2017 20:21:11 GMT+01:00, Julien Bourdon <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI
--
Mathieu ABOU-AICHI

[2017-01-02 10:50] MathieuAA commented on #91
My vacations will unfortunately be over very soon and I'll try some things to pinpoint errors. Please do keep in mind that we may not get as precise as having the line at fault, as there's some preprocessing involved here.

Le 1 janvier 2017 20:21:11 GMT+01:00, Julien Bourdon <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-01-04 18:37] MathieuAA commented on #91
I did some digging, and there's no foreseeable to get the line with PegJS (because of the preprocessing).
There is, however, another way:
  - We read the file (with the Node API),
  - We keep a line-oriented record of the file (with the lines),
  - As soon as we get an error, we search the lines for some keywords (`ServiceClass`, `mapstruc`, or whatever triggered an error),
  - We display the resu

[2017-01-04 20:38] deepu105 commented on #91
The jdl studio outputs error with line numbers you could take look to see
the implementation

Thanks & regards,
Deepu

On 4 Jan 2017 7:37 p.m., "Mathieu ABOU-AICHI" <notifications@github.com>
wrote:

[2017-01-04 20:57] kaidohallik commented on #91
So workaround while this enhancement is not implemented in jhipster:import-jdl is to copy .jdl file to JDL Studio and JDL Studio outputs line number where error occurs.

[2017-01-04 21:35] MathieuAA commented on #91
No. There's another way. Quite stupid of me not to have thought about it earlier. I'll use JHipster Core in the JDL parsing.

[2017-01-10 15:19] SWEnthusiast commented on #20
Hi @chris2338 did your problem solve? I ran into a similar issue, my requirement is to display the attributes in a column which have **many to many** relationship two different entities.

Here is my jdl
[code]

@cbornet could you suggest a different solution if there is any?

[2017-01-12 03:25] gemron opened #100 "in nosql mode(mongodb), jdl can support Map filed type?"
example:
entity Device {
	sn String,
	type String,
	appId String,
        conf **Map**
}
This eneity 's conf is a json document ,in mongo  we can save and use it , but jdl not support

[2017-01-12 03:47] jdubois commented on #100
We don't plan to support this for the moment.

[2017-01-12 05:23] gemron commented on #100
@jdubois  thank you for your answer.
I have another question, When i importing JDL, How to merge the current Entity Java Code, when the Entity have I custom Map type field?

[2017-01-12 07:46] MathieuAA commented on #100
I'm not sure I understand your question, but I'l try to answer it. As mongo's map is a JSON document, you can always try to pass it as a string and parse it later but you would then be required to change the code so that it suits your needs.

[2017-01-12 07:46] #100 closed

[2017-01-27 09:39] MathieuAA opened #101 "Numerical constants for the JDL"
Suggested in [4986](https://github.com/jhipster/generator-jhipster/issues/4986) by @aledesc

[2017-01-27 13:32] #101 closed

[2017-02-12 20:05] xetys opened #106 "better microservice flow for JDL"
Hey,

I played a bit with the microservice JDL and figured out, that it is only cool to use this feature on a gateway, but not for all microservices. From my intuition I dropped a JDL file in a root with several JHipster app, and expected this file will generate only mentioned entities in the target folder. Consider a JDL modelling all entities for a bookstore. It should only import those services

[2017-02-12 21:28] MathieuAA commented on #106
I like the idea. I prefer having separate JDL files though and placing them in each project though.
I'll see what I can do to make it happen, but we need to upgrade the subgen to make it more interesting.
Nice idea =)

Le 12 février 2017 21:05:41 GMT+01:00, David Steiman <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-02-13 21:30] MathieuAA commented on #106
Work is being done in the "106" branch.

[2017-02-14 08:45] xetys commented on #106
thanks a lot!

[2017-02-15 23:50] ddagnino opened #107 "Required relationships option"
Hey guys,

Right now (at least looking at documentation page) there's no way to define a "required" relationship inside JDL, something that can easily be done with entity sub generator. If you want to have a full diagram with relationships but you also need to make them required you have to insert your jdl into the application and after that you have to modify the code to make it as required and a

[2017-02-16 05:34] MathieuAA commented on #107
Hi Damian, it is already available, but I may have forgot to document it in the docs...
To answer your question, just do:
[code]
to have it working.

[2017-02-16 05:38] MathieuAA commented on #107
A PR has been submitted to update the doc. Sorry for the inconvenience

[2017-02-16 05:38] #107 closed

[2017-02-18 02:14] ddagnino commented on #107
Wow! Excellent! really quick response, thanks a lot, I just saw it in the documentation too.

[2017-02-19 09:44] MathieuAA commented on #106
Deepu's solution is the only one we can implement.
It's going to be like this:
[code]

[2017-02-19 14:06] xetys commented on #106
I am ok with this....but then we should precisely document, how a user should design the directory structure and how to use it properly

[2017-02-19 14:57] MathieuAA commented on #106
Indeed. But it's the easy part =)

Le 19 février 2017 15:06:33 GMT+01:00, David Steiman <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-02-20 07:40] MathieuAA commented on #106
@xetys Having your point in mind, the most important part, in my opinion, would be to define a convention: where a microservice should be (inside a gateway project, in the same directory, etc.).

[2017-02-20 11:45] xetys commented on #106
my work flow was to have a folder structure like in this repo: https://github.com/xetys/microxchng-workshop

I would prefer to keep just the app.jh in the root, and refer to it with

[code]

from each subdir...

[2017-02-20 12:54] PierreBesson commented on #106
I think we can standardise on the folder structure shown by @xetys with all projects at the same root, but I would organize the entities by service in a separate `entities` folder.
- gateway
- microservice1
- microservice2
- deployment
  - docker
  - kubernetes
  - rancher
- entities
  - microservice1
  - microservice2

Eventually microservice1, microservice2 could be in separate git repositories

[2017-02-20 13:25] MathieuAA commented on #106
You could do that... But JHipster is not _yet_ designed like that... And it would complicate things with the entity generation process. Otherwise I agree that having conventions is a good thing.

Le 20 février 2017 13:54:05 GMT+01:00, Pierre Besson <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-02-20 14:32] MathieuAA commented on #106
@PierreBesson We could use such an architecture if we can generate an app from the JDL (soon) and if we could generate several apps from one JDL (it would be a kickstarting process). However, not using several JDL files is ugly as hell... there may be one day when JDL files can be called from on single file.

[2017-02-20 21:33] xetys commented on #106
My initial idea is actually about not generating unwanted entities for one JDL...which does **not** exclude the approach of using multiple JDLs.

For example I may design one JDL for each bounded context of my domain, which still can be realized with several microservices.

However, I am not fully convinced about the path requirement in JDL, as well as forcing a particular directory structure....

[2017-02-21 06:07] MathieuAA commented on #106
Forcing? Nop. The idea is to introduce a convention when not using the path (same dir). I could also tell you you misused the jdl import subgen by not splitting the jdl in several pieces and using several times the jdl import process, but I would be wrong. That's why the path is needed, because there's no fixed directory placement (and it shouldn't ever be one).

Le 20 février 2017 22:33:06 GMT+01

[2017-03-09 12:25] toolforger commented on #47
Making the syntax similar to JPA might create more confusion than help.
People would "just assume" that JPA-like options are simply copied through, which would usually not be the case because JDL is far more abstract (e.g. JDL declares relationships separately, allowing it to be much more concise, while JPA associates them with fields in POJOs and has to deal with complexity/redundancy from direct

[2017-03-09 12:37] toolforger opened #108 "HAS vs. USE relationships"
I hate it to proliferate these because relationships are a complex topic as it is, and I'd prefer a simple JDL over one with a lots of intricacies, but it can't be helped.

Technically, I need a way to specify CASCADE DELETE, for detail records that should be automatically deleted when the parent record is deleted.
Conceptually, this would be a "has" relationship. The classic 1:N INVOICE:INVOICE_I

[2017-03-09 13:10] MathieuAA commented on #108
Hello! As far as I know, "has" and "use" are just "aggregation" and "composition". "Has", or "aggregation" means that a parent contains a collection of children. Their living or dying doesn't affect the parent.
Composition, on the other hand, is just the opposite.

JHipster (JDL included) supports required relationships. Now, if you want a `ON DELETE CASCADE`, this should be asked on the generator

[2017-03-09 13:18] cbornet commented on #108
About cascade delete, see [policies](https://jhipster.github.io/policies/)

And the default is not to cascade delete

This could be an option but

And I'm not sure there is sufficient value as it's easy to set manually.

[2017-03-09 13:29] atomfrede commented on #108
Currently not sure, but I think jhipster generates a repository for each entity. When I get @toolforger correct he is aiming a DDD approach Oliver Gierke preaches: You have an ``InvoiceRepository`` but no ``InvoiceItemRepository`` as an item can not exits alone. @toolforger Did I get you correctly?

 I like the approach a a lot, but I think it might be to complicated and really depends on your con

[2017-03-09 13:29] gmarziou commented on #108
Yes similat to Olvier Gierke's recommendations in https://github.com/olivergierke/spring-restbucks

[2017-03-09 13:44] cbornet commented on #108
@atomfrede we could maybe generate the code accordingly when the relation is required

[2017-03-09 13:50] atomfrede commented on #108
@cbornet Would be cool to say, JHipster complies to DDD concepts :1st_place_medal:

[2017-03-09 13:56] cbornet commented on #108
:+1 but the issue has to be moved to the main generator

[2017-03-09 14:26] toolforger commented on #108
I am trying to use JHipster as the Single Source of Truth for the data model.
(As far as I understand DDD, this is sort-of DDD for the data layer. It is not what I had in mind, though maybe DDD and SSoT overlap.)

To me, the point is that the JDL is a nice compact representation of the data model for documentation purposes, and it is better if the documentation and the implementation are automatic

[2017-03-09 20:16] MathieuAA commented on #108
I don't agree with you... Anyway, no point for me in keeping this ticket open. @atomfrede @cbornet @gmarziou do you want me to keep it open, as an open discussion?

[2017-03-13 21:43] #85 closed

[2017-03-13 21:44] MathieuAA opened #109 "Convert what's parsed by the PegJS parser to a JHipster application object"
Checklist:
  - [x] Create the object
  - [x] Fill the object in the JDL parser
  - [x] Test them both

[2017-03-14 07:37] toolforger commented on #108
@MathieuAA You asked me if I couldn't add the required settings by hand, to which I responded that it's awkward in JPA, and that I'd like to keep it all together ("Single Source of Truth" contains this and also that I want to regenerate from the JDL, as recommended on https://jhipster.github.io/jdl/).

I didn't get answers or questions for clarifications, so I don't know how to proceed on this iss

[2017-03-14 08:08] cbornet commented on #108
To me, we have everything in the core /JDL to describe this situation. "has" = "required relationship" and "use" = "simple relationship". We could probably generate better code for required relationships (with CASCADE, change of repository structure, ...) but that's a main generator issue.
Unless I'm missing something, ...

[2017-03-14 08:30] MathieuAA commented on #108
That's what I was going to say.

[2017-03-14 08:30] #108 closed

[2017-03-14 08:43] toolforger commented on #108
Ah ok, I wasn't aware that "required" is supposed to deal with that.

[2017-03-14 11:39] toolforger commented on #108
I did some more thinking on the issue.
Result: "required" and composition are NOT the same; in fact, all four combinations are possible:

Not required, not composition: User 1:n Role, Roles and Users exist independently and can be freely associated.
Not required but composition: User 1:0..1 Portrait: A User may have uploaded a Portrait, but that's optional; however, if the User is deleted, the Por

[2017-03-14 12:48] MathieuAA commented on #108
In this case, you're looking at more objects...

[2017-03-14 13:02] MathieuAA commented on #108
By the way, you're right about `required`.
Composition means something else entirely: if A has a "composition relationship" with B (A -> B), then B's life is linked with A's. A needs B (or there are some serious design problems...)

[2017-03-15 04:22] clong365 opened #110 "JDL Studio could not parse constants declaration"
When I paste the content of test file
https://github.com/jhipster/jhipster-core/blob/master/test/test_files/constants.jdl

in JDL Studio.

The following error message emerge out.

![image](https://cloud.githubusercontent.com/assets/150419/23933386/322efe3a-0979-11e7-9379-f99bf8b66083.png)

[2017-03-15 07:31] anuruddhakhotmail opened #111 "Please Help a Newbie"
Hi,

I am getting the following error :

message: 'The type, and at least one injected field must be passed.',

When I try to add a module. My JDL is below - Can you please help me? I dont really know where the error is generated. Like I cannot seem to figure out which line in the JDL is throwing the error.

Also, I have tried JDL Studio and it does not show any errors.

Please help!

My JDL is:

[2017-03-15 07:41] MathieuAA commented on #110
Hello, it seems the JDL studio is not up-to-date with the JDL. Can you open a new ticket in JDL studio's issue tracker please? thanks.

[2017-03-15 07:41] #110 closed

[2017-03-15 07:50] MathieuAA commented on #111
Hello! Several times in your JDL you don't pass injected fields, here's an example:
[code]
You must at least have one side of the relationship with an injected field, either the source or the destination.
To know everything about relationships, I suggest you read [this part of the doc](https://jhipster.github.io/managing-relationships/).

I'll clarify the error...

[2017-03-15 07:50] #111 closed

[2017-03-15 08:08] jdubois commented on #111
And please give a good title when you have a bug report!!

Le 15 mars 2017 8:50 AM, "Mathieu ABOU-AICHI" <notifications@github.com> a
écrit :

[2017-03-15 10:16] deepu105 commented on #110
JDL studio has been updated with latest version. Please check now @clong365

[2017-03-15 13:41] gmarziou commented on #111
Next time please don't crosspost: https://stackoverflow.com/questions/42804191/error-adding-a-jhipster-entity-form-a-jdl-file

Either you found a bug in jhipster and it shoud be posted here or you're asking a question (like this one) and it should be posted on stackoverflow, not both.

[2017-03-15 13:46] jdubois commented on #111
Please @anuruddhakhotmail - the first rule for a newbie, if he wants help: be nice with us. We'd love to help you, but we have day jobs, and can only help you if you do clean bug reports, don't cross post, etc

[2017-03-16 01:57] clong365 commented on #110
It's working properly now.

Thanks @deepu105

[2017-03-17 09:24] MathieuAA opened #112 "Support database reserved keywords"
As discussed [here](https://github.com/jhipster/generator-jhipster/issues/5427).

[2017-03-17 09:48] gmarziou commented on #112
So should we always quote columns or only for reserved words?

[2017-03-17 10:06] MathieuAA commented on #112
Only for the reserved keywords as far as I'm concerned.

[2017-03-23 03:26] BryanYin opened #113 "Suggested date type in Oracle"
Hi,
In JDL data mapping from Java to Oracle, we have now these date or time types:
LocalDate(Java) <=> 'date' (Oracle)
ZonedDateTime(Java) <=> 'timestamp' (Oracle)
Well, actually Oracle's 'date' type can also stores time and in most cases we use date rather than timestamp in Oracle, but LocalDate in Java doesn't.
Is there a way to provide ZonedDateTime(Java) <=> 'date'(Oracle) mapping? I'm modifyi

[2017-03-23 09:15] MathieuAA commented on #113
Hi, you should ask this question in the generator's issue tracker. Thanks.

[2017-03-23 09:15] #113 closed

[2017-03-23 22:24] MathieuAA commented on #47
Closing this issue, it's so old I'd have to read it again from the start just to start remembering.

[2017-03-23 22:24] #47 closed

[2017-03-23 22:25] MathieuAA commented on #10
Closing this, we don't need that now.

[2017-03-23 22:25] #10 closed

[2017-03-24 13:24] MathieuAA commented on #112
Julien is on that and has committed something, I'm closing this

[2017-03-24 13:24] #112 closed

[2017-04-08 10:08] SgElite commented on #91
Hi, I encounter the following error while doing a jdl import, could not figured out what is the issue. Anyone care to enlighten ?
----------------------------------------------------------------------------------------------------------------
{ name: 'IllegalArgumentException',
  message: 'The option\'s name and value must be valid.',
  prototype:
   Error
       at new buildException (D:\Workspac

[2017-04-09 12:17] MathieuAA commented on #91
I'm gonna change some error messages to fix this problem.

[2017-04-09 20:18] MathieuAA commented on #91
I've improve error reportings (still unfinished), and it will be released in v1.3.
Logging line numbers is actually not a good idea as the JDL processor actually reads after the parsing is done.

[2017-04-10 14:12] ernsyn opened #114 "import-jdl did not generate TextBlob, ImageBlob & AnyBlob correctly."
The TextBlob data type is not generated correctly by import-jdl. The .json file created is missing "fieldTypeBlobContent": "text", for TextBlob types.

I've tried for ImageBlob and AnyBlob and they both have the same exact problem.

Please see attached zip file for the jdl & .json files.

To reproduce, simply run import-jdl with the attached jdl file.

[jdl-files.zip](https://github.com/jhipster/j

[2017-04-10 14:43] MathieuAA commented on #114
Hi, I'll look into it ASAP.

[2017-04-10 19:46] MathieuAA commented on #114
@ernsyn You didn't tell me the version of the generator you're using.

[2017-04-10 19:54] MathieuAA commented on #114
This is a JSON sample of the last version of this project outputs:
[code]
I suggest that you update your generator's version, if you can. If you can't, there's something you can do:
  - Clone the generator's repo,
  - Open the `package.json` file and update the `jhipster-core` dep to v`1.2.9`,
  - Do a `yarn link` to use the cloned project instead of the globally (or locally, depends) one.

[2017-04-10 19:54] #114 closed

[2017-04-11 03:18] ernsyn commented on #114
@MathieuAA I'm using JHipster 4.2.0. When you say update generator, did you mean update generator-jhipster?

I would love to know what you did to get yours working. I still can't get mine to work.

[2017-04-11 04:02] pascalgrimaud commented on #114
@ernsyn : in your project folder, you can use 'yo jhipster:info' to provide all informations

[2017-04-11 04:29] ernsyn commented on #114
Thanks @pascalgrimaud for the tip.

I create a new project using JHipster 4.2.0 and create one simple entity with 3 columns; each with different Blob type. Please see attached file for information.

[files.zip](https://github.com/jhipster/jhipster-core/files/912112/files.zip)

My entities are still missing fieldTypeBlobContent.

Below is my jhipster:info output.

Welcome to the JHipster Informatio

[2017-04-11 04:59] ruddell commented on #114
Reproduced and opened a PR to fix it.  We were changing fieldType to blob[] then comparing fieldType to ImageBlob, AnyBlob, and TextBlob so it never set the fieldTypeBlobContent correctly.

@ernsyn Thanks!

[2017-04-11 05:27] ernsyn commented on #114
Welcome @ruddell and thanks for fixing it!

[2017-04-11 05:39] MathieuAA commented on #114
@ernsyn My bad, I was wrong about this issue. I still don't know why it works for me though.
@ruddell's fix has been approved and merged.

[2017-04-11 06:00] ernsyn commented on #114
No problem @MathieuAA.

[2017-04-13 16:32] ernsyn commented on #114
Hi @MathieuAA,

Quick question. How or when will this bugfix be released? I see that JHipster 4.3.0 has been released but it does not include this bugfix.

Please advise.

Thanks.

[2017-04-14 05:30] MathieuAA commented on #114
Hi, I plan to release a new version this week-end.

[2017-04-14 08:11] ernsyn commented on #114
Ok, noted.

Thanks.

[2017-04-14 20:34] MathieuAA commented on #91
Closing this as it will happen in v1.3.0 (released this week-end).

[2017-04-14 20:34] #91 closed

[2017-04-23 07:50] MathieuAA opened #116 "Forbid Cassandra + pagination settings"
See [this](https://github.com/jhipster/generator-jhipster/issues/5639) for the original issue.

[2017-04-23 12:11] #116 closed

[2017-04-26 07:49] dancewing opened #118 "Does jhipster-jdl support entity extending from AbstractAuditingEntity?"
AbstractAuditingEntity is good abstract class for audit, but now only User entity use it, can other entities such as generated from jdl use it ?
from my opinion, if jdl can support "entity * with audit" like "dto * with mapstruct", entity extend from AbstractAuditingEntity when generated by jhipster:entity tool.

[2017-04-26 08:24] MathieuAA commented on #118
Hello, a [similar issue](https://github.com/jhipster/jhipster-core/issues/24) has already been closed.

[2017-04-26 08:24] #118 closed

[2017-05-02 07:04] cbornet opened #119 "Add Instant field type"
See https://github.com/jhipster/generator-jhipster/pull/5684

[2017-05-02 08:02] MathieuAA commented on #119
It's done.

[2017-05-02 08:02] #119 closed

[2017-05-02 09:49] cbornet commented on #119
Wow ! Fast !

[2017-05-05 13:46] colameo commented on #15
@MathieuAA is there a reason why commas are mandatory for relationships and for entity fields optional?

[2017-05-10 09:16] poolebu commented on #70
Hello! I ran into this problem also, it worked fine at first, but if cloned the project on a new folder I got the `Error: Could not find or load main class org.apache.maven.wrapper.MavenWrapperMain`, for me the problem was that the Github Desktop application did not recognized the `!.mvn/wrapper/maven-wrapper.jar` line of the `.gitignore` file, so the wrapper was not being versiones. **I solved it

[2017-05-10 09:27] MathieuAA commented on #70
Interesting!

[2017-05-13 15:20] #109 closed

[2017-05-13 15:25] MathieuAA opened #120 "Allow comments in the grammar"

[2017-05-13 15:26] #120 closed

[2017-05-14 06:21] deepu105 commented on #109
Is this done? What is the syntax? I think we need to make sure the core team is ok with the syntax before we make it public

[2017-05-14 06:25] deepu105 commented on #109
Can you please write to the dev mailing list with the proposed syntax please

[2017-05-25 03:44] yelong0201 opened #121 "How can JDL create database tables automatically?"
How can JDL create database tables automatically?

[2017-05-25 05:09] jdubois commented on #121
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-05-25 05:09] #121 closed

[2017-05-30 02:37] vw98075 commented on #91
I run into the same error. It hard to tell what is the cause without a line number.

[2017-05-30 07:11] MathieuAA commented on #91
What's your generator's version?

[2017-05-31 15:23] vw98075 commented on #91
The latest one, 4.5.2.

[2017-06-04 16:02] MathieuAA commented on #91
@vw98075 can you open a new issue and provide your JDL file?

[2017-06-07 06:17] Blackdread opened #122 "Relationship with enum JDL"
Hi,

Why cannot we use relationships (any relationship) to Enum in JDL?

I put an example of JDL using a ManyToMany directly to the enum but this does not work.
A solution is to use an entity "MyExampleValue" that only serve as an intermediate for relationship (change MtM to "Example{values} to MyExampleValue"

`
entity Example {
    aValue String required
}

entity MyExampleValue{
    myExample M

[2017-06-07 12:59] kronzucker opened #123 "As a developer I want to specify packages in my JDL file"
This is my case:
As a developer I want to specify packages for jdl generated classes.

This is necessary since we use a functional/technical naming strategy to keep classes togther.

example:
com.companyx.projecta.dataimport.rest
com.companyx.projecta.dataimport.database
com.companyx.projecta.notifications.database
com.companyx.projecta.configuration.database
com.companyx.projecta.auditing.databas

[2017-06-07 13:12] jdubois commented on #123
I'm sorry but we don't do this at the moment...

- You can move your code around with your IDE, that's quite easy
- You can use the microservice approach if you really want to split your code into modules

There has already been lots of discussion about this, and of course that can still be discussed, but that's the way it is done now.

[2017-06-07 13:12] #123 closed

[2017-06-07 13:17] MathieuAA commented on #122
Hello, Enums can't have relationships because they aren't entities. You can wrap enumerations inside a class, and have them as types.
Your JDL would look like:

[code]

[2017-06-07 13:17] #122 closed

[2017-06-07 15:37] kronzucker commented on #123
Thanks for your feedback, although that was not what I wanted to hear :-)

[2017-06-13 19:23] deepu105 opened #124 "Use npm-check-updates lib instead of check_dependencies.js script"
@MathieuAA checkout https://www.npmjs.com/package/npm-check-updates
I just saw the `check_dependencies.js` file and wanted to check if you considered the above plugin? I have been using it for a long time and its a good one

[2017-06-14 08:17] MathieuAA commented on #124
@deepu105 Thanks Deepu! I'll check this out tonight!

[2017-06-19 04:53] vw98075 opened #125 "Can't tell what is wrong with a message 'The type, and at least one injected field must be passed.'"
Based on a request, I open a ticket for a problem which has been reported before (https://github.com/jhipster/jhipster-core/issues/91). After running the import command, I get the following error:

$ jhipster import-jdl theModelFile.jh

    Executing jhipster:import-jdl theModelFile.jh
    The jdl is being parsed.
    { name: 'NullPointerException',
    message: 'The type, and at least one injecte

[2017-06-19 07:02] MathieuAA commented on #125
Hi, having lines is tricky as I'd have to modify the grammar to make it more complex (I'll try to find a better way).
As for your error, you've declared an invalid relationship. It must have:
  - a type (one to many, etc.),
  - at least one injected field.

For instance, having:
[code]
doesn't work. The correct way is:
[code]

[2017-06-19 07:02] #125 closed

[2017-06-20 07:12] agoncal opened #126 "Comments with quotes in JDL get copied in Swagger annotation"
If you take the following JDL :

[code]

then you get the two Entities generated, but the code of the EntityKO will not work. This is because the comment gets copied as it is in the Swagger @ApiModel annotation (notice the double quotes around KO):

[code]

[2017-06-20 07:15] MathieuAA commented on #126
@agoncal Hi, nice catch! Can you submit a PR for this? I'll fix it later today if you don't =)

[2017-06-20 07:19] agoncal opened #127 "Better service support in JDL"
At the moment we can generate a service or not with a single line in the JDL :

`service Proposal with serviceClass`

It would be good to be able to add method signature to generate methods. With a simple grammar and focusing on defaults.

[code]
This would create the same methods as today (save, findAll, findOne, delete) as well as creating the demanded methods.

[2017-06-20 07:20] agoncal commented on #126
@MathieuAA On my way to Google Cloud training... I'll be off for the day ;o)

[2017-06-20 07:29] MathieuAA commented on #126
@agoncal ahah roger that! I'll handle it then.

[2017-06-20 07:31] MathieuAA commented on #127
@agoncal for this to happen, the generator must be updated to accept this kind of input. As for the JDL (parsing, exporting, etc.), it would be easy to do.
@jdubois what do you think?

[2017-06-21 04:08] vw98075 opened #128 "Embeddable For Value Objects"
Currently, the JDL treats all domain objects as entity objects. According to domain driven design, there is another type of domain class, value object. Is possible to add another entry, embeddable for value objects? If yes, on the "one" end of a relationship, the entry would be mapped to @Embedded and on the "many" end of a relationship, the entry would be mapped to @ElementCollection. That shall

[2017-06-21 09:25] agoncal opened #129 "Add support for List of datatype"
It would be good to have support for lists of datatypes. For example, here I could map a proposal which has a list of tags :

[code]

This could generate the following entity :

[code]

And why not allowing also sets :

[code]

[2017-06-21 09:54] MathieuAA commented on #129
That'd be interesting indeed! Again, all the heavy work would have to happen in the generator.
cc @jhipster/developers

[2017-06-21 12:36] deepu105 commented on #129
I also had many people asking me about this feature so I tink might be worth to add in next major version

[2017-06-23 13:10] Rostom35 commented on #106
Hi guys! I have some issues using the JDL generator for a microservice architecture. Indeed, I want to create two microservices (with respectively entity A and entity B)  + a service inside the gateway (with entity C).
The problem I am facing is that I can't generate properly this architecture using the JDL generator.
Here is basically how relations look like :
C -> A -> B ( I have three database

[2017-06-23 13:12] jdubois commented on #106
@Rostom35 I'm sorry but this isn't a bug, can you use Stackoverflow instead, as explained in our guidelines?

[2017-06-23 13:13] jdubois commented on #106
@Rostom35 why did you comment on another issue? I closed this issue because of you :-(
Please follow the guidelines

[2017-06-24 06:31] lowlee opened #130 "Field Name with lowercase first letter generates incorrect code"
With the following JDL

[code]

the getters and setters are generated with names `gettEST()` and `settEST()` but the `toString()` method is generated with a call to a different form of the getter and the Java fails to compile.

[code]

The generated code in `toString()` is correct if the field name has more than one lowercase letter at the start eg:

[code]

generates getters and setters `getAnoth

[2017-06-24 08:15] deepu105 commented on #130
either duplicate or related to https://github.com/jhipster/generator-jhipster/issues/5969

[2017-06-25 12:50] MathieuAA commented on #128
@vw98075 I'm not I understand, what would the "contained" type be? a String/Integer/whatever for instance?

[2017-06-25 13:13] MathieuAA commented on #126
The problem's in the generator... I'll submit a PR.

[2017-06-25 16:43] vw98075 commented on #128
Here is a quote on the value object.

A Country object and an Address object have the above characteristics.

We can learn the concept from the point of JPA: @Embeddable, @Embedded and @ElementCollection although @Embeddable doesn't guarantee immutable out of the box. JDL shall allow people express their DDD freely, but not limit such expression. The current version of JDL only has one entry mappe

[2017-06-25 17:26] MathieuAA commented on #128
The JDL has nothing to do with this. Here's the flow:
  - First the user writes JDL code,
  - It gets parsed by the parser in this project,
  - Entities are written **in JSON form** (and not in Java),
  - The generator, then, is used to create the entities (and the various Java/JS/TS files)

You must submit your request to the generator's issue tracker.

[2017-06-25 17:26] #128 closed

[2017-06-25 17:28] jdubois commented on #128
Yes, and the generator doesn't go that far, and probably never will.

[2017-06-25 19:30] #126 closed

[2017-06-25 23:35] vw98075 commented on #128
If I make changes on a generated code base in the regard, are my changes maintainable in the space of JHipster? Are my changes going to be overwritten when I update the JHipster version?

[2017-06-26 04:27] MathieuAA commented on #128
It's very likely, yes.

[2017-06-26 05:43] deepu105 commented on #128
@vw98075 this is what modules are for. You can add a module for this and if the module becomes popular in community we could consider merging it into main generator

[2017-06-26 07:08] #130 closed

[2017-06-26 17:15] vw98075 commented on #128
@MathieuAA Yes for "maintainable" or "overwritten"?

[2017-06-26 17:17] vw98075 commented on #128
@deepu105 I can look into the option. Can you point me the code which generates entity classes from a jh file?

[2017-06-26 17:49] MathieuAA commented on #128
For overridden.

[2017-06-27 21:40] MathieuAA commented on #129
@agoncal I'll try some things this week-end

[2017-06-30 05:14] MathieuAA opened #131 "Forbid constraints with no value"
Like in
[code]

[2017-06-30 06:14] #131 closed

[2017-06-30 06:39] deepu105 commented on #131
@MathieuAA I think when no values are specified we can just use the default values, same as in the generator. WDYT?

[2017-06-30 06:40] MathieuAA commented on #131
@deepu105 I was thinking about that too, but do all the constraints have default values? I'd find it weird that the syntax be allowed only for some constraints.

[2017-06-30 06:45] deepu105 commented on #131
Not sure we need to check the prompt.js files in generator

[2017-07-08 16:54] deepu105 opened #132 "export-jdl: make options exported as group"
When exporting JDL the options are printed one per line
[code]

It would be nice to have it grouped in below fashion, similar to how we support it originally
[code]

@MathieuAA how difficult will be this?

[2017-07-09 14:42] MathieuAA commented on #132
Easy. I'll do it tonight or tomorrow.

[2017-07-09 14:44] MathieuAA opened #133 "Error: Cannot read property 'relationships' of undefined"
From JUML's [issue](https://github.com/jhipster/jhipster-uml/issues/256).

[2017-07-27 15:50] JulioJu opened #137 "Enum with lowercase field name"
Hi,
With JHipster 4.6.1, an Enum could not have lowercase field name. It's maybe a bad practice to have lowercase field name, but I my use case I would like have lowercase fields name in my Enum.
Thanks in advance !

[2017-07-27 15:53] PierreBesson commented on #137
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-07-27 15:53] #137 closed

[2017-07-27 15:57] PierreBesson commented on #137
You are excused as it is not the main generator so you can't see the issue template. But please edit your issue so I can reopen it.

[2017-08-02 19:53] setterlee opened #138 "JDL with microservices options no work"
I'm trying to build an application  with 2 microservices and the gateway but the JDL import ignore the options creating all tables in all the microservices and creating the gateway without tables.

Here my model:

[code]

[2017-08-02 20:21] gmarziou commented on #138
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-02 20:27] gmarziou commented on #138
This does not seem to be an issue with jhipster-core but rather an issue with generator-jhipster.

Having only your JDL is not enough for us to reproduce, could you please open an issue against https://github.com/jhipster/generator-jhipster and fill up the template with all requested details?

[2017-08-02 20:27] #138 closed

[2017-08-02 20:43] setterlee commented on #138
sorry, the link in the JDL docs bring me to this repo... I Will open the issue in the rght repo. thanks

[2017-08-16 18:31] MathieuAA commented on #132
@deepu105 with a lot of delay (sorry about that, I can't seem to properly manage my free time as I see fit these days), I implemented it and is now on master.

[2017-08-16 20:29] deepu105 commented on #132
@MathieuAA thank you and it's understandable.

[2017-08-16 20:30] #132 closed

[2017-08-17 07:05] stieler-it opened #139 "Support for non-English characters in JDL RegEx parser"
Writing a German application we noticed that we could not use the following regular expression for pattern validation in JDL that works in the .jhipster JSON files:

`^[A-ZÄÖÜa-zäöüß\- ]*$`

(This would be to validate a German institution name)

I tried to use hexadecimal character codes like `\xAF` which also didn't work becuase a backslash is automatically escaped.

Of course we could workaround

[2017-08-17 07:26] MathieuAA commented on #139
It's clearly something I overlooked!

[2017-08-19 18:48] #139 closed

[2017-08-19 18:53] MathieuAA commented on #139
@stieler-it So, I've introduced a better way of defining a regex:
[code]
I've gotten rid of the apostrophe separator and used the standard slash. The only issue is that one's got to write the ASCII code for the slash instead of the slash in a pattern to use it (PegJS isn't very good at everything regex-related).

[2017-08-20 13:27] deepu105 commented on #139
@MathieuAA that's sounds fine can you also document this? so that people don't raise issues on that?

[2017-08-20 16:40] stieler-it commented on #139
@MathieuAA

- I assume the backslash before "ö" in your example is a typo. Then, that would fix our problem with special characters. Thank you!
- Did I miss something or is it still not possible to use the backslash as escape character because it would be escaped automatically? So, is it actually possible to specify ASCII codes as you suggest?

[2017-08-20 18:57] MathieuAA commented on #139
@stieler-it no the backslash was just a test =)
You can use backslash! That's why I suggested you use them in order to include them in any regex having forward slashes.

[2017-08-22 10:09] UzverNumber47 opened #140 ""type" field becomes "jhi_type" in generated table"
A string "type" field became "jhi_type" column in database.
MySQL database. Hot to specify a column name for entity field?

` @Size(max = 10)
    @Column(name = "jhi_type", length = 10)
    private String type;
`

[2017-08-22 11:17] deepu105 commented on #140
We currently do not support changing column names, you would have to edit this manually after generation

[2017-08-22 11:17] #140 closed

[2017-08-22 11:21] UzverNumber47 commented on #140
Why then generator translated "type" to "jhi_type"?

[2017-08-22 11:36] jdubois commented on #140
Probably because this is a reserved keyword. We are quite strict with those, so maybe the "jhi_" prefix isn't needed, but still you should be careful when removing it.
Anyway, this is just the name of the database field, there is really no value for us in allowing to configure this (see [Policy 2(https://jhipster.github.io/policies/))

[2017-08-24 21:34] hakandilek commented on #127
I think it would better be discussed together with jhipster/generator-jhipster#6275.

[2017-08-24 21:35] hakandilek commented on #129
better to discuss together with jhipster/generator-jhipster#6275.

[2017-08-25 07:16] agoncal commented on #127
Closing and referencing this issue on [Enriching the JDL grammar #6275](https://github.com/jhipster/generator-jhipster/issues/6275)

[2017-08-25 07:16] #127 closed

[2017-08-25 07:17] agoncal commented on #129
Closing and referencing this issue on [Enriching the JDL grammar #6275](https://github.com/jhipster/generator-jhipster/issues/6275)

[2017-08-25 07:17] #129 closed

[2017-08-28 04:13] MathieuAA opened #141 "Enriching the JDL grammar"
From the generator's original post [here](https://github.com/jhipster/generator-jhipster/issues/6275)

[2017-08-28 06:26] colameo commented on #141
Please keep in mind, that changes in the JDL grammar affects the community which uses jhipster-ide. Since the ide features were introduced we have [300-500 installation](https://marketplace.eclipse.org/content/jhipster-ide/metrics#group-metrics-tab) per month and as you can imagine a change in the JDL would affect those people...

Beside of that, I also like the idea to improve the JDL grammar ;-)

[2017-08-28 06:35] deepu105 commented on #141
Colameo, the changes will be mostly backward compatible I believe

[2017-08-28 06:39] MathieuAA commented on #141
Yes. The only breaking change I've ever made was about regexes (the separator is now `/` instead of `'`).

[2017-08-28 07:16] colameo commented on #141
@MathieuAA - ok that's good, that means we do not have pressure to integrate all changes in sync with yours.

[2017-08-28 21:44] agoncal commented on #141
@deepu105 I liked the `abstract` and the `type microservice`, this leaves other possibilities.

Deepu, I didn't get the difference between `services` (plural) and `service` singular in your post : https://github.com/jhipster/generator-jhipster/issues/6275#issuecomment-325188239. You wrote `entity MyOnlyEntity` (singular)  and `services MyOnlyService` (plural). Is this a typo ?

[code]

[2017-08-28 22:04] MathieuAA commented on #141
@agoncal it must be.
@jhipster/developers, @bd82, @hakandilek My main goal this week will be to get the app generation up and running. This means being able to generate apps from one or more JDL files, **without generating entities right after (this comes after)**.

@deepu105 Do you think it will be easy to update the subgen to make it generate an application?

[2017-08-28 22:05] MathieuAA commented on #38
I'm closing this, a more recent post exists about improving the JDL.

[2017-08-28 22:05] #38 closed

[2017-08-29 06:24] deepu105 commented on #141
@MathieuAA yes the import-jdl sub gen can be easily updated to compose the app sub gen based on the app configuration/yo-rc generated. Unfortunately, I'll be on vacation from tomorrow until 8th of September so I won't be of much help. I can, of course, review things from my phone. But this should be straight forward just follow the same way entity generator is composed.

@agoncal might be a typo,

[2017-08-29 06:28] deepu105 commented on #141
@bd82 this is the autocomplete snippet we use. https://github.com/jhipster/jdl-studio/blob/gh-pages/js/codemirror/codemirror.jdl-mode.js

[2017-08-29 07:49] deepu105 commented on #141
@MathieuAA take look at the PR from @bd82 before you start as it might be useful

[2017-08-29 08:05] MathieuAA commented on #141
@deepu105 Yeah I've had a look yesterday, and I agree with you

[2017-08-29 12:24] agoncal commented on #141
@deepu105 I was thinking of your idea of "inheritance".

If you have a repository :

[code]

With this code, you have a valuable repository (valuable, because you can use it and it works), it's associated service and REST controller. Everything works.

Now, for a service:

[code]

What do you do with it ? What do you generate ? And empty method ? What for ? You would have to add code on it. Coming

[2017-08-29 12:45] deepu105 commented on #141
@agoncal overall I would like to move to an Inheritance model for our generated code so that people can update the child classes without having to worry about being overwritten by upgrades and stuff.

Now for the repository vs Service. I belive if you generate a repo with say
[code]
You would create a Spring Data Interface called `MyRepo` with a method on it called `countByAge` and you could gener

[2017-08-29 14:19] agoncal commented on #141
@deepu105 I agree that you can create Spring Data interface + service + REST controller using an IDE... but being able to do it in JDL is important.

The way I work with JHipster is that I never touch the generated code, and only use inheritance. This allows me to upgrade my projects. In in my JDL I have a :

[code]

I know it will be in the generated code, and I know I won't have to touch it when

[2017-08-30 19:09] bd82 commented on #141
@deepu105 , everyone.

**How large of an enrichment of the **grammar** are we talking about here?**

I'm trying to figure out how the questions of:
* "How?" (technologies/architecture)
* and "What?" (Syntax and Semantics of expanded JDL)
Interact?

If **most** of the Grammar will effectively be redesigned, we may want to answer the
"How?" question first to avoid duplicate work.

If this enrichment

[2017-09-05 12:27] stieler-it commented on #139
@MathieuAA What has to be done that the new syntax also works in [JDL Studio](http://www.jhipster.tech/jdl-studio/)?

Currently, I'm getting a `Expected ["|'] but "/" found. -> line: 4` error.

[2017-09-05 12:32] MathieuAA commented on #139
I have yet to release it. I'll do it when I have some free time

[2017-09-07 19:10] tjancz opened #143 "field name rules description"
There should be clear description that field name have come validations during generation i.e. name - "do" "or" "od" are not valid.

[2017-09-08 06:05] MathieuAA commented on #143
ToDo here: update error cases

[2017-09-08 09:54] deepu105 commented on #139
The js file reference needs to be updated in jdl studio bower file as well

On 5 Sep 2017 1:32 pm, "Mathieu ABOU-AICHI" <notifications@github.com>
wrote:

[2017-09-09 13:13] bd82 opened #144 "JDL Compiler front-end Architecture & Implementation."
## Introduction

This issue is meant for discussion of the existing compiler architecture and implementation,
It's short comings and alternative approaches to resolve these short comings.

## Existing Issues.

### Root Issue
The root issue is that the **existing solution solves the wrong problem.**
The solution solves the problem of a compiler for code generation
Not a compiler that can **also pro

[2017-09-09 13:46] MathieuAA commented on #144
The point wasn't to have a compiler, but only a parser.

That's one of the issues I have with PegJS.

The project doesn't handle this point.

What's the point in doing this?

I don't understand your second issue.

[2017-09-09 16:36] bd82 commented on #144
### Parser vs compiler's front-end

This is a matter of semantics, some refer to the lexing + parsing + ast creation + semantic checks
as a "compiler front-end", but the exact terms do not really matter as long as we agree on the scope.

### Content-Assist

Yes indeed it does not, which is why there is logic duplication in the JDL-studio project
related to lex/parsing for content assist.
* https:/

[2017-09-14 17:46] bd82 commented on #144
Pinging @MathieuAA @deepu105 😄

* What do you think of this proposal?
  - The good?
  - The bad?
* Is this relevant for the JHipster Core project?
  - If so how do we proceed?

[2017-09-15 08:48] deepu105 commented on #144
Since @MathieuAA knows much better about the current parser I'll leave the decision to him. My personal opinion is that this seems more readable and maintainable than PegJS but a little more work initially to migrate everything I guess

[2017-09-15 23:27] MathieuAA commented on #144
@deepu105 I've finally finished testing and playing with everything, and I think this is the way to go.
@bd82 your work is really astounding, and I can't emphasize that enough.
I guess the next step is cutting loose ends (the big'ol PegJS parser) and eventually cleaning things up.

[2017-09-16 08:27] deepu105 commented on #144
@bd82 @MathieuAA just one question currently [I use the output json from PegJS parser for JDL studio](https://github.com/jhipster/jdl-studio/blob/f931fe36766868068cff0e5aa68e8b672625693b/js/nomnoml/nomnoml.parser.custom.js#L30), with this will the json structure change?

[2017-09-16 10:16] bd82 commented on #144
I think it **should not change**, otherwise the scope of changes would be too large to safely handle.
The #3 phase (Ast building) should build an **identical** data structure to what the Peg parser outputs now, so everything post parsing stays the same.

The difficult part is to ensure this actually happens without unintended changes...

[2017-09-16 10:25] bd82 commented on #144
I could probably help by migrating the the grammar (Phases 1 & 2).
The Ast building phase should probably be done by someone already familiar with the existing AST.

[2017-09-22 03:38] jihlee commented on #128
Hello @vw98075, how did you deal with this issue?
I'm quite interested with this issue.

[2017-09-24 22:25] bd82 commented on #144
Just a small update.

I am hoping to start working on the grammar conversion (Phase 2) this weekend.

[2017-09-29 16:05] jdubois commented on #106
I have a related issue with microservices -> @MathieuAA please tell me if you think this needs to be another ticket.

When I generate an entity in a microservice, for example:

[code]

This generates the following JSON file:
[code]

But this should also include, with "micro1" being the name of the current application (only for applications of type "microservice"):
[code]

By adding this, it allows

[2017-09-29 17:32] deepu105 commented on #106
@jdubois I think its already possible in JDL see http://www.jhipster.tech/jdl/#microserviceoptions

[2017-09-29 17:38] deepu105 commented on #106
Unless you are talking about something different!

[2017-09-29 18:10] jdubois commented on #106
No it's different :-)
When I import my JDL, I would like this property (which is in fact the URL to the microservice) to be added automatically into the .json file, when the application type is "microservice".

[2017-09-29 23:10] PierreBesson commented on #106
@jdubois. Yes it would be nice to have but I think this would only matter for the export-jdl subgen. Because when you import a microservice entity on the gateway, it already adds the correct microserviceName. And when you create entities with JDL. The microserviceName property only matter for the gateway not the microservice itself.

[2017-09-30 09:23] deepu105 commented on #106
Oh ok got it, probably it needs to be done on the generator code for entity

[2017-09-30 09:31] jdubois commented on #106
@PierreBesson no did does work (I thought it did), when you do it like that:

- I create an entity in a microservice using the JDL -> that doesn't add the `microserviceName` in the `.json` file
- So then when I create the same entity in the gateway, using the command-line, it can't find the microservice name, and so it fails

[2017-09-30 11:22] MathieuAA commented on #106
@jdubois this may very well be a regression, let me have a look and I'll get back to you.

[2017-09-30 11:29] MathieuAA commented on #106
@jdubois how silly of me: this is an enhancement. I'll add it ASAP.

[2017-09-30 13:17] MathieuAA commented on #106
@jdubois @deepu105 @PierreBesson: it's done. I'll propose a change for the subgen now.

[2017-10-01 21:35] MathieuAA opened #147 "Add this app option"
So that the **new** parsing system knows it:
  - [ ] `enableSwaggerCodegen`

[2017-10-02 12:39] micobarac opened #148 "Preserve column names when using snake-case names by JDL import"
In case of importing snake-case column names using JDL, underscores are omitted during code generation, which is a problem.

`accounting_requests_number` becomes `accountingrequestsnumber` .

[2017-10-02 13:24] MathieuAA commented on #148
Why do you even have such names? JHipster handles that itself

[2017-10-02 13:28] jdubois commented on #148
Yes @MathieuAA this is going to complexify the JDL, and I don't understand the added value. This is work & maintenance for you, I wouldn't spend time on this.

[2017-10-02 13:29] MathieuAA commented on #148
@jdubois Yeah, that too.

[2017-10-02 13:31] MathieuAA commented on #148
@micobarac if I were you, I'd just have my jdl field named as the Java convention recommends.

[2017-10-02 13:31] #148 closed

[2017-10-02 18:07] #147 closed

[2017-10-02 18:08] MathieuAA opened #149 "Implement app parsing with the new system"
@bd82 (@deepu105 too as you've followed the thread) At this point, I'll implement the app parsing myself to get to know the new system and, hopefully, release right after some tests.
I may ask you some newbie questions, sorry in advance! =)

[2017-10-02 18:22] bd82 commented on #149
Hi @MathieuAA  Feel free to ask newbie questions 😄
Some of those can lead to improvements in the library 👍

What is the "App parsing"? is it part of the JDL grammar or a separate grammar?

The reason I'm asking is because I will have some holidays this weekend so
I plan on trying to migrate the existing grammar (just grammar, no AST building).
So I am trying to understand if we will have merge con

[2017-10-02 18:29] MathieuAA commented on #149
I've taken the time to read everything you've added and I noticed there's no "path" for app declaration in the `parser.js` file. I think I'll get a good grip on the new system if I implement it myself and try to make it work. That means implementing it in the `ast_builder.js` file too.
This is a more complex work than what I've been used to do with PegJS, but I feel almost "overpowered" by what yo

[2017-10-02 18:32] MathieuAA commented on #149
I'm going to start today (or tonight more precisely...) and create a branch

[2017-10-02 18:55] bd82 commented on #149
O.k.  so you are implementing a [**subset**](https://github.com/jhipster/jhipster-core/blob/master/lib/dsl/grammar.txt#L136) of the grammar to get a deeper understanding of
the **entire end to end** flow. This is great.

I don't think it will seriously conflict with my attempt to migrate the grammar.

[2017-10-02 18:58] MathieuAA commented on #149
Nice =)

[2017-10-02 19:00] bd82 commented on #149
Thanks 😄 .
I don't think the actual work is much more complex, rather it split up into more **distinct** phases.
The architecture is indeed more complex though...

If you believe it is over complicated for JDL requirements it is possible to also embed actions in the grammar as is done with pegjs.

Imho the main advantage for embedding is performance which is not relevant in JDL use case
as the inp

[2017-10-05 06:40] micobarac commented on #148
Column names in our Cassandra database are modeled by using snake case. There's nothing I can do about it. I don't see why this would complexify the JDL.

[2017-10-05 06:41] micobarac commented on #148
As I can see, camel case names are preserved, snake case names lose underscores during JDL import, which sucks.

[2017-10-05 06:54] jdubois commented on #148
Oh sorry you should have said you were using Cassandra. That makes much more sense to me as you don't have Hibernate.

[2017-10-05 06:58] micobarac commented on #148
Yep, sorry for not telling you this. Jhipster proposes using raw CQL queries and snake-case column names.

[2017-10-05 08:10] MathieuAA opened #150 "Have some kind of annotating/tagging system in the JDL"
So we don't have to do this:
[code]

and just have
[code]

Note that the first syntax is really nice if you decide to add another entity: you won't have to change the option.

@agoncal A promise's a promise.

[2017-10-05 09:37] deepu105 commented on #150
@MathieuAA I proposed to have the annotation system long back :smiling_imp:
Anyways I think below might be much easier to understand as we are very used to it in other languages
[code]

[2017-10-05 09:41] deepu105 commented on #150
Similar what https://github.com/hakandilek/vagabond-uml does

[2017-10-05 09:42] deepu105 commented on #150
Ping @hakandilek
From the readme
## Annotations

Annotations are used to represent special characteristics of Entites or Entity attributes.

[code]
In this example `Job` entity has the `@paginate` annotation with `pagination` property.

[code]
In this example `@dto` annotation is applied on the `JobHistory` entity with `mapstruct`
property.

Annotations can be combined.

[code]
In this example `@d

[2017-10-05 09:44] MathieuAA commented on #150
@deepu105 that was an intended surprise :)

[2017-10-05 09:45] hakandilek commented on #150
@deepu105 thanks for the ping. Well, the syntax is not complete, let's share ideas to bring it forward. :-)

[2017-10-05 11:26] cbornet commented on #150
What would be the syntax for `*` and `except` ?

[2017-10-05 11:47] deepu105 commented on #150
This would be additional syntax to existing so * & except should work in
old syntax and they dont make sense in a single entity annotation anyway

Thanks & Regards,
Deepu

On Thu, Oct 5, 2017 at 1:26 PM, Christophe Bornet <notifications@github.com>
wrote:

[2017-10-06 02:21] CarreraPHP commented on #46
@jdubois  @deepu105 , Is there any change of plan for 'inheritance support'. I have a necessity of creating multiple Entities with at least 5 fields common between. Enabling inheritance will help me in moving those fields to a separate entity class and other entities to inherit from it.

If u have a workaround for the same, please let me know.

[2017-10-06 06:30] deepu105 commented on #46
@CarreraPHP we have some plans but nothing concrete at the moment so I wont be able to give any ETA

[2017-10-07 10:21] MathieuAA commented on #149
@bd82 I've found some backward-compatibility issues with your PoC, I'm working on fixing them:
  - [X] the comma is optional when declaring fields
[code]
  - [X] there shouldn't be any comma between validations
[code]
  - [X] (not a backward-compat issue, but still) the underscore shouldn't ever be a possible starting symbol for a name (I don't want to encourage bad habits)
  - [ ] Find some more

[2017-10-07 10:59] bd82 commented on #149
Hi @MathieuAA

My computer crashed while writing an in depth response, which I will recreate later.
For now lets share our work via PRs to reduce merge difficulty.

[2017-10-07 11:04] bd82 commented on #149
My latest work will be available here.
https://github.com/jhipster/jhipster-core/pull/151

[2017-10-07 12:36] bd82 commented on #149
#151 should include all the grammar **except** the ApplicationDecl.

I am sure there are mistakes 😄, but if you could review this and merge we can continue in improving the implementation...

These are to my understanding the **big** issues which we need to resolve:
- [ ] Whitespace sensitivity of the existing grammar.
- [ ] Handling restrictions on the names of different constructs.
- [ ] Quality

[2017-10-07 12:57] jdubois commented on #46
I just had feedback from a project which forked JHipster and implemented inheritance: they found it cumbersome, and not better than doing it "manually" on a normal JHipster project. And so they are stopping this.
So I'm really not sure it's a good idea.

[2017-10-07 17:44] MathieuAA commented on #46
Let's drop it and let users implement it themselves if they want to.

[2017-10-07 17:45] MathieuAA commented on #149
I'll review everything right now

[2017-10-07 18:24] MathieuAA commented on #149
This is my main issue with the new system

[2017-10-07 19:44] bd82 commented on #149
### Whitespace sensitivity of the existing grammar.

The current grammar has some special rules around whitespace.
It is mandatory is some places while in others there are limitations on the kind of whitespace that can be used (without line terminators).

* [Example1](https://github.com/jhipster/jhipster-core/blob/7a0e08a6c4a403171aca43795c1edd8e9d0ef041/lib/dsl/grammar.txt#L312)
* [Example2](http

[2017-10-07 19:52] MathieuAA commented on #149
Yeah, it could have been cleaned up....
The important parts are:
  - whitespaces are not required except for some obvious things (tell me I've made a mistake)
[code]

[2017-10-07 20:47] bd82 commented on #149
### Handling restrictions on the names of different constructs.

When using a separate tokenizer phase it is not possible to apply restrictions on Identifier names when
those Identifiers has **common prefixes** and we are lacking the current grammar context information
as the lexing and parsing are **distinct** phases.

The new implementation POC **merges** all the possible forms of names into a *

[2017-10-07 21:29] bd82 commented on #149
### Quality - ensuring 100% compatibility with the old implementation.

* Hopefully the existing test suite will take care of much of it.
* Advanced testing could be done by generating JDL inputs randomly and testing that the output of the existing parser and the new one are identical.
  - This is a bit complex to implement...
* There is an open question if we are willing to accept micro breaking

[2017-10-08 09:06] MathieuAA commented on #149
Yes. Just pointing out that having a single regex for names seems weird. For instance, users will have the option to add project paths to their definition (really useful for microservices) and I have trouble making the very simple regex `[^\n]+` work.

Random generation is not a good idea, as you've rightly pointed out that it's a bit complex to implement, and nobody knows if the generated parser

[2017-10-08 10:16] bd82 commented on #149
A **single** Token for identifiers is how most programing languages do it.
Including ECMAScript.
* https://tc39.github.io/ecma262/#sec-names-and-keywords

Granted JDL is not a programing language...

I have found what you meant by project path:
* https://github.com/jhipster/jhipster-core/blob/master/lib/dsl/grammar.txt#L156

This cannot be **naively** implemented with a distinct lexing phase becau

[2017-10-08 10:19] bd82 commented on #149
Great, that is the intent, being willing to consider micro breaking changes
for the long term health of the grammar.

[2017-10-08 10:25] bd82 commented on #149
Btw to avoid regExps such as [^\n] the general solution is to wrap the text in some delimiters
For example as a string literal:
- "../../toto"

The only language that allows free style inputs I am aware of is YAML.
And that is part of the reason why it is so difficult to parse which causes the tooling for it to be very very bad.

[2017-10-08 15:58] bd82 commented on #149
See https://github.com/jhipster/jhipster-core/pull/155 for implementing a multiMode lexer for
the [^\n] regExp.

[2017-10-09 15:56] bd82 commented on #149
Are the keywords reserved in JDL?
In other words is the following valid?
[code]

[2017-10-09 16:12] MathieuAA commented on #149
There should be a validation of that inside the project (I intend to do
it after the app generation and the new system are done). Plus, it will
fail when the generator generates the files.

On 09/10/2017 17:56, Shahar Soel wrote:

[2017-10-09 16:13] deepu105 commented on #149
Yes all java reserved keywords are reserved for JDL as well

[2017-10-09 16:55] bd82 commented on #149
What about **none** Java JDL keywords?

[code]

[2017-10-09 16:58] bd82 commented on #149
Here is the implemented [grammar syntax diagrams](
https://rawgit.com/bd82/jhipster-core/6f29933e7f7291dfb909fe1240bb46682f7a19e1/lib/dsl/poc/diagrams.html) so far (as in PR #154)

[2017-10-09 17:28] deepu105 commented on #149
Here are all the current reserved keywords and I guess we could make the JDL keywords like application, entity, relationship etc reserved as well if needed

[2017-10-09 18:17] bd82 commented on #149
Here where? 😄
Missing link?

[2017-10-09 19:47] deepu105 commented on #149
https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/reserved_keywords.js
Damn I thought i pasted it

[2017-10-09 20:21] bd82 commented on #149
Thanks @deepu105

Seems like a great many reserved words.
I will try to create a PR which maintains the behavior of the existing pegjs parser.
I think that something like "baseName application" will work in the existing pegjs parser.

[2017-10-10 02:53] sulmansarwar opened #156 "representing Lists/Arrays in JDL"
There needs to be a way to represent Lists and Arrays in JDL. Example:

[code]

In this example, 'absences' is a list of Absences. How do we represent a List of objects? I did not find any example or mention in the docs.

[2017-10-10 02:58] sulmansarwar commented on #156
Can we do
absences List<Absence>
?

[2017-10-10 06:02] deepu105 commented on #156
This is not the right place for this. JDL can support this only if the generator supports it and at the moment we dont have any plans to do this.

[2017-10-10 06:02] #156 closed

[2017-10-10 06:36] MathieuAA commented on #149
It wouldn't surprise me, I didn't implement it before your POC.

[2017-10-11 07:04] bd82 opened #158 "Suggestion: Introduce prettier"
[Prettier](https://github.com/prettier/prettier) is an opinionated code formatter for JavaScript and assorted languages (json/css/typescript/...).

* Used in popular projects such as React/Babel/Webpack.
* Does formatting better than ESLint as it is a dedicated tool just for that.
* It allows for a consistent formatting between different projects and even different languages.
* Avoids arguments ab

[2017-10-11 07:05] MathieuAA commented on #158
I believe @jdubois and @deepu105 have (or had) a discussion in a ticket in the generator.

[2017-10-11 07:09] bd82 commented on #158
I will look for it

[2017-10-11 07:13] bd82 commented on #158
Found it: https://github.com/jhipster/generator-jhipster/issues/6379

That issue is about using prettier to format **generated** code from jhipster.
I'm suggesting it here for better(?) **development** flows of jhipster-core's **own** code base.

Up to you to decide if you like the concept of the prettier tool. 😄

[2017-10-11 07:20] MathieuAA commented on #158
I'll think about it today!

[2017-10-11 08:46] deepu105 commented on #158
@bd82 if you add prettier don't you have to run some task to make it work on the code? either via eslint or pre-commit hooks? (I hate pre-commit hooks :smile: )
IMO `eslint --fix` already does a pretty good job for us but if you guys think it is really useful here then its ok.
If you decide to add it please make sure to align its options as closely as possible to the current style used. (Eslint an

[2017-10-11 09:36] bd82 commented on #158
Sorry one of my long posts here. 😄

Yes, but you usually do it via the editor integration options now a pre-commit hook.
-  https://github.com/prettier/prettier#editor-integration

ESLint is not bad and would still remain for code quality rules.
-  https://github.com/prettier/prettier#how-does-it-compare-to-eslint-or-tslint-stylelint

The differences are:
-  In prettier **everything** is automatic

[2017-10-11 11:10] deepu105 commented on #158
@bd82 yes I know about most of what you said. And I guess nobody spends time formatting these days anyway, at least I don't as I use IntelliJ and VScode primarily and both automatically format files based on my editorconfig and eslint settings. So for me this is just replacing one tool with another.
So, it would be nice to stick to current styling as much as possible(the options that are supported

[2017-10-11 11:35] MathieuAA commented on #158
As Deepu said, as long as it's consistent with each and every JS JHipster project, I'm good.

[2017-10-11 12:48] bd82 commented on #158
I did not consider **other** projects in the jhipster org.
I think this will become too much work for too little gain.

[2017-10-11 12:59] MathieuAA commented on #158
I don't agree, it can be done. Yes, it wouldn't take 5 minutes, but it's not impossible.

[2017-10-11 13:02] bd82 commented on #158
It is not impossible, just more than I was interested in investing.
I can implement it for this project in a PR and you can inspect if you are interested in applying the same to additional repos in this org?

[2017-10-11 14:26] MathieuAA commented on #158
I don't think it's a priority

[2017-10-12 05:40] MathieuAA commented on #133
@yvillazon With a lot of delay, the issue is because you use the `User` entity (an entity handled by JHipster). And it can't be modified unless you specify the flag `--skipUserManagement` to the parser.
Here `Usuario{user} to User{usuario}` you set a One-to-One relationship between your own User class and the default one. The issue is that, if you don't add the flag, the User entity won't be modif

[2017-10-12 05:40] #133 closed

[2017-10-12 11:14] bd82 commented on #149
@MathieuAA Let me know if any help is needed with the application grammar part.

Once that is done we will have an initial grammar we can start testing **real** existing JDL sources on.

[2017-10-12 11:28] MathieuAA commented on #149
@bd82 my priority right now is to release some fixes/improvements (v1.3.6 yesterday & v1.3.7 for tonight). I'll resume work on the app generation front right after.

[2017-10-12 18:46] MathieuAA commented on #143
done with v1.3.7

[2017-10-12 18:46] #143 closed

[2017-10-15 22:41] vivekmore opened #162 "TypeScript as the main language for the jhipster-core"
* **Overview of the request**

TypeScript as the main language for the **jhipster-core** (_and eventually generator-jhipster_) module

* **Motivation for or Use Case**

Hi "Jhipster Core" team,

First of all I'd like to commend:clap: your team on an awesome job with the Jhipster generator. I'm definitely among the several fans of the tool.

I've been following (and learning) the generator closely

[2017-10-16 06:25] MathieuAA commented on #162
I'll develop my "thumb down" later, but for me it's a **no**.

[2017-10-16 06:45] pascalgrimaud commented on #162
We have other priorities, like React, OIDC, Couchbase, etc. Need more help there, than changing here to TypeScript.

So for me, as Matthieu, -1

[2017-10-16 08:20] deepu105 commented on #162
Sorry, No from me too. I have been using Typescript on projects for a long time and I don't see it as that huge benefit for a Node project. It adds additional complexity of transpiling and slows down development for such projects.

[2017-10-16 08:20] #162 closed

[2017-10-16 08:23] deepu105 commented on #162
Having said that if you would like to help then you could consider writing type definition files for the public API which will help with first 3 points you mentioned

- this will hugely help jhipster module devs (if not the core development team as well) to develop
- the code will have stricter/more concise api (no more guessing which method parameters are optional and what their types should be)

[2017-10-17 06:10] MathieuAA commented on #162
@vivekmore Hi, sorry I didn't have time yesterday to write a correct comment.

My main issue with your proposal is your arguments (easy for me to say, I know). A "good" language doesn't always imply a "good" project. Your points about how stat. typed languages make for a better project are, in my opinion, just plain wrong. If a project isn't good enough in terms of quality, don't blame the project

[2017-10-17 15:21] vivekmore commented on #162
@MathieuAA,
This proposal was not an attempt to say that

in any way, shape or form. I apologize if it came across that way.

I'm also not saying that statically typed languages make for a better projects. There are and will always be bugs in any project/software. So far, I have only good things to say about the code quality of jhipster*    projects' quality.

However, I believe that using TypeScr

[2017-10-17 15:40] deepu105 commented on #162
@vivekmore no worries, we do respect your opinion. Thanks for your contributions and hope this doesn't affect your Future contributions. I have seen your TS repo and I wish you hadn't spent time on it without discussing it first so. Sorry that you lost time in that. Hope at least it was educational. If you are interested in making TS related contributions we would really appreciate it for our Reac

[2017-10-17 15:56] bd82 commented on #162
Would you be interested in using TypeScript for **public APIs**
While **also** validating the implementation inside JHipster-core matches the APIs.
Meaning maintaining the APIs in d.ts files inside this repo
and using some of the newer capabilities of TypeScript to check / annotate JS files?

This approach does not use **any** code generation and only uses TypeScript as a linter.
I want to create

[2017-10-17 17:08] vivekmore commented on #162
@deepu105,
Thanks for your concern, but I wanted to do it for personal enrichment too 😉 - also I wanted to gauge the effort/complexity before I proposed anything.

I will definitely continue to contribute in the future.
Time permitting, I'll do some research on how to start maintaining type declaration files for any project and come back with questions or PRs.

[2017-10-19 10:15] hdurix opened #163 "SQL & MongoDB field types & validation"
For JDL and core code, SQL databases and MongoDB have two different definitions of field types and validation rules (see https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/field_types.js#L46).

But in Generator JHipster, both SQL databases and MongoDB have same list of fields and rules (see https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js

[2017-10-19 13:14] MathieuAA commented on #163
Hi, if one day we support one more field type for MongoDB, when we'd just have to add it without separating. Now, that was the initial idea. However, since definitions haven't been different for at least two years, I guess we can merge them!
Thanks!

[2017-10-19 13:40] hdurix commented on #163
Ok thanks let's merge them then. I'll do it in my PR.

[2017-10-19 21:35] bd82 commented on #162
If there is an interest in using typeScript for public APIs while staying a vanilla JS
project this pattern may be of interest.

https://github.com/bd82/typescript_for_public_apis

[2017-10-19 21:38] PierreBesson commented on #162
Personally I'm also against migrating the generator code to typescript. I personally think Typescript is great but I'm of the opinion that generator language or technology itself is not very important. More importantly the code should be simple and easy to contribute to.
However it could be valuable to help developers write modules in typescript.
You could contribute the following :
- add typings

[2017-10-20 10:06] jdubois commented on #162
Sorry guys to comment here so late. I'm going to repeat some existing comments, but those are the 2 big arguments for me:

- We have so many opened tickets at the moment, in no way can we do something this big. That would also block all improvements for several months, which is also not possible.
- I want to keep JHipster simple and easy to use: the project works because it's really simple and any

[2017-10-20 12:27] hdurix commented on #163
@MathieuAA I have something I don't understand with the current master branches from jhipster-core and generator-jhipster for the JDL file import.

In the generator, the call for JDL import is given with 4 arguments:
https://github.com/jhipster/generator-jhipster/blob/master/generators/import-jdl/index.js#L89

The function binding seems to be there:
https://github.com/jhipster/jhipster-core/blob/8

[2017-10-20 12:58] MathieuAA commented on #163
Hi, the generator uses v1.3.7 (not master) of this project (I may have slightly fucked up the branching...). The branch is `dev`.

[2017-10-20 13:12] hdurix commented on #163
Oh okay thanks that's what I was missing!

So for testing the generator JDL import, I have to create a branch from v1.3.7 instead of master. I'll test that.

[2017-10-20 13:19] MathieuAA commented on #163
You can fork the dev branch, the master branch will be v2.0.0 (and everything will be there eventually)

[2017-10-20 13:24] hdurix commented on #163
Ok I'll do the PR from the dev branch

[2017-10-25 12:14] #163 closed

[2017-10-30 05:30] MathieuAA opened #165 "Clean up unary option declaration"
There shouldn't be two different syntaxes when declaring them.
The `for` keyword should be removed.
From [there](https://github.com/jhipster/generator-jhipster/issues/6286)

[2017-10-30 11:32] MathieuAA commented on #165
Yet to be released

[2017-10-31 15:55] guillaumefinance opened #166 "Addition to JHipster help: integration with Sparx EA UML models"
Hi,

I defined last year an integration module to generate JDL content from UML model defined in Sparx Enterprise Architect tool.
This module (Sparx MDG) has been used by our dev team to create Entities in JHipster from UML class diagrams created in Sparx EA.

I published this week an Open Source project in Github so it can contribute towards the community and let anyone improve it with the latest

[2017-10-31 21:40] MathieuAA commented on #166
Hello Guillaume!
The JUML project can already export JDL from UML files, but not with this editor, because it's not free and we can't offer any support for it. The fact that you've done it, with JDL export, is pretty awesome!
If you plan on keeping your repo up and updated, we can create an entry in the doc (under the JHipster UML section) so that your repo is directly visible from there. Plus, I