[2017-11-02 13:41] agoncal opened #167 "Being able to generate enums that are not related to an Entity"
##### **Overview of the issue**

JDL is able to generate an enum that is used by an entity, but ignores any enum that has no relation.

##### **Motivation for or Use Case**

Most of the time, enums are related to Entities, but some can be used only by services. It would be good to have JHipster generating them too.

##### **Reproduce the error**

Take a simple JDL file. The entity `Contract` has a

[2017-11-02 13:54] MathieuAA commented on #167
I didn't know that, that's a bug. I'll check it.

[2017-11-02 16:13] cbornet commented on #167
No it's not a bug. JHipster currently only generate enums that are associated to an entity.

[2017-11-02 16:40] MathieuAA commented on #167
@cbornet thanks for the clarification... What about Antonio's use case though? It stands.

[2017-11-02 18:46] gmarziou commented on #167
Unless I'm wrong,  the only code that JHipster would generate in this case is the java enum, so it seems to me it would go against [policy #2](http://www.jhipster.tech/policies/).

[2017-11-03 05:45] MathieuAA commented on #167
@gmarziou Hi! Even though the use case is somewhat valid from a generation viewpoint (a bit stretched though I admit as we dont _yet_ generate services from scratch), I guess you're right.

[2017-11-03 06:16] taurus227 commented on #18
@deepu105 "Having unique validation is very tricky and troublesome" Why do you say that?

[2017-11-03 06:47] deepu105 commented on #18
To really validate something is unique before saving it you need to compare it against existing items to determine if unique which is costly and tricky operation. If you have a simpler way to do it you are welcome to suggest

[2017-11-03 06:51] agoncal commented on #167
What about adding this to [Enriching the JDL grammar](https://github.com/jhipster/jhipster-core/issues/141) ?

[2017-11-03 07:07] deepu105 commented on #167
The problem is if its added in grammer it needs to be implemented in the
generator as well. And as @gmarziou said creating enums really doesn't have
any value as it will be exactly same code you write in jdl put inside a
java file. But we would have to write a lot if code to do that which seems
overkill

On 3 Nov 2017 7:51 am, "Antonio Goncalves" <notifications@github.com> wrote:

[2017-11-03 07:20] heppa commented on #18
Sorry for getting back on this so late, but Robert Mikes' question got me back here - I also don't really understand this, because what I mean is, that I would like to add the "@Column(unique=true)" JPA annotation parameter to tell the DB to add a unique constraint. I don't want anything to be validated.

[2017-11-03 07:31] agoncal commented on #167
I understand. The idea behind enriching the grammar, being able to generate repository methods, enums.... is to have the JDL being the spine of an application. Again, that could be specific to us, but once the JHipster code is generated, we do not change it, we only add extra classes. So, for us, the more JHipster can do, the better.

Closing this issue... but referencing it from https://github.co

[2017-11-03 07:31] #167 closed

[2017-11-03 07:32] agoncal commented on #141
Another idea is also to be able to generate Enums that are not related to Entity (see https://github.com/jhipster/jhipster-core/issues/167)

[2017-11-03 08:32] gzsombor commented on #18
The @column(unique=true) just changes the JPA/Hibernate schema generation, which JHipster doesn't use, as we relay on Liquibase scripts to create the db.
 It is possible to extend the validators, with a generic, unique validator, but this will create an additional sql query every time.

[2017-11-03 08:46] heppa commented on #18
Well, ok, true, didn't think about this, but why not add the uniqueConstraint to the liquibase generation script then? I guess, you agree, that in some cases it is necessary to make sure on DB side, that a unique constraint is a final assurance to not have duplication, but we cannot generate that with JHipster JDL.

[2017-11-03 09:51] taurus227 commented on #18
Yes, that's what I was thinking, to add a "unique" validation much like "required" which would just add the constraint to the liquibase change log.

[2017-11-06 07:43] guillaumefinance commented on #166
Hi Mathieu,
Sounds good to me. Please let me know when the doc is updated so that I can add a link from my project.
Thanks.

[2017-11-06 17:08] taurus227 commented on #141
This part of the [original issue](https://github.com/jhipster/generator-jhipster/issues/6275) was not brought over, so I copied it here:

**Uniqueness**

Today we have several validations on our attributes (required, minlength, maxlength, pattern). We could have unique.

[code]
This would generate a `@Column(unique = true)` as well as a Liquibase constraint :

[code]

Issue #18 also proposed uniqu

[2017-11-07 11:25] deepu105 commented on #141
I guess we were clear in another thread that we won't afd unique validation as there is no added value. So for now it is out of scope lets not do it. Lets finish the basic grammar we agreed above and later we can think of other enhancements

[2017-11-07 16:26] taurus227 commented on #18
@MathieuAA Fine, then let's continue the discussion here.
Agreed, the syntax should be
[code]
but that only works for single-field unique constraints. For multi-field unique constraints, where a value-pair is supposed to be unique, we need the additional syntax. For example in a many-to-many relationship, in the relationship table we need to make sure that the same key-pair is not defined twice.

[2017-11-07 16:31] bd82 commented on #149
@MathieuAA Should I try converting the Application grammar part myself?

I could do so, but I'm wary of the main developers of this repo not being familiar enough with the technology used...

[2017-11-08 07:40] MathieuAA commented on #149
@bd82 Hi, no that's okay. It isn't the lack of familiarity with the parsing system that causes me not to commit everyday, I just don't have much time with to spare with this project and JHipster UML (and other things I'm always avoiding to do but sometimes can't). I'll hopefully have more time this week-end.

[2017-11-08 07:42] MathieuAA commented on #18
@taurus227 point taken

[2017-11-10 12:36] deepu105 commented on #18
If you want to add a simple unique like required then its fine but then it would be nice if someone can PR it to the generator first as we clearly don't have the time at the moment

[2017-11-10 15:31] MathieuAA commented on #18
@deepu105 that's the point =) @taurus227 is working on it.

[2017-11-23 06:50] colameo commented on #165
@MathieuAA when is it supposed to release this change? We could also make the "for" keyword optional as this is a breaking change for existing projects.

[2017-11-23 07:14] MathieuAA commented on #165
@colameo Hi, yeah I know and sorry about that. It was already released (v1.4.0)

[2017-11-26 20:48] deepu105 opened #168 "Documentation inconsistencies"
The docs at http://www.jhipster.tech/jdl/ seems to be a bit inconsistent at some places
For example
1. below code is wrong as the min/max is not applicable to String and field type is missing
[code]
2. required validation for relationship is not clear
3. search or searchEngine as both are mentioned, also this option is not clearly documented

@MathieuAA I found few of these could you take a look a

[2017-11-27 07:07] MathieuAA commented on #168
Thanks @deepu105 !! I'll have a look this afternoon or tonight!

[2017-11-27 08:17] MathieuAA commented on #166
Sorry for the lack of update, I was pretty busy. I'll make a PR tonight and update our projects to make it happen.

[2017-11-27 17:10] MathieuAA commented on #166
Oh by the way, do you have an english copy of the [doc](http://www.umlchannel.com/fr/enterprise-architect/item/203-mdg-viseo-ea-uml-to-jhipster-generator-generateur-entites-jdl-jhipster-modeles-uml-sparx-enterprise-architect)? It would be great

[2017-11-27 17:33] MathieuAA commented on #168
@deepu105 thanks again ;)

[2017-11-27 17:33] #168 closed

[2017-11-27 18:00] #165 closed

[2017-11-27 18:33] guillaumefinance commented on #166
Hi,
The english doc is [available here](http://www.umlchannel.com/en/enterprise-architect/item/204-mdg-viseo-ea-uml-to-jhipster-generator-jdl-uml-model-sparx-enterprise-architect).

Thanks

[2017-11-27 18:44] MathieuAA commented on #166
Awesome, thanks!!

[2017-11-27 19:15] MathieuAA commented on #166
Julien has merged the update. I'm closing this issue, don't hesitate to add anything here!

[2017-11-27 19:15] #166 closed

[2017-11-28 09:45] guillaumefinance commented on #166
Thanks Mathieu.
I noticed a minor issue with the anchor link from the summary to Other Editors.
It should be http://www.jhipster.tech/jhipster-uml/#-other-editors instead of http://www.jhipster.tech/jhipster-uml/#othereditors

[2017-11-28 09:48] MathieuAA commented on #166
Thanks, can you make a PR?

[2017-11-29 19:01] stieler-it commented on #139
@MathieuAA
If we are using a regexp like `pattern(/^[^0-9#!"§$%&\x7F()=?\\*+~#,;\.:]*$/)` the `\x7F` appears as `\\x7F` in the .json file. It seems, for some reason, that neither `\\x7F` in Java nor `\x7F` in our Angular code seems to have an effect. Do you have an idea why?

[2017-11-29 20:42] abuechler commented on #125
@MathieuAA How is this going to work with unidirectional one-to-one relationships? Is this still the case? The [documentation](http://www.jhipster.tech/managing-relationships/#7) provides such an example:

[code]

[2017-11-30 06:49] MathieuAA commented on #125
It should work all the same.

[2017-11-30 06:54] MathieuAA commented on #139
I'll have a look at it today but I wonder... `0x7F` looks like an hex code, so I guess that's the number for `127`.  And this code is `DEL`. What is it you're trying to achieve here? Maybe there's a workaround.

[2017-11-30 08:20] stieler-it commented on #139
Yes, embarassing. We want to achieve a \x2F (slash). I have no clue why I tried 7F. Sorry, I'm sure it works now. Still, it's a workaround because a real slash would terminate the regular expression.

[2017-11-30 20:22] MathieuAA commented on #139
@stieler-it don't be! I know the pattern in JDL is not that robust, and I'm looking into something to make it better.

[2017-12-06 22:41] duderoot opened #169 "Filtering does not work in the JDL because there's no default service value"
When using filter in a JDL file the generated json files in .jhipster folder have only `jpaMetamodelFiltering: true`. According to the [documentation](http://www.jhipster.tech/entities-filtering/)  the json files need also to have a different value then **no** for `service` e.q. `service: "serviceClass"`
##### **Reproduce the error**
[Here](https://github.com/duderoot/jhipster6735/commit/bdbe74339

[2017-12-07 05:22] MathieuAA commented on #169
All in all, this is just about issuing a warning and setting values when the user wants to filter. I'll do it.

[2017-12-10 10:49] #169 closed

[2017-12-10 11:21] MathieuAA commented on #144
This is getting messy, here's what I'm going to do:
  - put everything in the `master` branch into another branch
  - maybe remove the app parsing branch (for the time being)
  - make the `dev` branch the new `master`
  - make the app parsing work with PegJS
  - finally have a working release
  - migrate to the other system when everything is cleaned up

[2017-12-10 16:26] bd82 commented on #144
Hi @MathieuAA

I've recently finished version 1.0.0 of Chevrotain, so more free time...
So I hope to invest some extra time to push this ahead, such as implementing the rest of the grammar myself.

However I can only **minimize the** amount of work needed not complete it all.
(As I've done by implementing a draft of phase1 and most of phase 2)

Hopefully I can minimize it enough to fit in your own

[2017-12-10 16:52] MathieuAA commented on #144
I still have some cleaning up to do (both in the internal project and in the app generation with PegJS), and I don't think the migration to chevrotain will be a priority. In my opinion, my initial mistake was not to 100% finish the app generation (and release it) before beginning the work needed for the chevrotain system.
I'm clearly not going to let that happen again, and I'm going to release a w

[2017-12-10 17:41] bd82 commented on #144
The more incremental approach seems best 👍

I will try to push migration issue a little farther in the upcoming new "side" branch.
Once the higher priority tasks are finished, ping me if additional help is needed for the migration.

[2017-12-10 18:01] MathieuAA commented on #144
Alright!

[2017-12-11 10:58] cvgaviao opened #170 "Import multiple JDL model files into another one ?"
I'm working on a model that is becoming a bit bigger.
Would be possible to split that model into many files and then "import" then into others?

[2017-12-11 12:10] MathieuAA commented on #170
Here, read [this](http://www.jhipster.tech/jdl/#howtojdl)

[2017-12-11 12:10] #170 closed

[2017-12-11 13:03] cvgaviao commented on #170
@MathieuAA , thanks !
Nice to have the possibility to use multiple jdl files while generating code. ? :)
But what I'm missing is the possibility to "crtl-space" while creating relationships in the  Eclipse editor and to refer to entities that was created in another file.

[2017-12-11 13:11] MathieuAA commented on #170
This isn't the project for this. Check the JHipster-IDE project for that

[2017-12-17 13:38] MathieuAA commented on #124
Closing this. Yarn does this with `yarn outdated`.

[2017-12-17 13:38] #124 closed

[2017-12-17 16:17] deepu105 commented on #124
nice

Thanks & Regards,
Deepu

On Sun, Dec 17, 2017 at 2:38 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2018-01-13 20:44] julianotorquato opened #172 "How to skim the resources and repository generation ??"
### The issue

---

### Motivation for or Use Case

---

### Reproduce the error

---

### Related issues

---

### Suggest a Fix

---

### The JDL file

---

### Versions

| JHipster           |
| ------------------ |
| `JHipster Version` |

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-01-14 10:17] deepu105 commented on #172
Please follow our issue template and guidelines. Currently its not possible to skip these, just remive the files yiu don't want manually

[2018-01-14 10:17] #172 closed

[2018-01-14 17:14] deepu105 opened #173 "Export JDL exports wrong pattern for regex"
### The issue

`email String required pattern(/^[^@\s]+@[^@\s]+\.[^@\s]+$/)` is exported as
`email String required pattern(^[^@\s]+@[^@\s]+\.[^@\s]+$),` and hence resulting JDL becomes invalid.

### Versions

| JHipster           | master
| ------------------ |
| `master` |

- [x] Checking this box is mandatory (this is just to show you read everything)

[2018-01-14 17:14] deepu105 commented on #173
@MathieuAA would you able to take a look my hands are quite full

[2018-01-15 23:08] MathieuAA commented on #173
@deepu105 I'll have a look tomorrow!

[2018-01-16 21:30] MathieuAA opened #175 "Make comments properly limited"
Mirror of [#6994](https://github.com/jhipster/generator-jhipster/issues/6994)

[2018-01-16 21:50] #173 closed

[2018-01-16 21:59] #175 closed

[2018-01-17 07:03] deepu105 commented on #173
Thanks man

On 16 Jan 2018 10:50 pm, "Mathieu ABOU-AICHI" <notifications@github.com>
wrote:

Closed #173 <https://github.com/jhipster/jhipster-core/issues/173> via
0ef7521
<https://github.com/jhipster/jhipster-core/commit/0ef752169fdef8cb53e0b7ef63d42ec1978b41d5>
.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/jhipster/jhi

[2018-01-18 10:59] delkant commented on #129
Was this feature forgotten or declined? is there any plans to have it in the future?. I can see it as part of the features described in the first post here[#6275](https://github.com/jhipster/generator-jhipster/issues/6275) but not included/explained at the end. The ticket also was closed with the tag for version 4.8 but I cannot find anything like List<String|Integer> in the documentation. Thanks.

[2018-01-18 11:55] MathieuAA commented on #129
@delkant Searching a little bit should have made you look at [this issue](https://github.com/jhipster/jhipster-core/issues/141)

[2018-01-19 16:20] ruddell opened #176 "Import of Microservice Entity Fails"
### The issue
Importing the following JDL in its microservice results in an error:

[code]
[code]

### Suggest a fix
The method causing issues is `setEntityNamesOptions` in [entity_parser.js](https://github.com/jhipster/jhipster-core/blob/master/lib/parser/entity_parser.js#L141).  It attempts to set the microserviceName for a `*` entity which does not exist as a key in the `entities` object.

###

[2018-01-20 16:05] MathieuAA commented on #176
I'll have a look

[2018-01-20 16:31] MathieuAA commented on #176
I couldn't reproduce it... in the JCore project using a custom test suite:
[code]
and by creating an application from your `.yo-rc.json` file and importing the JDL file. Did I miss something here?

[2018-01-20 18:43] ruddell commented on #176
Here's a failing test, [it's this section](https://github.com/jhipster/generator-jhipster/blob/master/generators/import-jdl/index.js#L89-L99) of the `parseJDL` method from the `import-jdl` subgenerator.
[code]

[2018-01-20 20:15] sendilkumarn commented on #176
There is a similar issue when using enum with microservices.

[2018-01-20 22:01] MathieuAA commented on #176
Thanks, I'm on it

[2018-01-21 14:08] MathieuAA commented on #176
I still can't reproduce... this is kinda frustrating as this looks like a big issue.
My tests:
  - Having a folder named `ms`, with a jhipster microservice app inside, with the same `.yo-rc.json` file, the same JDL, same jhipster version
  - Having a folder named `msdos` (I won't apologize for the joke, it was too tempting), with the same setup
  - Having enums (and not having them) in the JDL

I

[2018-01-21 19:11] ruddell commented on #176
@MathieuAA Does the test in my last message pass for you?  From what I see the issue only happens when the `baseName` in the .yo-rc.json matches the `microservice` specified in the JDL.
[code]
I verified this with the jhipster docker image so it's definitely reproducible.
[code]

[2018-01-21 20:15] MathieuAA commented on #176
Ah! Now it fails, good!

[2018-01-21 20:22] MathieuAA commented on #176
It works when using `*` or `all`, that's one good bug :)

[2018-01-21 20:32] MathieuAA commented on #176
Okay, got it. Fixing it now and releasing right after. Thanks @ruddell and @sendilkumarn (I've yet to reproduce yours by the way, but I think it's the same, enums being field types...).

[2018-01-21 21:35] MathieuAA commented on #176
Some background for the fix:
  - If a JDL with the microservice option is being imported inside a microservice project, every non-excluded entities will be imported if those entities are setup for this option (this is the normal behavior, nothing fancy here)
  - If a JDL **without the microservice option** is being imported inside a microservice project, **every entity will be imported**. See the

[2018-01-21 21:42] #176 closed

[2018-01-25 18:49] delrotf commented on #18
Any update on this? can we now use the unique? Thanks.

[2018-01-26 07:38] MathieuAA commented on #18
As soon as I have time to do it, I'll do it. It will likely be today or this week-end.

[2018-01-27 15:19] MathieuAA commented on #18
What I'm about to do: create a branch with the necessary code to support the `unique` constraint. Once it's available, I'll merge it into master.

[2018-02-01 20:38] krusche opened #177 "Upgrade problem due to new reserved keyword Result"
We have a big problem in our application ArTEMiS (github.com/ls1intum/ArTEMiS) due to a new reserved keyword in jhipster 'Result'

We use an entity called 'Result' in all over the places and cannot upgrade now to the newest jhipster version.

I don't see an option to rename the existing entity and it seems that the jhipster upgrade command has to generate the old code in the jhipster_upgrade branc

[2018-02-01 22:24] gmarziou commented on #177
Sorry for the inconvenience but I just saw that you committed the upgrade, so I suppose this issue can be closed.

[2018-02-01 22:37] krusche commented on #177
I made a little hack/workaround. I started the update script, paused it in the right moment (after the jhipster core dependencies have been downloaded), then changed the file 'reserved_keywords.js' and remove the 'RESULT' entry in line 49. Then I resumed the script and it did not complain any more ;-)

The problem is, I have to do that now for every jhipster upgrade, so I wonder is it really neces

[2018-02-01 22:45] gmarziou commented on #177
Sorry for the inconvenience but the generated java code could not compile and the typescript code was wrong., so I imagine that you made manual changes to generated code in first place.

I guess you have 2 options:

- rename the entity but keep the table name so that you don't need to migrate your database.
- agree to not upgrade anymore which should not be a big deal because JHipster 5 will be ou

[2018-02-01 23:47] krusche commented on #177
we had exactly the same issues as mentioned in https://github.com/jhipster/generator-jhipster/issues/6985 in the Java code, but simply renamed the corresponding variables. I think it might be easier to rename these results variables in the generated code instead of reserve too many keywords...

How would renaming actually work? Is there a rename command?

We currently try to migrate to Angular 5,

[2018-02-01 23:53] gmarziou commented on #177
Well maybe you could submit a pull request for a better fix that does not use a reserved keyword.

There's no rename command, you would re-generate and use your IDE to refactor.

[2018-02-02 07:58] #177 closed

[2018-02-02 18:55] gmarziou commented on #177
As a side note, looking at your repo, I'd recommend that you commit your bower_components folder because bower itself advises to move to npm and so it is quite possible that some of your deps could disappear and break your app build unless you have a caching proxy.

[2018-02-03 13:02] MathieuAA opened #178 "ToDo for v2.0.0"
ToDo:
  - [x] `JHipsterBinaryOptions`
    - [x] remove `BINARY_OPTIONS`
    - [x] remove `BINARY_OPTION_VALUES`
  - [x] `JHipsterUnaryOptions`
    - [x] remove `UNARY_OPTIONS`
    - [x] replace `module.exports` by ` module.exports = Options; `
  - [x] `JHipsterFieldTypes`
    - [x] remove `COMMON_DB_TYPES`
    - [x] remove `CASSANDRA_TYPES`
  - [x] `JHipsterDatabaseTypes`
    - [x] remove the lowe

[2018-02-03 13:42] deepu105 commented on #178
@MathieuAA sorry if its a naive question, as I still didnt find the time to llok at the new code. The items being removed, are they being replaced? if not how are we handling the use cases?

[2018-02-03 13:53] MathieuAA commented on #178
It's all being renamed. The release note being a draft, I don't think you can see itLe 3 févr. 2018 14:42, Deepu K Sasidharan <notifications@github.com> a écrit :@MathieuAA sorry if its a naive question, as I still didnt find the time to llok at the new code. The items being removed, are they being replaced? if not how are we handling the use cases?

—You are receiving this because you were mentio

[2018-02-03 13:58] MathieuAA commented on #178
@deepu105 the code replacing the old one is already in the master branch. I've made easier accessing the JHipster constants. For the deprecated methods, I'll release a patch release with the deprecation warnings so that users can change. I'll make a PR for the generator before releasing to switch to the new code, to make the transition happen smoothly.

[2018-02-03 14:08] gmarziou commented on #178
Sorry if I'm off context here but I have just converted to JDL lately :)

Currently, when there's a parsing error in import-jdl, the error is raised using 3 lines which works well for humans but does not seem like ideal for tools. With this work and new parser, is this something that will get covered?

[2018-02-03 14:23] MathieuAA commented on #178
@gmarziou Can you elaborate with examples? I'm not sure I get what you mean. Do you mean [here](https://github.com/jhipster/jhipster-core/blob/master/lib/reader/jdl_reader.js#L42...L44)?

[2018-02-03 14:27] gmarziou commented on #178
You understood correctly that I did not understand how these lines were generated 😆 Thanks for showing metheser lines of code, everything is fine for tooling.

[2018-02-03 14:29] MathieuAA commented on #178
@gmarziou ;)

[2018-02-10 13:37] deepu105 opened #179 "Add option to entity for clientRootFolder"
PR https://github.com/jhipster/generator-jhipster/pull/7079 adds a new flag for entity and expects the same in entity JSON files. JDL should also specify the same while creating entity JSON files for the import-jdl sub gen

[2018-02-10 19:23] MathieuAA commented on #179
@deepu105 Alright, I'm almost done with the addition. Can you confirm the following assumptions please?
  - If the application's type is a microservice, just ignore whatever value the user might want to set.
  - If the application's type is a gateway, use the microservice's name as value as default or the user's choice if any.
  - Otherwise, use the user's choice.

[2018-02-11 20:44] #179 closed

[2018-02-11 21:00] MathieuAA commented on #179
@deepu105 (and @jdubois) I'm going to update the generator to make it use v1.4.5, and also update the subgens using the JDL so that there's no deprecation warning and also not to have any unfortunate (_but still quite funny I guess_) surprise when v2.0.0 is released.

[2018-02-14 12:27] erreur404 opened #180 "Same jdl for multiple microservices"
Hello,

### The issue
I have two microservices sharing the same JDL like in the documentation

entity B
entity C
microservice * with mysuperjhipsterapp except C
microservice C with myotherjhipsterapp

when I generate the entities on the microservice side (jhipster import-jdl ../jhipster-jdl.jh), all the entities are generated in both services (there are repositories and services for each entity).

[2018-02-15 07:47] MathieuAA commented on #180
The best way to find out is to compare the generated JSON files. I'll do it tonight.

[2018-02-15 17:44] MathieuAA commented on #180
I don't think this issue comes from here. I'm going to confirm it, but I'm almost 100% sure.

[2018-02-15 17:55] MathieuAA commented on #180
Okay, my bad!! the JSON files were generated in the microservices.... even if it wasn't _their_ microservice. I'm going to fix it.

[2018-02-15 18:07] MathieuAA commented on #180
I'm tagging this one as 'enhancement' as this isn't really a bug as the JDL is well written and should have been split in two files to be imported separately. Anyway, expect this fix very soon.

[2018-02-15 20:28] MathieuAA commented on #180
If you want a quick fix, just exclude the entities you don't want in the other microservice.

[2018-02-15 20:43] #180 closed

[2018-02-16 14:13] erreur404 commented on #180
Well it wasn't bugging in normal use cases, the gateway's entity services was pointing to the right microservices so it was kind of safe. However when calling the api one could save clients in the store and products in the client ^^
When you say "exclude the entities" you mean something like
`
microservice Client, Location with client except Store, Product
microservice Store, Product with store ex

[2018-02-17 05:34] gauravsainii opened #181 "maven issue"
i have done everything to install jhipster but in the end when i am opening sudo ./mvnw it showing error that is

./mvnw: 200: local: Volume/japp: bad variable name
Error: Could not find or load main class org.apache.maven.wrapper.MavenWrapperMain

please help me to solve this issue

[2018-02-17 08:19] deepu105 commented on #181
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-02-17 08:19] #181 closed

[2018-02-19 08:17] MathieuAA commented on #180
Yes

[2018-02-19 12:03] erreur404 commented on #180
Hello @MathieuAA ,
I tried it again, and all entities.json were generated in both microservices, even when using "except"

[code]

Two other points came to my mind in the weekend:

This "except" synthax shouldn't be mandatory when someone provides the exhaustive list of entities to 'microservice', because it does not scale well with more that 2 microservices :

[code]

Also, my interpretation of t

[2018-02-19 12:08] MathieuAA commented on #180
I've tested the exclusions, it worked. You could also have more than one JDL file (and thus split the declaration).
The fix isn't yet in master (in the generator), that's why you can't see it.
I've modified the behavior to suit what you described.

[2018-02-24 15:44] bd82 opened #184 "Grammar Quirks"
I have some time to invest in the JDL grammar and thought to document all the syntax quirks I detect.

[2018-02-24 15:44] bd82 commented on #184
## Whitespace Sensitivity
Whitespace sensitivity bloats the grammar due to the hundreds of locations the white space rules must be handled. It is also an opening to inconsistent behaviors e.g:
* Some rules specify exactly one WS character instead of using "space+"
* Some rules use "SPACE_WITHOUT_NEWLINE" between certain elements.

### Suggestion
Make the grammar whitespace insensitive and thus all

[2018-02-24 16:03] MathieuAA commented on #184
I think they won't be relevant as chevrotain brings more flexibility.

[2018-02-24 16:05] bd82 commented on #184
I think you are correct, I am listing the things I'd like to improve as I'm first trying to reach grammar alignment and only then fix these quirks. Because some quirks fixes may cause backward compatibility changes.

[2018-02-24 16:14] bd82 commented on #184
## Comments Handling
Comments are only allowed in specific positions in the grammar.
This can be confusing to end users due to the inconsistency

### Suggestion
* Collect all comments during the lexing stage
* during parsing completely ignore comments
* after parsing attach relevant comments to the AST.

This is similar to the comment handling logic in Babylon.

### Backward Compatibility Implicat

[2018-02-24 16:40] MathieuAA commented on #149
I'm closing this as the "Release is coming" soon.

[2018-02-24 16:40] #149 closed

[2018-02-24 18:23] bd82 commented on #184
## Names in entityList can contain a dash ('-')

Including a dash in an identifier could conflict with future addition of an expression language.
* is 'a-b' a single identifier or a subtraction expression with two identifiers (a  -  b).

It could also cause a conflict when an integer immediately follows an identifier.
* 'a-1' vs 'a  -1'

### Suggestion
Consider the possibility of removing this syn

[2018-02-25 15:55] rifatdover commented on #18
Maybe PK will also be something useful.

[2018-02-25 21:25] MathieuAA opened #185 "Forbid cases of uni OtO relationships where ownerside gets no field"
Example:
[code]

[2018-02-25 21:35] ruddell commented on #185
Could we default to using the other entity's name?

This would be more flexible as it should work whether or not the developer specifies the relationship name (which most of the time is already the other entity's name).

[2018-02-26 05:54] MathieuAA commented on #185
Yes, good point.Le 25 févr. 2018 22:35, Jon Ruddell <notifications@github.com> a écrit :Could we default to using the other entity's name?
This would be more flexible as it should work whether or not the developer specifies the relationship name (which most of the time is already the other entity's name).

—You are receiving this because you were assigned.Reply to this email directly, view it on G

[2018-02-26 22:54] bd82 commented on #184
## FreeStyle Token in Application path config

See here: https://github.com/jhipster/jhipster-core/blob/6f503c65f0446623ac04bd3142beb9e1463227d6/lib/dsl/grammar.txt#L164

The token following a PATH token can be anything except a newline.
This is problematic because:

* As mentioned earlier this is a type of whitespace sensitivity which can lead to inconsistent behavior.
[code]

* This would also b

[2018-02-26 22:59] bd82 commented on #184
@MathieuAA Please take a look at the above comment on "FreeStyle" Token
It may be best to resolve it before it is ever released.

[2018-02-27 12:10] MathieuAA commented on #184
Let me think about it. There's another solution, using `,`.

[2018-02-27 12:13] MathieuAA opened #187 "Split encapsulated elements by at least a a non-whitespace char"
Example:
[code]
Check and do the same for every other elements (fields, relationships, etc.).

[2018-02-27 12:13] MathieuAA commented on #184
I'll update the grammar tonight, thanks :)

[2018-02-27 13:30] bd82 commented on #184
Commas are also good, but would conflict with the languages configuration property.
Using Commas would avoid the ambiguity with newlines BUT there would still be a free style token
that just won't work well with a distinct lexing stage as in Chevrotain.

Have a look at the **WIP** on Chevrotain Application Generation syntax.
https://github.com/jhipster/jhipster-core/pull/183/files#diff-8761393d757

[2018-02-27 20:46] MathieuAA commented on #184
Making the grammar dumber is coming after v2. I don't want to do it right now, every though it's a prerequisite to migrating to chevrotain

[2018-02-27 20:47] MathieuAA commented on #184
I don't get the issue with commas.

[2018-02-27 21:18] #185 closed

[2018-02-27 21:28] #187 closed

[2018-02-27 22:17] bd82 commented on #184
If you do not mind small **breaking changes** in the next version then no worries. 😄
I'm trying to separate the "grammar cleanup" and grammar migration. So I'm trying to build the grammar
to be the **most compatible** at first **including** the quirks. But I don't think the freeStyle token can be migrated in any sane manner.

[2018-02-27 22:33] bd82 commented on #184
* Language config allows comma:
``` LANGUAGES SPACE* languages:[a-z, ]+ SPACE* applicationConfigDecl:applicationConfigDecl ```

* Config properties now use commas as optional separators.
   ```/ ',' SPACE* applicationConfigDecl:applicationConfigDecl```

So what happens when we input the following:

- ```
    application {
      config {
        // In this case the languages would be "en, fr," - An

[2018-02-28 05:45] MathieuAA commented on #184
@bd82 you're right! Both for the paths and the arrays. I'll do the changes

[2018-02-28 08:06] Blackdread opened #188 "Filtering not working"
### The issue

Filtering on entities is not fully implemented based on [specifications](http://www.jhipster.tech/entities-filtering/)

For a OneToOne or ManyToOne relation, filters like Equals, In and IsSpecified will work but not GreaterThan, LessThan, GreaterOrEqualThan, LessOrEqualThan.

For a normal field (not a foreign key) (example id), filters like Equals, In and IsSpecified will work but n

[2018-02-28 10:32] MathieuAA commented on #188
Hi! this is not the project for such an issue. Post this in the generator's issue tracker instead. Thank you.

[2018-02-28 10:32] #188 closed

[2018-02-28 11:55] MathieuAA commented on #184
About https://github.com/jhipster/jhipster-core/issues/184#issuecomment-368248521, I need to check if I can just remove it. If the generator allows it, then it should be kept.

[2018-02-28 13:55] bd82 commented on #184
I think that is less urgent as it is an existing quirk versus introducing a new quirk in 2.0

[2018-02-28 13:57] bd82 commented on #184
Great 😄 if you wrap the "freeStyle" with some delimiters (quotes/doubleQuotes/whatever)
We would avoid adding technical debt before the future migration. 👍

e.g:
[code]

[2018-02-28 14:19] bd82 commented on #184
## Identifiers Syntax Variance

TODO:

[2018-03-04 02:28] briantopping commented on #20
Hi there, congrats on great work here with JDL. @MathieuAA, I am not clear on your reference to the "example" in https://github.com/jhipster/jhipster-core/issues/20#issuecomment-219661649. I assume the documentation has changed, would you know where that reference moved to?

As an aside, being able to add attributes to a MtM is a common advanced usage. It's one part of the first model I have devel

[2018-03-04 19:42] MathieuAA commented on #20
@briantopping Hi, even tough I'd recommend not comment on an old post, I think Christophe simulated a many-to-many relationship without actually having one. It could work but I admit I didn't try this one out (and am certainly not willing to add it to the documentation as it's not a standard way of achieving this kind of relationship).

[2018-03-04 20:54] briantopping commented on #20
Thanks @MathieuAA. I definitely thought a lot about commenting on an old, closed issue. The other option was creating a new issue, only to have it annoy as a duplicate and be closed. And I thought about whether I could create a patch since I have a lot of ancient ORM experience with XMI and XDoclet 2. But the reality there is complex patches don't usually get accepted from new committers on an est

[2018-03-05 11:25] MathieuAA commented on #20
@briantopping Good idea :) Like you said, it's open source. If you submit something that gets accepted and not be around to maintain it, it's ok.  It's open source so everyone can pick up :)

[2018-03-06 23:57] bd82 commented on #184
TestFramework also needs to be wrapped in brackets:

[code]

And I think frontendFramework has a case **typo**:
front**E**nd vs front**e**nd (capital E)
[code]

[2018-03-09 17:42] bd82 commented on #184
I'm closing this as I'd like to focus only on the minimal scope for introducing the new Chevrotain parser.

[2018-03-09 17:42] #184 closed

[2018-03-09 18:04] bd82 opened #189 "Chevrotain migration issues"
This topic will be used to list and discuss issues related to the Chevrotain migration.
With a focus on **minimal** backward compatible **scope**.

[2018-03-09 19:12] bd82 commented on #189
## Several types of Identifiers may start with an digit

See [comments](https://github.com/jhipster/jhipster-core/pull/183/commits/a30e28fb0bf9585b4a73eb9e48f0517fc37affdd#diff-6fe18b15e89d86c747be91dfceee7a84) on the pegjs grammar to identify which grammar rules are affected.

This causes an ambiguity between integers and Identifiers which is difficult to resolve
using a distinct lexing phase.

#

[2018-03-09 23:00] bd82 commented on #189
Interestingly the JDL Studio xText grammar does not allow the strange Identifier rules
https://github.com/jhipster/jhipster-ide/blob/master/jdl/io.github.jhipster.jdl/src/io/github/jhipster/jdl/JDL.xtext

It only uses a single ID Terminal rule provided by XText
* https://www.eclipse.org/Xtext/documentation/301_grammarlanguage.html

I do not know if that is a "bug" or intentional but that may be an

[2018-03-09 23:57] MathieuAA commented on #189
That's something I thought of doing a little while back but judged that if such rules were authorized in the main gen, then the JDL should allow it.
Now to be honest, as it's a good time to break things, I think it may be wise to forbid such weird cases.

[2018-03-10 08:01] colameo commented on #189
the ID definition in Xtext is not fixed and can be easely improved to handle also identifiers which starts with numbers... however i will have soon a look at what u are doing ;-)

[2018-03-10 09:51] bd82 commented on #189
Hello @colameo

I think(?) the XText parser also has a **distinct** lexing phase which makes it hard to distinguish tokens with
similar prefixes. A PEG grammar is **lexerless** so it can apply different "lexing" rules depending
on parser context, but with a distinct lexing phase, the parsing context is not yet known
this means the **entire** text input must be tokenized **before** we start parsing

[2018-03-10 12:59] bd82 commented on #189
Now to be honest, as it's a good time to break things, I think it may be wise to forbid such weird cases.

Breaking things would probably be needed to cleanup the grammar and ease the migration.
The separate questions is whether or not some of these "weird" identifiers are really needed
and if you want to still support them by wrapping in delimiters.

For example I did see their usage in an enum:

[2018-03-10 13:17] colameo commented on #189
@bd82 I guess it makes no big sense to explain how we would solve the above identifier problem as we are in "two different worlds" and there is (for the moment) no simple way for synergies.

[2018-03-10 13:38] bd82 commented on #189
@colameo

Any suggestion is welcome 😄.
As I've also implemented the parsing library used I may be able to adopt your solution
even it it relies on features not currently supported by it.

[2018-03-10 16:03] MathieuAA commented on #189
The simplest answer, which is sometimes the right one, is to stick to what already exists. If the generator allow such things, then we have two options:
  - stick to what the generator allows (can be tricky sometimes),
  - change the generator.

I didn't read everything, but I don't think there's an issue with chevortain parsing system, is there?

[2018-03-10 17:15] bd82 commented on #189
When you say "generator" I take it to mean the [Jhipster-Generator](https://github.com/jhipster/generator-jhipster) project. Not this project and the included parser.

In that case we have **three** options, The first two you mentioned plus:
* Change the **syntax** to support the edge cases but without changing the **semantics**.
  So a **different** syntax would produce the old AST the generator

[2018-03-10 17:31] bd82 commented on #189
The Chevrotain parsing system would have difficulty distinguishing between these different types of Identifiers. I could most likely (80%) resolve these issues but I do not feel comfortable with the hacks
required to do so. This is not a Chevrotain issue specifically but an issue of different Parsing algorithms
(Scan vs ScannerLess). These kind of problems may occur with other distinct Scanner pha

[2018-03-10 18:13] bd82 commented on #189
@MathieuAA If it is still not clear maybe a voice chat would be helpful to explain.

[2018-03-10 18:44] MathieuAA commented on #189
@bd82 Let's do the most radical thing then. Even I don't know how much the JDL is actually used and how.
I'd rather have the JDL forbid some ugly things than keep up with what's possible and what's not.

However, I don't like having quotes around enum values... the easiest solution is not to accept the characters we don't want.

[2018-03-10 19:18] bd82 commented on #189
I'd rather have the JDL forbid some ugly things than keep up with what's possible and what's not.

If you can be certain those are not needed and/or willing to break existing JDLs **that is a valid solution.**
But also consider that we are also talking about dashs inside identifiers (appears in a few places).
And I am pretty sure dashes are used more often.

I'm trying to separate the migration an

[2018-03-10 19:33] MathieuAA commented on #189
I'm ok with breaking things. As long as I don't have to break things every 5 minutes :)
The clean up, **if** there are breaking changes, should happen right now. That's just **mandatory**.
Non-breaking clean up can wait.

I've just checked (by generating an entity the standard way) and enum values have to:
  - not begin by a number (but they can begin by an underscore)
  - they have to respect `[A

[2018-03-10 19:38] deepu105 commented on #189
I would also vote to break syntax now if required as we are getting closer to v5. It's better to avoid such things in grammar than to work around it

[2018-03-10 19:40] MathieuAA commented on #189
And I was going to release JCore v2 tonight, lucky me there's still an issue I guess!!

[2018-03-10 19:44] deepu105 commented on #189
I think there is no rush, you can release v2 closer to JH v5 release so
that any such issues can be addressed before

Thanks & Regards,
Deepu

On Sat, Mar 10, 2018 at 8:40 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2018-03-10 20:14] bd82 commented on #189
not begin by a number (but they can begin by an underscore)
    they have to respect [A-z_][A-z0-9_]*

That is prefect (very similar to Java Identifiers and it makes sense if you generate Java Code)

I will list all the places in the current grammar that suffer from these quirks, if you fix those as part of V2.0
that would certainly help the migration and deal with grammar cleanup separately from

[2018-03-10 20:18] MathieuAA commented on #189
@bd82 that's the point :) I've been polishing v2 for quite some time and continue to do so!
If you find anything weird don't hesitate!! Some parts of the grammar are very old (the JDL is almost a 3 year old DSL :))

[2018-03-10 20:24] bd82 commented on #189
### Strange Identifiers:

* https://github.com/jhipster/jhipster-core/blob/3728d9cbef8fa066f90a70ef9126f2ea24c01de6/lib/dsl/grammar.txt#L194

* https://github.com/jhipster/jhipster-core/blob/3728d9cbef8fa066f90a70ef9126f2ea24c01de6/lib/dsl/grammar.txt#L197

* https://github.com/jhipster/jhipster-core/blob/3728d9cbef8fa066f90a70ef9126f2ea24c01de6/lib/dsl/grammar.txt#L244 (Note the dash!)

* https:/

[2018-03-10 20:25] bd82 commented on #189
If you find anything weird don't hesitate!! Some parts of the grammar are very old (the JDL is almost a 3 year old DSL :))

Awsome. 😄

[2018-03-11 11:58] colameo commented on #189
I've just changed slightly the grammar in the jhipster ide an all 3 cases above would work for me:
![screen shot 2018-03-11 at 12 56 31](https://user-images.githubusercontent.com/629760/37252990-d6e42c24-252b-11e8-98b6-13a8e4ca2eb1.png)

[2018-03-11 12:03] colameo commented on #189
I also received the idl examples from @jdubois and discovered that people do not use ',' to separate relationship. is that allowed? Would be really cool to have a rail train ebnf diagram of the idl grammar.
In the jhipster die we have that:
![jdl-grammar](https://user-images.githubusercontent.com/629760/37253040-83da758c-252c-11e8-97dd-657b1204af42.png)

[2018-03-11 12:06] colameo commented on #189
...actually, what do you thing to have then ebnf diagram in the JDL documentation page?

[2018-03-11 12:10] colameo commented on #189
...and btw, I could also add validations and quick fixes which would automatically be applied to existing DSLs. Moreover, a migration to another (even with breaking changes) of existing jdl files would be possible. We normally implement an "import" feature that transforms/migrates a DSL to a DSL' for users or we could also provide an automatically migration.

[2018-03-11 12:26] bd82 commented on #189
Chevrotain has an automatic syntax diagram generation, i'll link one here soon.

[2018-03-11 12:28] colameo commented on #189
...the documentation of JDL should be more clear about what we expect otherwise we need to maintain different versions of parsing rules which makes maintenance hard.

[2018-03-11 12:32] bd82 commented on #189
@colameo try this: [Syntax Diagrams](https://rawgit.com/bd82/jhipster-core/9c0e47d0c63272371e97513dc1469725fa5d7ea7/lib/dsl/poc/diagrams.html)

[2018-03-11 12:49] bd82 commented on #189
@colameo said:

1. Inside the tableName it is easier to change as the parenthesis delimiters define the "borders".
  In applications configuration when there are no delimiters between the different configuration options
  translating a complex Terminal into multiple simple terminals may cause ambiguities.

2. If I understand your solution from the diagrams you provided correctly(?)
   <img width="

[2018-03-11 13:32] colameo commented on #189
...as I said this was just a (very) quick change to grammar rule but of course this is something I would not allow that (I would implement "logic" to not allow that)... however, it's just to show you that it would work for us.

[2018-03-11 13:45] colameo commented on #189
@bd82 thanks for the diagram! That would be enough for me to keep the grammar in sync with yours ;-)

[2018-03-11 13:46] bd82 commented on #189
Yes it can be made to work, But more complex hacks would be required to fully support this in all
relevant grammar rules which is why I'm not comfortable with from a language design perspective
and from a maintenance perspective.

[2018-03-11 14:02] bd82 commented on #189
You are welcome.

Please note:
* This is still a WIP (but ~90% done).
* This link is static and won't be updated automatically.
  - When we have a development branch we can create a "dynamic" link that is always up to date.

* Chevrotain has a "Token Inheritance" concept so certain tokens are a placeHolder for multiple possible options, e.g:

   -  <img width="542" alt="screen shot 2018-03-11 at 3

[2018-03-12 12:38] MathieuAA commented on #189
I'll create the branch today, it will be forked from master. I believe v2 is almost done, so it's safe to move things forward.

[2018-03-12 13:37] bd82 commented on #189
@MathieuAA \:

Great, I assume V2.0 will include the fixes for all the strange identifiers listed [above](https://github.com/jhipster/jhipster-core/issues/189#issuecomment-372063233)
not just the ENUM props and that you simply have not gotten around to it yet? 😄

[2018-03-12 14:59] MathieuAA commented on #189
No, these need be discussed and/or verified as mistakes.Le 12 mars 2018 14:37, Shahar Soel <notifications@github.com> a écrit :@MathieuAA :

I'll create the branch today, it will be forked from master. I believe v2 is almost done, so it's safe to move things forward.

Great, I assume V2.0 will include the fixes for all the strange identifiers listed above
not just the ENUM props and that you simpl

[2018-03-12 16:55] MathieuAA commented on #189
@colameo the comma is not necessary for declarations split by new lines.

[2018-03-12 17:24] MathieuAA commented on #189
@bd82 I'm finishing the last test for this release (I hope so anyway). I'll check everything right after.
By the way, I can already tell that database type are just `[a-z]`. Maybe having `[A-z]` is a good idea, who knows... user may be tempted to write `mySQL` instead of `mysql`.

[2018-03-12 18:40] bd82 commented on #189
@MathieuAA

mysql.

I am currently implementing the capability to limit identifiers to a subset of the general Identifier rule.
So any **subset** of  the base Identifier rule: ```/[A-Za-z_][A-Za-z0-9_]*/ ```is perfectly fine and can easily be supported.

It is only the identifiers **starting** with a digit or dash ('-') that are a big issue.
and identifiers **containing** a dash which are a smalle

[2018-03-13 19:54] MathieuAA commented on #189
I've just (re)created the branch `chevrotain-migration`, you can use this branch to do whatever you want.
I'm going to check and fix the above issues.

[2018-03-13 21:07] MathieuAA commented on #189
Updated:
  - for the database types (all three of them): `[A-z]+`
  - for the jhiPrefix & entity table name (and the methods): `[A-z][A-z0-9_-]*`
  - client framework: `[A-z]+`

[2018-03-13 23:44] bd82 commented on #189
Great, I re-targeted the existing pull request towards that branch.
I should finish the post parsing validations this week(?) and then we can do a big squash merge into
that migration branch.

After the big merge we can polish and perform additional tests and fixes.

[2018-03-17 00:07] bd82 opened #190 "TODO List for Chevrotain migration"
- [x] - In Depth Review by @MathieuAA
- [x] - Additional tests to increase code coverage (100% ?) on DSL folder.
- [x] - Resolve [transformation](https://github.com/jhipster/jhipster-core/blob/da705bbb5a3445ccd6e586f0eb09460472db221d/lib/reader/jdl_reader.js#L44) of input messing up error messages locations.
- [x] - Reflective runtime validations to reduce TCO:
  - [x] - Validation of Application

[2018-03-17 00:07] bd82 commented on #190
I will add more issues as I find them.

[2018-03-17 11:09] MathieuAA commented on #190
Here's my roadmap for this week-end:
  - finish v2
  - write the doc
  - make a PR in the generator for the subgens

I'll review the branch by creating issues with a special label for this branch.
Everything I don't understand will go in an issue (one by question/problem).

[2018-03-18 09:28] bd82 commented on #190
Great. I am fixing a (general) performance bottleneck discovered thanks to this re-write 👍
and will get back to the polishing work afterwards (soon).

[2018-03-18 14:39] bd82 commented on #178
I Saw the new tag. 👍
https://github.com/jhipster/jhipster-core/releases/tag/v2.0.0

Is the missing docs link in "whats new" because the docs are not ready yet
or an oopsy? 😄

[2018-03-18 14:54] MathieuAA commented on #178
There's a PR, just wait 'til JHipster V5 is released.

[2018-03-21 10:05] MathieuAA opened #194 "Use import syntax (consistency)"
In the code:
[code]
In the migration branch:
[code]

[2018-03-21 10:16] MathieuAA opened #195 "Move the module.exports up"
Like everywhere else in the code.
The point is to know what the file exports without having to scroll down the entire length of the file.

[2018-03-21 10:23] MathieuAA opened #196 "Remove extraneous chalk dependency and uses"
In the JDLReader. This is bad practice.

[2018-03-21 10:24] bd82 commented on #194
What is the reason? consistency? Subjective style?

[2018-03-21 10:31] MathieuAA opened #197 "Remove useless lodash uses"
Like the already provided `map`, `reduce`, etc. But also `isUndefined` etc.

[2018-03-21 10:35] MathieuAA opened #198 "Update the chevrotain parsing system for application parsing"
Some options have been removed (`useCompass` for instance, and other were added).

[2018-03-21 10:38] MathieuAA commented on #196
Oh yes!!! Didn't notice!! My bad.

[2018-03-21 10:38] MathieuAA commented on #194
Consistency

[2018-03-21 10:46] MathieuAA commented on #198
@bd82 I'll be honest: it's a chore. It was painful to do it last week-end and I don't expect it to be fun now... I'll try to do it again for the new system.

[2018-03-21 11:03] bd82 commented on #198
it should be very easy because they are not listed individually in the grammar anymore.

Steps to add a config prop:
1. Define token that belong to CONFIG_KEY category -  [Code](https://github.com/jhipster/jhipster-core/blob/chevrotain-migration/lib/dsl/lexer.js#L125-L129)
2. Define its type validations - [Code](https://github.com/jhipster/jhipster-core/blob/chevrotain-migration/lib/dsl/validator.

[2018-03-21 11:10] #196 closed

[2018-03-21 18:13] bd82 commented on #194
done in
c1f35c6

[2018-03-21 18:14] bd82 commented on #195
I did it but it reduces consistency because it cannot be done for variables / classes that are exposed.
So you end up with some modules exposing at the top and some at the bottom.

[2018-03-21 18:22] bd82 commented on #197
I removed those you listed. I don't know what other you consider as useless...

anyhow they are not useless because:

1. Lodash methods are guaranteed to work in all envs (ES5) so I don't need to check
    MDN for compatibility before using each one.

2. Lodash is normally read right to left (**nested calls**) while native methods are **chained** so that
    leads to inconsistency in the code base

[2018-03-21 18:38] MathieuAA commented on #195
Okay, I'll review everything tomorrow and find a solution for what you said... I'll merge the maximum now.

[2018-03-22 18:26] MathieuAA opened #200 "JDL generation does not take the elasticsearch filter in account"
From the [generator](https://github.com/jhipster/generator-jhipster/issues/7317).

[2018-03-22 18:34] #195 closed

[2018-03-22 18:34] #194 closed

[2018-03-22 18:34] #197 closed

[2018-03-25 10:24] MathieuAA commented on #200
Hi @Tcharl! I've created a test suite for your issue and nothing's wrong.
However, I think the option to specify whether an entity shall be indexed in ES isn't taken into account (it may have been removed).
Looking at the generated entities in the JHipster org on GitHub tells me it exists, but I don't think it actually is after looking at the code...

I've tested with two applications (possible ex

[2018-03-25 16:13] ruddell commented on #200
I think it makes sense to allow searching of some entities but not others (some projects have a lot of entities.  I made it possible a while back (if you manually change the entity.json files to say "no" for elasticsearch) https://github.com/jhipster/generator-jhipster/pull/4443 but I guess I forgot to bring it up here.  And like @MathieuAA said the `searchEngine` field is currently saved only for

[2018-03-25 17:25] MathieuAA commented on #200
@Tcharl

I smiled :)

There's nothing wrong with the JDL parsing system (there could be something but I have to run more tests tomorrow to make sure) and Jon gave us the solution (thanks @ruddell!).
I guess the next step is filling an issue on the generator to make the fix available for JHipster v5.

[2018-03-25 20:51] Tcharl commented on #200
Let's fill it tomorrow morning :-).
Thank you Mathieu as always the Jhipster team rocks!

[2018-03-25 22:40] bd82 commented on #189
closing this I think this is mostly resolved and if more of these identifier issues exist they will be raised in the review of the new post parser validator.

[2018-03-25 22:40] #189 closed

[2018-03-25 22:49] bd82 commented on #190
I will improve code coverage here and there during this week but not many unblocked items to do...

- For running tests on many samples we still need to get the samples (@jdubois said after JHipster 5)
  * But with high coverage and how easy it was to fix the few incompatibilities found I'm less worried about those tbh.

- For [Bundling concerns](http://sap.github.io/chevrotain/website/FAQ.html#WE

[2018-03-26 08:41] MathieuAA opened #203 "Possible improvements for the new parsing system"
1. Customize the Error Messages Text.
   - Provide Labels in createToken to customize the default error messages.
     * From: ```Expecting token of type --> EQUALS <-- but found --> 'String' <--```
     * To: ```Expecting token of type --> "=" <-- but found --> 'String' <--```

   - Evaluate custom error messages structure.
     https://github.com/SAP/chevrotain/blob/master/examples/parser/custom

[2018-03-27 09:55] jdubois opened #204 "Add an option to ignore the new "application" keyword"
The new application generation from the JDL is totally awesome, but it causes me 2 issues with https://start.jhipster.tech

- The current way it works is that people generate the application with an Angular form, and then add the entities: so that won't work well with the new "application" keyword.
- Most importantly: with the "path" keyword, they can generate applications anywhere on the filesyst

[2018-03-27 11:28] deepu105 commented on #204
@MathieuAA I was gonna ask you about the Path as well, do we really need it as it could lead to many edge cases and bug reports, cant we follow what we do now, generate in the folder you execute the command from. For microservice when all apps are in single file we can assume its executed from a parent folder and create folders within that and apps in those folders. WDYT?

@jdubois yes lets add th

[2018-03-27 11:29] deepu105 commented on #204
@jdubois its easier to do `--ignore-application` on the sub generator than in JH core

[2018-03-27 11:33] jdubois commented on #204
Oh yes you are correct @deepu105 -> the flag should be in the sub-generator, but then JH Core must also understand this

[2018-03-27 11:40] deepu105 commented on #204
Not necessarily, since the app generation and writing of json files happens in the sub gen and you just need to skip those parts so that regardless of what JHcore returns you only generate entities

[2018-03-27 11:45] deepu105 commented on #204
To be exact the `shouldGenerateApplications` method in the sub Gen needs to return false when we specify the flag

[2018-03-27 12:25] MathieuAA commented on #204
I agree with Deepu. This solution is good enough.

[2018-04-04 20:39] bd82 opened #205 "Incorrect Identifiers regExp"
The regExp `/[A-z]/` (upper A lower z) is used many times in the grammar.
I assume it was meant as a shortcut for: /[A-Za-z]/.

Its meaning however is slightly different as:
* "A".charCodeAt(0) --> 65
* "Z".charCodeAt(0) --> 90
* "a".charCodeAt(0) --> 97
* "z".charCodeAt(0) --> 122

So the range 65-122 includes charCodes 91-96 which are **not** letters.
[code]

[2018-04-05 06:32] colameo commented on #205
I’m aligning the grammar with the new JDL concepts and noticed that as well. Guess too that the identifiers are meant to be /[A-Za-z]/. Please confirm as this affects the IDE JDL plugins.

[2018-04-05 07:33] deepu105 commented on #205
I would also suggest to use explicit a-zA-Z as the shortcut is not valid
everywhere, for example in vscode, IDE etc

On Thu, 5 Apr 2018, 8:32 am Serano Colameo, <notifications@github.com>
wrote:

[2018-04-08 14:11] Dufgui commented on #203
Hello @MathieuAA ,

could i help you a little on this ?

[2018-04-08 14:46] bd82 commented on #203
Hello @Dufgui

This list was originally created by me to list random thoughts while implementing
the new parser and @MathieuAA documented it here.

So I don't know how important these things are to @MathieuAA and what is the priority....

- Adding labels for better error messages should be pretty simple.
  But it was already done for most tokens automatically.
  *  https://github.com/jhipster/jhip

[2018-04-08 14:55] Dufgui commented on #203
coverage seems already really good no ?

Statements   : 96.47% ( 2185/2265 )
Branches     : 90.69% ( 945/1042 )
Functions    : 98.66% ( 517/524 )
Lines        : 96.51% ( 2155/2233 )

[2018-04-08 15:35] bd82 commented on #203
Yeah, but I feel safer with even higher coverage after a big change
and it would would require a few mores hours...

[2018-04-08 16:37] MathieuAA commented on #203
I've not looked into the coverage report but the tests may need a little refactoring. I'll have a look after my vacationsLe 8 avr. 2018 18:35, Shahar Soel <notifications@github.com> a écrit :
coverage seems already really good no ?

Yeah, but I feel safer with even higher coverage after a big change
and it would would require a few mores hours...

—You are receiving this because you were mentioned

[2018-04-08 16:38] MathieuAA commented on #203
And the coverage is not good enough... We can do much betterLe 8 avr. 2018 17:55, Duff <notifications@github.com> a écrit :coverage seems already really good no ?
Statements   : 96.47% ( 2185/2265 )
Branches     : 90.69% ( 945/1042 )
Functions    : 98.66% ( 517/524 )
Lines        : 96.51% ( 2155/2233 )

—You are receiving this because you were mentioned.Reply to this email directly, view it on Git

[2018-04-08 17:33] Dufgui commented on #203
Ok so I wait your return and I you can describe the way you want to follow
on the unit test refactoring. I am available to help you. Have a nice
vacations :)
Le dim. 8 avr. 2018 à 18:38, Mathieu ABOU-AICHI <notifications@github.com>
a écrit :

[2018-04-24 17:45] #205 closed

[2018-04-24 17:49] MathieuAA commented on #203
@Dufgui @bd82 Hi! I'm slowly acclimating myself back after my vacations. About the coverage %, raising it just to raise it doesn't make any sense so I propose to:
  - Keep on developing and testing (making sure the coverage doesn't fall for the wrong reasons),
  - Adding tests for previously developed things is also important. I'll try to help in the coming days for that.
For the refactoring, it s

[2018-04-24 17:57] bd82 commented on #203
Welcome back @MathieuAA 😃

I've actually found and fixed some small bugs while raising the coverage and I think only one file left to hit 100% (for the DSL folder) so don't worry I'm not doing it just to hit some arbitrarily KPI.

What do you mean by this? all the previous per-existing tests are being executed...
Do you mean previously developed features (unrelated to the parser) that have not bee

[2018-04-24 21:30] MathieuAA opened #208 "Fixing spaces in the JDL"
Currently, the following JDL is correct:
[code]
This is due to this rule:
[code]
which allows quotes.
cc @bd82 is it possible with the new parsing system? I'll have to fix it somehow for the PegJS parser.

[2018-04-24 22:01] bd82 commented on #208
I think this just means using the right pegjs synatx.

[code]

I don't see a problem implementing the correct whitespace behavior with chevrotain.
I think its already implemented in the migration branch.

[2018-04-24 22:07] bd82 commented on #208
Actually its implemented slightly differently in the chevrotain branch.
because "\s" is a strict superset of  [\n\t\r \u2028\u2029]

[code]

[2018-04-25 09:06] #208 closed

[2018-04-25 18:01] danielmenezesbr opened #210 ""skipClient Entity" works with "jhipster import-jdl", but fail in JDL-Studio"
### The issue

"skipClient Entity" works with "jhipster import-jdl", but fail in JDL-Studio.
JDL-Studio needs change to "skipClient for Entity"

---

### Motivation for or Use Case

---

### Reproduce the error

 - Create a JDL [like it](https://github.com/danielmenezesbr/jhipster_oracle_limits_and_skipclient/blob/master/model.jh)  (without the word **for** after skipClient).

 - Import JDL. It's

[2018-04-26 06:15] colameo commented on #210
related to [isssue-165](https://github.com/jhipster/jhipster-core/issues/165).

[2018-04-27 10:29] MathieuAA commented on #210
This is an old one... And it reflects something that needs be changed in JDL Studio. Keeping the tool up-to-date with the JDL updates is not an automatic process and is somewhat painful to do so (my opinion, feel free to try doing it yourselves).
This is not the repo for this issue **but** I'm not going to close this one.

[2018-05-04 16:08] bertyg opened #211 "Application options throw errors: skipUserManagement and devDatabaseType h2Disk"
### The issue

Two application options throw errors:
* skipUserManagement true
[code]
* devDatabaseType h2Disk
[code]

---

### Motivation for or Use Case

These options should not throw errors

---

### Reproduce the error

add these two options in a JDL and run import-jdl

---

### Related issues

---

### Suggest a Fix

---

### The JDL file

[code]

---

### Versions

| JHipster           |
|

[2018-05-04 16:53] PierreBesson commented on #211
It's absolutely not supported to generate an UAA without user management.
The main reason to use an UAA is to combine JHipster user management with Spring @enableauthserver. If you remove user management from the UAA then nothing will work properly.

Eventually we could introduce a check that prevents you from choosing both options with an error message...

[2018-05-05 06:11] bertyg commented on #211
Hi Pierre,
Thanks for the reponse. Sorry, I tried to be concise by uniting all options under the uaa but didn't double check if that had an impact in the application context.
I edited the sample JDL file , to show all applications, with appropriate options.

[2018-05-05 10:03] MathieuAA commented on #211
Hi, thanks for the report.Pierre's solution is the way to go.I'll try to do it today.

[2018-05-05 13:15] #211 closed

[2018-05-12 01:25] asjrosabal commented on #167
Hello, I would like to know how I can to create a complex enum in jdl studio? Something like this:

public enum Equipo
{
	BARÇA("FC Barcelona",1), REAL_MADRID("Real Madrid",2),
	SEVILLA("Sevilla FC",4), VILLAREAL("Villareal",7);

	private String nombreClub;
	private int puestoLiga;

	private Equipo (String nombreClub, int puestoLiga){
		this.nombreClub = nombreClub;
		this.puestoLiga = puestoLiga;

[2018-05-12 02:43] deepu105 commented on #167
@asjrosabal for the moment you cant. Its not supported

[2018-05-20 14:56] MathieuAA opened #214 "Forbid using DTOs without services"
From #7463, from the generator

[2018-05-20 20:25] bd82 commented on #190
Hello @MathieuAA

I have a bit of time now between larger projects.
I see the master branch has advanced a bit.

Should I try to rebase the migration branch on top of the master branch and apply the grammar changes that have diverged ?

[2018-05-20 20:41] MathieuAA commented on #190
I believe it's safe to do so. I've mainly fixed the app gen and am working on polishing some things.

[2018-05-20 21:10] #214 closed

[2018-05-23 09:02] MathieuAA opened #217 "Make sure having "no database" works with the JDL"
See [#7669](https://github.com/jhipster/generator-jhipster/issues/7669)

[2018-05-30 15:29] #217 closed

[2018-05-30 18:36] #60 closed

[2018-05-30 18:38] MathieuAA commented on #106
Closing this, as the app + entity file generation will be fixed in JCore v3, to be released tomorrow.

[2018-05-30 18:38] #106 closed

[2018-06-05 11:08] DeanPhillipsOKC commented on #210
According to the [JDL Language Reference](https://www.jhipster.tech/jdl/), the "for" is required (or at least referenced) in the skipClient examples.  If not using the "for" in conjunction with "skipClient", is a change (rather than bug) in JDL, can the language reference be updated?

[2018-06-05 11:09] MathieuAA commented on #210
I thought I changed it already, I'll clean up.

[2018-06-05 11:09] #210 closed

[2018-06-08 07:37] MathieuAA opened #219 "Improve multiple JDL file import"
Possible improvements:
  - [ ] don't require importing every JDL file, just the latest update, without failing

[2018-06-08 17:38] mkysoft opened #220 "Location giving error for entity name"
### The issue

Location keyword giving error if it is used entity name:

---

### Motivation for or Use Case

I haven't got core reason about this issue. I think we need to add this word as reserved.

---

### Reproduce the error

- Create project with React.
- Create entity with Location name.

---

### Related issues

---

### Suggest a Fix

Not use Location as entity name.

---

### The JDL fil

[2018-06-08 18:09] MathieuAA commented on #220
Have you modified the app in any way?Le 8 juin 2018 19:38, Mustafa Kerim Yılmaz <notifications@github.com> a écrit :
The issue

Location keyword giving error if it is used entity name:

ERROR in /Users/mytestproj/src/main/webapp/app/entities/location/location-delete-dialog.tsx
(12,18): Interface 'ILocationDeleteDialogProps' cannot simultaneously extend types '{ location: Readonly; }' and 'RouteCom

[2018-06-09 12:17] mkysoft commented on #220
Hi @MathieuAA, I make change only UserDTO for adding fullname in jhipster. When I change this entity name to Locationx, problem solved. I think it is giving error because of react type script.

[2018-06-09 13:30] ruddell commented on #220
This comes from RouteComponentProps where `location` is already a prop.  Affects `history` and `match` as well.
[code]
We could probably change some names in the detail/update components to make this work

[2018-06-09 13:36] MathieuAA commented on #220
Yes Jon, this solution seems the best.Le 9 juin 2018 15:30, Jon Ruddell <notifications@github.com> a écrit :This comes from RouteComponentProps where location is already a prop.  Affects history and match as well.
export interface RouteComponentProps<P, C extends StaticContext = StaticContext> {
  history: H.History;
  location: H.Location;
  match: match<P>;
  staticContext: C | undefined;
}

We

[2018-06-10 09:07] mkysoft commented on #220
There a lot of things for react like this. I think we can add reserved words look like angular for react.

[2018-06-10 09:49] MathieuAA commented on #220
Don't think so, they were removed for a reason. Ping @jduboisLe 10 juin 2018 11:07, Mustafa Kerim Yılmaz <notifications@github.com> a écrit :There a lot of things for react like this. I think we can add reserved words look like angular for react.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-11 08:58] #220 closed

[2018-06-11 12:40] MathieuAA opened #221 "Investigate skipClient/skipServer exported as JSON"
When specifying the `skipClient` option in the JDL, make sure:
  - the JSON are updated consequently
  - the generation/update is skipped

[2018-06-12 11:01] digital-nomad17 commented on #125
It says in the documentation that all entities have an implicit id generated for them and that it only needs the relationship to be stated. It doesn't mention anything about foreign keys(field injection).

The need for field injections[explicit foreign keys] should be mentioned in the documentation if it's needed to be imported into a jhipter project.

[2018-06-12 12:06] MathieuAA commented on #125
Well, I can't say I disagree but it's kinda logical. Have you ever seen a relationship with no foreign key? :)

[2018-06-12 16:15] ruddell commented on #125
@MathieuAA Would it be possible to default to the injected field to the other entity name if not defined?  I've seen several people run into this issue recently and usually that's the solution.

[2018-06-12 16:38] MathieuAA commented on #125
@ruddell Yes, I thought about doing that. That actually would be a use case for one thing I will talk about that during the JHConf :)
I'll see if it can be done before the conf so that I can release v3.0.2 for this. If not, it will be for later.

[2018-06-12 20:04] MathieuAA opened #222 "Insert injected field unless there's at least one"
Complete thread: #125

[2018-06-12 21:40] #222 closed

[2018-06-12 21:41] MathieuAA opened #223 "Todo doc"
Todo:
  - [ ] tell about optional injected fields
  - [ ] make the app gen great again

[2018-06-13 08:31] MathieuAA opened #224 "JDLLinter"
Rules to have:
  - [x] useless curly braces around entity body if there are no fields
  - [x] useless table name
  - [x] collapsible relationships (can be grouped by type)
  - [ ] useless commas separating fields
    - Commas are detected, but whitespaces are omitted
  - [ ] collapsible entity lists for options (using *, except, or just entity names)
  - [ ] empty enums (no value)
  - [ ] useless

[2018-06-22 06:50] MathieuAA opened #225 "Annotations for the JDL"
Concerns the options `dto, pagination, etc.`.
Former issue: #150

[2018-06-22 07:45] deepu105 commented on #225
@MathieuAA may I suggest we prioritize the chevrotain migration first so that you don't end up doing the grammar twice for pegJs and then for chevrotain. Since JH5 is just out I would say we have enough time to add new features. WDYT?

[2018-06-22 08:07] MathieuAA commented on #225
Good point. Let's do chevrotain first.ThanksLe 22 juin 2018 09:45, Deepu K Sasidharan <notifications@github.com> a écrit :@MathieuAA may I suggest we prioritize the chevrotain migration first so that you don't end up doing the grammar twice for pegJs and then for chevrotain. Since JH5 is just out I would say we have enough time to add new features. WDYT?

—You are receiving this because you were m

[2018-06-22 08:16] deepu105 commented on #225
Yes :)
finally I can start contributing to JDL grammar as well, I do not understand PegJS at all TBH :wink:

[2018-06-22 20:38] MathieuAA commented on #150
Closing this one in favor of the new issue which will developed right after the migration to chevrotain.

[2018-06-22 20:38] #150 closed

[2018-06-22 20:39] MathieuAA commented on #178
Closing this, as this is way past v2 and some tasks are out of scope right now.

[2018-06-22 20:39] #178 closed

[2018-06-24 19:28] #198 closed

[2018-06-24 19:30] MathieuAA commented on #203
I think I'm gonna close this one and open one new ticket about LSP, as discussed during the JHipster Conf with the JHipster IDE team.

[2018-06-24 19:30] #203 closed

[2018-06-24 19:30] MathieuAA opened #230 "Study and implement an LSP client"

[2018-06-24 20:18] MathieuAA commented on #190
@bd82 I think we can close this one next week, as soon as I check the tests and remove pegjs from this project.

[2018-06-24 20:52] MathieuAA commented on #190
I'm wondering, is the file `generated_serialized_grammar.js` used elsewhere? I'd like to remove it as it doesn't add any information already present elsewhere.

[2018-06-24 20:54] #225 closed

[2018-06-24 20:55] MathieuAA commented on #225
@deepu105 I did tell that I'd get it done by the week-end, but didn't tell with which parsing system :) It's implemented with the new one.

[2018-06-24 21:07] MathieuAA opened #232 "Error: None Unique Grammar Name Found: <JDLParser>"
Breaks my beloved `test:watch` script =/
cc @bd82

[2018-06-24 21:27] bd82 commented on #232
Mitigation:
http://sap.github.io/chevrotain/docs/FAQ.html#MOCHA_WATCH

Will probably be resolved when I fix:
https://github.com/SAP/chevrotain/issues/754

[2018-06-24 21:30] bd82 commented on #190
It was used in conjunction with https://rawgit.com/ to demonstrate the syntax diagrams.
You can ignore it and remove it from source control and only inspect the syntax diagrams
"locally"

[2018-06-24 22:32] DanielFran opened #233 "Not able to add nativeLanguage to jdl application"
### The issue
Not able to add nativeLanguage to jdl application

Define application in jdl, seems not accept nativeLanguage variable
---

### Motivation for or Use Case

---

### Reproduce the error
Use the jdl definition bellow, it works without the nativeLanguage.

---

### Related issues

---

### Suggest a Fix

---

### The JDL file
application {
  config {
    jhipsterVersion 5.0.0
    baseNa

[2018-06-25 08:49] MathieuAA commented on #233
I'll add it for the next release, thanks!

[2018-06-25 08:57] MathieuAA commented on #232
Can you make a PR with the `clearCache` option enabled?

[2018-06-25 09:10] bd82 commented on #232
Yes I'll try that

[2018-06-25 16:34] bd82 commented on #232
I've had a look, The mitigation offered in the FAQ is not sufficient.
It is not enough to just call clearCache, we must also avoid initializing
any parser instance before any test executes.

This is doable but becomes quite ugly once we have to deal with CSTVisitors classes
that require the initialization of the parser to access their base class.

See: https://github.com/bd82/jhipster-core/commit/

[2018-06-25 16:34] MathieuAA commented on #233
Okay, it was added but there was a bug in the grammar. As there's migration going on, I'll check this doesn't happen.

[2018-06-25 16:35] MathieuAA commented on #232
Okay, take your time. I'll wait for your issue to be fixed to do the release.

[2018-06-25 18:46] MathieuAA commented on #233
@bd82 here the issue is about arrays. The new parsing system has to support these kinds of forms:
  - `[]`
  - `[a, b, c]`
  - `a, b, c`

Do you have an idea on how to do it wit chevrotain?

[2018-06-25 20:15] bd82 commented on #233
Hi @MathieuAA

Long reply incoming 😄

## Pegjs Parser
I am not convinced the old system actually supports these forms.
I saw this recent [commit](https://github.com/jhipster/jhipster-core/commit/05a907747870a9d2d7a662c773752419d475e1e0#diff-6fe18b15e89d86c747be91dfceee7a84R264)
and if I understand correct the forms supported in 3.0.2 are:
* ``` [a, b, c]``` - valid with braces
* ```[ a, b, c```  -

[2018-06-25 20:22] deepu105 commented on #233
My 2 cents.

I guess it indeed is simple to have the braces for array values, and since
our users are technical folks it shouldn't matter to them.

I think having a robust grammar is more important than a pretty one

On Mon, 25 Jun 2018, 10:15 pm Shahar Soel, <notifications@github.com> wrote:

[2018-06-25 20:36] MathieuAA commented on #233
Okay, there was an issue with the previous grammar, and it wasn't really supported. So I guess making the braces mandatory isn't really a breaking change.I've tried the MANY_SEP, and there was an error (gonna try to fix it tomorrow).Le 25 juin 2018 22:22, Deepu K Sasidharan <notifications@github.com> a écrit :My 2 cents.

I guess it indeed is simple to have the braces for array values, and since
o

[2018-06-25 21:03] bd82 commented on #233
👍

[2018-06-25 21:53] MathieuAA commented on #233
Okay, sometimes there's no children name check. That's why it fails. Gonna fix it.

[2018-06-25 23:32] bd82 opened #234 "Bundling for use in the JDL Studio"
Is this package ever bundled (webpack?) for use in the browser?
If so special care must be taken when bundling Chevrotain grammars.

http://sap.github.io/chevrotain/docs/FAQ.html#WEBPACK

[2018-06-25 23:33] bd82 commented on #190
Additional tests here:
https://github.com/jhipster/jhipster-core/pull/231

[2018-06-25 23:37] bd82 commented on #233
Makes sense if there was an assumption the elements array is none empty

[2018-06-26 06:36] colameo commented on #233
About arrays, I had the same issue in the JH IDE and had to work around that (I could only solve it by implementing “logic” behind to get rid of ambiguities):
<img width="698" alt="screen shot 2018-06-26 at 08 31 01" src="https://user-images.githubusercontent.com/629760/41893230-5127307e-791b-11e8-8836-c85b4c6293ab.png">
However, I want to release my stuff soon and need an official documentation o

[2018-06-26 07:31] deepu105 commented on #234
The JDL studio uses the output from the PegJS parser https://github.com/jhipster/jdl-studio/blob/gh-pages/bower.json#L21

So we would need something similar from this one as well to use in JDL studio.

I totally forgot about this one

[2018-06-26 07:35] MathieuAA commented on #233
I'll do that today. I've fixed my issue with arrays yesterday after debugging.Le 26 juin 2018 08:36, Serano Colameo <notifications@github.com> a écrit :About arrays, I had the same issue in the JH IDE and had to work around that (I could only solve it by implementing “logic” behind to get rid of ambiguities):

However, I want to release my stuff soon and need an official documentation of the appli

[2018-06-26 08:51] bd82 commented on #234
So we have the following options:

1. Create a Bundled version as part of the jhipster-core npm package.
   * With safe name mangling.
2. Perform safe bundling as part of the JDL Studio project.
   * Feels like a mistake, I am not sure that it should be the studio's concern.
3. Apply grammar [serialization and de-serialization](https://github.com/SAP/chevrotain/tree/master/examples/parser/serializ

[2018-06-26 09:39] bd82 commented on #144
I think we can close this issue as merged the [initial implementation](https://github.com/jhipster/jhipster-core/commit/f51b8d555ad2f1ca1acd191ffb844012a3b563be) to master
and will hopefully soon finish handling the leftover issues.

[2018-06-26 10:22] soberich opened #235 "(Online) JDL Studio wrongly reports error on "2" digit in `h2Disk` in application config"
removing 2 resolves the highlight.
![image](https://user-images.githubusercontent.com/25544967/41905405-be056238-7943-11e8-9792-6e724f33e0d4.png)

[2018-06-26 11:18] MathieuAA commented on #233
Closing this issue. I'll update the doc right away.

[2018-06-26 11:19] MathieuAA commented on #235
This is not the repo for that.

[2018-06-26 11:19] #235 closed

[2018-06-26 11:20] #233 closed

[2018-06-26 11:21] PierreBesson commented on #235
Also please respect the guidelines.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-jhipster/issues/new) and
3. our

[2018-06-26 11:21] MathieuAA commented on #144
yes

[2018-06-26 11:21] #144 closed

[2018-06-27 00:46] bd82 commented on #232
I will hopefully resolve this issue this week.
1041/1050 tests passing so far 😄

[2018-06-27 20:35] #230 closed

[2018-06-27 20:35] MathieuAA commented on #232
Wow you're the best!

[2018-06-27 20:36] #232 closed

[2018-06-27 22:08] bd82 commented on #234
@deepu105 @MathieuAA

How should we proceed here?

[2018-06-28 09:19] deepu105 commented on #234
Definitely not option 2.

I will prefer option 1, but then it might be tricky as jhipster-core is a nodejs project and packaging the entire thing and importing in a web app will not work unless we use something like browserify.

About the bower issue, one reason I didn't migrate it was the same issue as above I didn't want the entire package, but just a particular file to deal with the grammar val

[2018-06-28 09:56] bd82 commented on #234
One option would be to only bundle the [DSL](https://github.com/jhipster/jhipster-core/tree/master/lib/dsl) directory as part of the npm package of JHipster-Core.

That bit only depends on lodash and will provide you with similar functionality (but different new APIs)

[2018-06-28 10:37] deepu105 commented on #234
That could also work. JDL studio only needs the DSL parser (the one PegJS was providing)

[2018-06-28 21:28] MathieuAA opened #239 "Unknown data types are not correctly reported"
From the generator's [#7861](https://github.com/jhipster/generator-jhipster/issues/7861).

[2018-06-28 21:57] #239 closed

[2018-06-30 06:51] dai2862 commented on #219
Good

[2018-06-30 15:20] bd82 opened #241 "Potential grammar change to review"
In 3.02 many of the application config values were changed to be alpha numeric
instead of alphabetic.

See: https://github.com/jhipster/jhipster-core/commit/05a907747870a9d2d7a662c773752419d475e1e0

The Chevrotain implementation allows alpha numeric values
with the **single constraint** that they must start with a letter.

e.g:
[code]

With the Chevrotain Parser the two examples above are invalid.

[2018-06-30 15:20] bd82 commented on #241
@MathieuAA please have a look.

[2018-06-30 15:41] ruddell commented on #241
The only JHipster variables I'm aware of that have numbers are `oauth2` (`authenticationType`) and `h2Disk`/`h2Memory` (`devDatabaseType`).

Regarding variables set by the user, `baseName` and `uaaBaseName` can start with letters or numbers

[2018-06-30 16:13] MathieuAA commented on #241
@ruddell @bd82 They may be the only examples where there are letters & numbers, but we're not safe from tools having a number in their name... The safe option would be to support having them in the option names.
However, the chance of having a number first is pretty low, so we can have a letter first then (almost) whatever next.

[2018-06-30 16:28] bd82 commented on #241
Well since having a number first was only supported in the most recent patch version
and the chance of valid values starting with numbers is small I suggest we will handle this
as a **patch** if and when this issue will be raised by users.

I can solve this mini ambiguity (numbers vs identifiers starting with number) but I'm not sure its worth dealing with it right now if it is mostly theoretical.

[2018-07-01 09:04] MathieuAA opened #242 "Prevent required relations to the same entity"

[2018-07-01 10:04] #242 closed

[2018-07-02 00:00] bd82 commented on #234
@deepu105 I think #240 is complete.

You should probably build the bundle locally (yarn bundle)
and experiment with it.

Also consider additional APIs can be composed / exposed, e.g:
* Parse the JDL without building an AST. (just for syntax errors).
* Parse the JDL and expose the error objects (instead of throwing errors).
* Parse the JDL and run a CST Visitor for formatting it.
* Parse the JDL in

[2018-07-02 00:01] bd82 commented on #241
If this approach is acceptable we can close this issue.

[2018-07-02 00:02] bd82 commented on #190
Once #240 is merged I think I don't have more leftover tasks in this context.

[2018-07-02 00:05] bd82 commented on #234
Also need to consider if the modifications to the JDL studio needs to be done in **sync**
with the migration to Chevrotain.

Basically if the changes are not trivial you may consider using the previous implementation for a little while (in the studio) as the functionality differences should be very minor and in edge cases scenarios.

[2018-07-02 07:40] MathieuAA commented on #241
Well for me it 50/50... Let's fix it once and for all for the two properties so that we don't have to deal with this later.

[2018-07-02 08:01] bd82 commented on #241
I will provide the "fix" in a PR
and you can decide if to merge it or not.

I'm just not fond of adding ambiguities (even simple resolvable ones)
When I'm not sure there is a real need.

[2018-07-02 16:15] bd82 commented on #241
I just had another look at the two properties @ruddell mentioned:
* baseName
* uaaBaseName

[2018-07-02 20:30] MathieuAA commented on #241
This is tricky. Technically, they can be used as paths (and they are used as such), but let's not complicate things. Let's not add up more things... There should be rules for these two properties., someday.

[2018-07-02 20:45] MathieuAA opened #243 "only allow no-db for non-oauth ms and uaa gway"
From [this PR](https://github.com/jhipster/generator-jhipster/pull/7915)

[2018-07-02 20:50] ruddell commented on #241
`baseName` can only contain letters, numbers and `_` , it is [validated here in the prompts](https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L2151-L2153)

[2018-07-02 21:28] bd82 commented on #241
o.k. hopefully tomorrow I will find a bit of time to try to implement a baseName property
that matches `/^([a-zA-Z0-9_]+)$/` instead of `/^([a-zA-Z][a-zA-Z0-9_]*)$/`

[2018-07-02 21:30] bd82 commented on #241
btw @ruddell that validation would also match an empty string:
[code]

is that intentional?

[2018-07-02 21:33] ruddell commented on #241
No it should not be blank.  The prompts have a default value of the current directory name so users can't input a blank value

[2018-07-03 07:12] MathieuAA opened #244 "Only have 'required' as validation for textBlobs"

[2018-07-03 07:39] #243 closed

[2018-07-03 07:40] #244 closed

[2018-07-03 08:43] deepu105 commented on #244
I'm really glad you are tracking changes in the generator so closely. You
rock!

Thanks & Regards,
Deepu

On Tue, Jul 3, 2018 at 9:40 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-07-03 08:54] bd82 commented on #244
Maybe a single version monoRepo would help automatically keeping everything aligned?

[2018-07-03 09:07] deepu105 commented on #244
@bd82 I think we discussed this on the main repo a while ago and decided against it since the release process would be much harder and some other issues we figured.

[2018-07-03 09:54] bd82 commented on #244
Good to know this was discussed 👍

[2018-07-04 15:38] bd82 commented on #241
Hello again.

I've implemented the logic required to allow identifiers starting with digits as the value for
the baseName property. #245

I am not pleased with the added complexity it contains and it also makes some assumptions
that could make the grammar more fragile.
There may be other approaches to this but I cannot recommend that this approach would be merged.

### Recommendation

Support **bo

[2018-07-04 21:37] MathieuAA commented on #241
@bd82 to sum up, you suggest not supporting having base names beginning with digits due to the implementation complexity?
About your recommendation, how do you propose this should be done?
In `configPropsValidations`, `baseName` is checked according to a regex.
Is your idea about using the `this.OR` method from the Parser but using it locally if you define a `baseNameDeclaration` rule? This way yo

[2018-07-04 23:20] bd82 commented on #241
Syntax remains the same, configuration values can already be a string literal.
We just need the validations to allow both cases of string literals **and** of identifier.

Is your idea about using the this.OR method from the Parser but using it locally if you define a baseNameDeclaration rule?

No, I only want to change the validations, not expand the config keys types into the grammar like in the

[2018-07-05 11:45] bd82 commented on #234
This was merged in #240

[2018-07-05 11:45] #234 closed

[2018-07-05 11:47] bd82 commented on #241
The framework you are using has a separate Lexing phase correct?

I see a baseName property starting with a digit is not supported (yet) in the IDE
https://github.com/jhipster/jhipster-ide/blob/master/jdl/io.github.jhipster.jdl/src/io/github/jhipster/jdl/JDL.xtext#L344

[2018-07-05 11:57] colameo commented on #241
yes, it's not supported because I thought identifiers must be at least valid "java identifiers" or am i wrong? However, It's difficult (at least for me) to implement features without a clear spec... (and an EBNF is not enough!), I would prefer just a plain text documentation with a structure, possible inputs, optionality (mandator/optional definitions), a short description etc. (like we had once)

[2018-07-05 12:06] colameo commented on #241
@bd82 I suppose the way how it's implemented in the IDE is quite different from yours. The grammar in the IDE is less restrictive as I've implemented validations to check the validity of parameter values. I also had to implement "special logic" in the content assist to make things work nice for users.

[2018-07-05 14:13] bd82 commented on #241
@colameo

I thought so too but apparently the baseName property's value may start with a digit.

I feel your pain, I'm experimenting with building a Parser for Less (css preprocessor)
and in that case there is not even an EBNF 😄.

But I also understand how much work it is to define a high quality spec and keep it updated
so that is often not possible in smaller projects as opposed to something lik

[2018-07-05 14:48] bd82 commented on #241
@colameo given that baseName property may start with a digit.
* How would you disambiguate it from an integer?
*Aafaik XText uses Antlr Parser generator, so there is a separate lexing phase which would cause such an ambiguity.

Maybe you have a better idea than my overly complicated one shown [here](https://github.com/jhipster/jhipster-core/pull/245/files#diff-166390481de618205324cc3c0b12fb6bR66)?

[2018-07-05 14:49] deepu105 commented on #158
@bd82 my opinions have changed about prettier in recent times after using it in some projects. It works really well and using it along with lint-staged and husky just works perfectly well.

@MathieuAA maybe we can reconsider this, if you are not against it

[2018-07-05 14:54] bd82 commented on #158
@MathieuAA should make the decision here as the main contributor and project lead
he will suffer the consequences in the long term (both good and bad).

I am willing to create the PR that integrates prettier with Jhipster-core if @MathieuAA wishes it.

[2018-07-05 15:00] MathieuAA commented on #158
Let's consider, but later. I want to get v3.1 out ASAP. Le 5 juil. 2018 16:49, Deepu K Sasidharan <notifications@github.com> a écrit :@bd82 my opinions have changed about prettier in recent times after using it in some projects. It works really well and using it along with lint-staged and husky just works perfectly well.
@MathieuAA maybe we can reconsider this, if you are not against it

—You are

[2018-07-05 19:14] MathieuAA commented on #241
@colameo @bd82 Another option would be not to respect what's actually permitted by the generator and enforce some things. If this is such a pain in the ass, we can just not support base names beginning with digits... The only thing that's actually required is to document that (there's a PR for that documenting every option for applications, the same way there are annexes for field types).

[2018-07-05 19:33] deepu105 commented on #241
@MathieuAA I agree if it needs too many workarounds to achieve some edge cases then we can prohibit that in JDL and even in JHipster if needed

[2018-07-05 19:35] bd82 commented on #241
I think we can provide this functionality using the string literal workaround.
But if its an edge case that we are not sure is even needed maybe deal with a workaround
once someone actually requests the capability...

[2018-07-05 19:39] colameo commented on #241
...to allow string and literal for the same property would be (from my point of view) even worst.
however, I could manage to handle that case:
<img width="421" alt="screen shot 2018-07-05 at 21 35 22" src="https://user-images.githubusercontent.com/629760/42344110-996a06a4-809b-11e8-8bb3-15acf383f4b6.png">

[2018-07-05 20:51] MathieuAA commented on #190
@bd82 I've changed my mind, let's keep the serialized grammar... the HTML version could be helpful for anyone wishing to have a look at the grammar.

[2018-07-05 21:51] bd82 commented on #241
Can you share the "how?" perhaps I can apply your solution and it would be less messy than mine...

[2018-07-05 22:02] bd82 commented on #190
@MathieuAA Do you want to share the **development** version of the diagrams or only official **release** versions?

Because we can put this serialized file in the npm package and render the **release** diagrams from unpkg.com (npm cdn) but avoid polluting the source control history.

[2018-07-05 22:09] MathieuAA commented on #190
Having the latest grammar is enough for most use cases. I only kept it for the documentation

[2018-07-05 22:21] bd82 commented on #190
o.k.

If we write the grammar and lexer files as **UMD** models (in the source code).
We can load the diagrams **without** a serialization step.
Something like this: https://github.com/SAP/chevrotain/blob/master/examples/parser/diagrams/grammar.js#L3-L13

[2018-07-06 04:42] colameo commented on #241
...
JdlApplicationParameterValue:
	('['? identifiers+=JdlApplicationParameterLiteral (JdlParamValueSeparator identifiers+=JdlApplicationParameterLiteral)* ']'?)
		| stringValue=STRING | numberValue=INT | version=JdlApplicationParameterVersion;

JdlApplicationParameterLiteral:
	ID | NUMID | JdlReserverdWords;
...
terminal ID: ('a'..'z'|'A'..'Z'|'_'|'-') ('a'..'z'|'A'..'Z'|'_'|'-'|'0'..'9')*;
termin

[2018-07-07 13:07] bd82 commented on #241
Thanks @colameo. I thought of implementing it as you suggested.
but while its not complex I am afraid it is still fragile
because an INT followed by a an Identifier must now have a whitespace separating the two.
And that requirement is for everywhere in the grammar.

I tried to limit the places where these special NUMIDs could even be lexed to reduce the fragility
But ended up increasing the compl

[2018-07-07 13:08] bd82 commented on #190
Is there anything else here that requires my assistance?

[2018-07-07 13:59] colameo commented on #241
...just to make things clear, spaces would not be allowed in my parse rule (Chevrotain seems to be different here):

<img width="451" alt="screen shot 2018-07-07 at 15 44 36" src="https://user-images.githubusercontent.com/629760/42411483-c932972c-81fc-11e8-8983-5193b207616b.png">

However, I can make both cases (string and identifier literals) valid inputs:

<img width="424" alt="screen shot 2018-

[2018-07-07 14:23] MathieuAA commented on #241
As long as an error is displayed when a user uses a digit as prefix, it's okay.

[2018-07-07 15:54] bd82 commented on #241
@MathieuAA

Yes there will be an error.

@colameo

Its already identical to what you described.

[2018-07-07 15:55] bd82 commented on #190
Great 😄

[2018-07-14 15:04] #241 closed

[2018-07-17 16:04] #190 closed

[2018-07-17 16:04] MathieuAA commented on #190
It's finally done! Again, huge thanks @bd82 :)

[2018-07-17 17:00] bd82 commented on #190
Now lets see what 🐛 🐞  we have not swatted yet 😄

[2018-07-18 08:58] deepu105 commented on #225
@MathieuAA I see that you have implemented annotations :confetti_ball: can you update the default JDL sample in JDL studio to use the annotations? it would be cool

[2018-07-18 09:43] MathieuAA commented on #225
Will do!

[2018-07-27 18:11] MathieuAA opened #248 "Improve error messages"

[2018-07-27 18:56] bd82 commented on #248
Are these the Parser error messages, or post parsing error messages?

See http://sap.github.io/chevrotain/docs/features/custom_errors.html
For customizing the parser error messages.

[2018-07-27 20:41] MathieuAA commented on #248
And thanks for the tip :)

[2018-07-31 18:49] poneil commented on #20
I agree with Brian: this is a common scenario. I like to call it "decorating" the many-to-many (MtM) relationship. The join table should have it's PK be the IDs of the two (or more, I guess) related tables and the "decoration" are the additional fields. On the JPA side, a OneToMany relationship is created between each related Object and a "join" Object. The join Object, which contains the addition

[2018-08-04 06:53] alanchenup opened #249 "Why not use the enhanced version of the sql syntax with jdl"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2018-08-04 09:16] deepu105 commented on #249
If this is a feature request or enhancement request please provide details with clear samples. I have no idea what you are meaning here

[2018-08-04 09:16] #249 closed

[2018-08-25 13:57] #248 closed

[2018-08-29 13:24] delkant opened #250 "JDL Supporting Entities and Arrays as fields i.e. Book{ author Author} Author{name String}"
##### **Overview of the feature request**
Supporting existing entities as Fields will be especially helpful for NOSql databases. where you cannot use relationships but you may want to define and generate references to other components.

##### **Motivation for or Use Case**

I am thinking supporting references to other entities can be a generic way to work with all existing databases without having

[2018-08-29 20:12] ruddell opened #251 "Incorrect Error "Selecting DTOs without services is forbidden""
##### **Overview of the issue**
The following JDL throws an error on import due to `service` being required for the `dto` option, but it shouldn't because `service` is applied to `*`.  It works if you specify `service C with serviceClass` instead of using a wildcard.

[code]
[code]
##### **Motivation for or Use Case**

This should be valid JDL

##### **Reproduce the error**

Use the JDL from above

[2018-08-30 21:30] MathieuAA commented on #251
Nice catch @ruddell ! I'll find time this week-end to fix it.

[2018-09-01 14:51] MathieuAA opened #252 "Have a default clientRootFolder value"
If a microservice entity is generated, set the `clientRootFolder` to the microservice's name.

[2018-09-01 15:17] #252 closed

[2018-09-01 16:36] MathieuAA commented on #158
Closing this, as a basic prettier support has just been added

[2018-09-01 16:36] #158 closed

[2018-09-02 13:31] #251 closed

[2018-09-05 13:36] ttoommbb opened #254 "JDL generator can't use [zh-cn] as languages config value"
##### **Overview of the issue**

SyntaxError: Error: The languages property name must match: /^[a-z]+$/
        at line: 13, column: 23

##### **Motivation for or Use Case**

I need to set zh-cn and zh-tw as languages

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

https://github.com/ttoommbb/jhipster-core/commit/58342cbabcfea40205a7ff59b76aee404a24cb48

##### **

[2018-09-09 09:17] #254 closed

[2018-09-13 00:56] randeepbydesign commented on #250
I don't know that this solves the core of the issue. What is needed is way to create subdocuments for entities that would not have a corresponding DAO, Repository, etc. I see two approaches we could take at the JDL level:
1. Expand the Entity grammar to support an embedded keyword: `entity Address embedded`
2. Expand the JDL Grammar to support a subdocument object: `subdocument Address`

With opti

[2018-09-14 16:28] ruddell commented on #251
@kannery That's unrelated to this issue and not a bug.  If you choose DTOs, you need to enable services https://www.jhipster.tech/using-dtos/

[2018-09-14 16:44] kannery commented on #251
I was trying to import old jdl with the new jhipster version. I have corrected my jdl with the service option. Now it works. Thanks

[2018-09-15 10:34] MathieuAA commented on #250
Another possible way of doing that:
[code]

This is not a priority right now, but this is definitely something I want to work on.

[2018-09-15 19:45] MathieuAA opened #257 "Don't regenerate jwt tokens and rememberMe keys during app gen"
if there's one already (once is enough)

[2018-09-15 19:51] deepu105 commented on #257
actually, you can even skip generating this as the generator will do it if it's undefined.

[2018-09-15 19:52] MathieuAA commented on #257
What's the generator's behavior when there's one already? Does it keep it?

[2018-09-16 07:35] deepu105 commented on #257
Yes it will keep it

[2018-09-16 09:25] MathieuAA opened #258 "Escape the ' char for regexes"
From [#8175](https://github.com/jhipster/generator-jhipster/issues/8175) in the generator

[2018-09-16 10:53] deepu105 opened #259 "Multiple application generation using JDL issues and improvements"
From https://github.com/jhipster/generator-jhipster/pull/8335

- [x] Set default value for serviceDiscoveryType when app type gateway|microservice or when serviceDiscovery is enabled for the monolith

- [x] The below app doesn't compile since it provides wrong defaults for `devDatabaseType`, `prodDatabaseType`, `enableHibernateCache` and
[code]

- [ ] If I don't specify searchEngine elasticsearch

[2018-09-16 10:54] deepu105 commented on #259
@MathieuAA done, will add here if I find anything more

[2018-09-16 11:41] #258 closed

[2018-09-16 11:54] deepu105 commented on #259
I think it does if its empty, but the generated json has wrong values already there

[2018-09-16 11:55] deepu105 commented on #259
I would suggest to leave out anything that generator already handles out of the json created by JH core so that we dont have to duplicate the logic, else move the logic to JHcore and reuse the same in generator for default values

[2018-09-16 11:57] deepu105 commented on #259
@MathieuAA the last issue is a blocker do you know any workarounds?

[2018-09-16 12:31] MathieuAA commented on #259
Let me think about it

[2018-09-16 12:35] MathieuAA commented on #259
It's quite easy in a JDL context:
  - The user writes one or more apps in one or more JDL file/s
  - If in any of them is a MS & has ES enabled, set it in the GW

Now, if the user decides to import them separately and not in the same time, the best way is ask during the GW creation if any of the MS has ES enabled

[2018-09-16 12:54] deepu105 commented on #259
@MathieuAA I was not asking about ES related one, look at the alst item in the issue list, there are 7 items, I upated few more. Its about a fatal error with a valid JDL

[2018-09-16 13:07] MathieuAA commented on #259
Well, I'm surprised this still works as I've PRed the generator yesterday to allow MongoDB with relationships.
However, without the PR in mind, I guess this was almost normal but should have been a warning in this case (as both are used, which is not possible in a monolith app, right?).
The problem could still happen with cassandra & any SQL db

[2018-09-16 13:10] MathieuAA commented on #259
What's the project? monolith or MS?

[2018-09-16 13:51] #257 closed

[2018-09-17 16:43] deepu105 commented on #259
@MathieuAA hey did you happen to figure out the last one?

[2018-09-17 17:26] deepu105 commented on #259
@MathieuAA seems like the last point is resolved in master, i'll let you confirm and tick it off

[2018-09-17 18:06] MathieuAA commented on #259
I've yet to confirm it, but I suspected.

[2018-09-17 18:14] deepu105 commented on #259
i'll do a PR for the new issue I added at the end now

[2018-09-17 18:27] MathieuAA commented on #259
Ticked the "blocker", the PR from last week fixed it.

[2018-09-17 21:55] deepu105 opened #260 "Fix the skipped tests"
The tests in `test/spec/core/jdl_application_test.js` are skipped and are failing when run

[2018-09-18 04:10] MathieuAA commented on #260
Yep, I know. I planned to do them after your ticket.

[2018-09-20 11:49] Abdull opened #262 "Introduce DDD concept of value objects"
##### **Overview of the feature request**
Domain-driven design (DDD) has the concept of _value objects_ (see https://en.wikipedia.org/wiki/Value_object , https://martinfowler.com/bliki/ValueObject.html ).

Currently, JHipster JDL cannot model value objects.

##### **Motivation for or Use Case**
Value objects are a significant concept when modeling a sound domain following DDD. Other JHipster users

[2018-09-21 06:30] agoncal commented on #141
@MathieuAA just tried JDL v2 : well done !

[2018-09-21 08:01] deepu105 commented on #141
@agoncal did you try JDL v3? with the microservice stack generation https://github.com/jhipster/generator-jhipster/pull/8335

[2018-09-21 08:09] agoncal commented on #141
@deepu105 Current project is a monolith with Keycloak. Haven't had the chance to use microservices in v3... but will certainly give it a try ;o)

[2018-09-23 12:14] MathieuAA opened #263 "Throw an issue if related entities are in different apps"
See [this issue](https://github.com/jhipster/generator-jhipster/issues/8390)

[2018-09-23 12:15] MathieuAA opened #264 "Fix JDL export"
See [this issue](https://github.com/jhipster/generator-jhipster/issues/8391)

[2018-09-23 12:42] deepu105 opened #265 "JDL validation for app config"
When creating an application using JDL, the below validations needs to be done and should throw error for invalid cases.

- [ ] Each property should have only acceptable values, same validations as in main generator, like databaseType for example, see https://github.com/jhipster/generator-jhipster/issues/8390#issuecomment-423813516
- [ ] Invalid combinations should not be allowed, user should not

[2018-09-23 12:45] MathieuAA commented on #265
The second point is being handled in the BusinessErrorHandler and the AbstractJDLApplication (will be moved to the error handler).
The first point is handled.
The JDLApplication refactoring is, basically, this ticket (and the one about some default values you created).

[2018-09-23 19:50] #260 closed

[2018-09-29 14:03] #264 closed

[2018-09-29 21:07] deepu105 opened #266 "Enrich JDL for container sub generators"
##### **Overview of the feature request**

Enrich JDL with below, so that we can generate config for k8s, docker-compose, openshift and so on. This will result in creating a folder for the type with a .yo-rc.json with this config and then executing the subgen to generate the files.

[code]

@MathieuAA I would like to work on it so that I can familiarize myself with chevrotain, do you have any obje

[2018-09-29 21:12] deepu105 commented on #266
@mraible might be interesting to you as well

[2018-09-29 23:42] MathieuAA commented on #266
Nop, please do!!

[2018-10-06 09:57] deepu105 opened #267 "Make sure all application properties use the default value as in generator"
When providing an app config the minimum that should be required is below and every other property should have a default value(same as in the generator)

[code]

[2018-10-06 09:58] deepu105 commented on #267
@MathieuAA I think you are the best person to do this, will you have time, of course its not urgent

[2018-10-06 09:59] deepu105 commented on #267
@jdubois plz note I added a bounty on this

[2018-10-07 08:03] MathieuAA commented on #267
@deepu105 Hi, it's already done in `ApplicationOptions`.

[2018-10-07 14:08] deepu105 commented on #267
@MathieuAA I checked, but it doesnt cover every option. Say for example authenticationType etc

[2018-10-07 14:17] deepu105 commented on #267
ok, sorry just tried the sample above and it works. I guess you assign default for remaining props in some other place. So I'll close this

[2018-10-07 14:17] #267 closed

[2018-10-07 14:41] MathieuAA commented on #267
There are two places: the application options files. It contains some defaults (non-business defaults) and concrete classes that assign logical defaults. I'm gonna move everything to the abstract JDL app in 3.4.1

[2018-10-09 14:06] murdos commented on #262
+1
Just for reference, #128 was a similar request.

[2018-10-09 18:34] jsm174 opened #268 "compile issue with react gateway app with uaa after 3.4.0 release"
##### **Overview of the issue**

React gateway with uaa fails to compile after 3.4.0 release.

Generator commit: https://github.com/jhipster/generator-jhipster/commit/15666aa64c96d3135abde55fa3f8dfa9b0fbc7fe

Given the following JDL:

[code]

And executing the following build command:

[code]

results in:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related

[2018-10-09 19:50] jdubois opened #270 "Fallback clientFramework=angular to the angularX"
I'm adding a fallback to convert angular to angularX, see https://github.com/jhipster/generator-jhipster/pull/8514

[2018-10-09 20:01] ruddell commented on #268
This happens because [of this code](https://github.com/ruddell/jhipster-core/blob/4cfdbdf6b4b9f818aa09fec9b9c979ea098e7fd7/lib/core/jdl_gateway_application.js#L42-L44), `skipUserManagement` should not be forced for UAA gateways as need the user management client pages to be genenerated.

[2018-10-09 21:39] cbornet commented on #262
Can we really do something smart here ? IMO, value objects shouldn't be anemic, they should embed the domain business logic. So I'm not sure it is compatible with code generation...

[2018-10-10 04:13] MathieuAA commented on #262
Yes Christophe, you're right. However, I can see this happening if someone makes a blueprint first

[2018-10-10 05:55] jdubois commented on #262
Totally agree with @cbornet on this - for me, if you want this design (which has some big drawbacks but that's not the point), you just use your IDE to refactor the generated code.

[2018-10-10 14:32] jsm174 commented on #268
Would there ever be a case were a uaa gateway wouldn't want user management client pages?

I'll submit a fix, but just wanted to make sure won't break anything else.

In `jdl_gateway_application.js`, from:

[code]

to:

[code]

And remove this entire block in `jdl_gateway_application_test.js`:

[code]

[2018-10-10 19:30] MathieuAA commented on #270
Okay with that, will do it during the week-end or sooner if I can

[2018-10-11 13:59] jsm174 commented on #268
Tested 5.4.2 with the above changes, and the uaa gateway react app does build with working user management.

[2018-10-13 12:46] MathieuAA commented on #268
The PR has been merged

[2018-10-14 20:14] #270 closed

[2018-10-14 20:15] MathieuAA commented on #268
What's next for this issue?

[2018-10-14 20:28] deepu105 commented on #259
@MathieuAA was the 2 open item on this done? I lost track of it

[2018-10-15 04:30] MathieuAA commented on #265
Yes I currently am

[2018-10-18 08:18] ruddell commented on #268
I opened a PR in the generator to fix the remaining issue

[2018-10-19 11:48] #268 closed

[2018-10-26 23:53] bd82 commented on #224
Hello @MathieuAA 😄

I just noticed this issue and have some questions:
* Could you share links to the three rules that have been implemented already?
* Are these rules meant to implemented on the Chevrotain CST or the JDL AST (or both depending on context)?

Regarding:

If you are referring to the parser, it is possible to collect all the whitespace instead of omitting them.
* Using [Token Groups]

[2018-10-27 08:08] MathieuAA commented on #224
Ah! Awesome! I spent time looking for that without knowing what to look for, thanks!Links?Le 27 oct. 2018 01:53, Shahar Soel <notifications@github.com> a écrit :Hello @MathieuAA 😄
I just noticed this issue and have some questions:
Could you share links to the three rules that have been implemented already?Are these rules meant to implemented on the Chevrotain CST or the JDL AST (or both depending

[2018-10-27 08:25] MathieuAA opened #275 "Mixing annotations and option declaration should work"

[2018-10-27 17:36] MathieuAA commented on #224
There's a branch for the linter, I'm not at home til tomorrow so I'll link to it tomorrow

[2018-10-28 10:16] bd82 commented on #224
Thanks I found it at:
https://github.com/jhipster/jhipster-core/tree/lint/lib/linter

I will have a look later

[2018-10-28 11:11] #263 closed

[2018-10-31 08:16] antarus commented on #141
Hello, @MathieuAA
I need the notion of `extends` and` abstract` for entities at work. I will be able to watch the `generator` part of this feature.
But I have some question:
- how will be saved the notion 'extends' in the `entity.json` file?
- how will be saved the notion 'abstract' in the `entity.json` file?
- Take advantage of it to generate a `BaseEntity` (https://github.com/jhipster/jhipster/p

[2018-11-02 10:21] deepu105 commented on #265
Awesome man, you rock.

I have some more ideas to make JHipster more JDL centric, I'll start a
discussion about that soon.

Thanks & Regards,
Deepu

On Fri, Nov 2, 2018 at 9:25 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-11-02 11:00] #18 closed

[2018-11-02 11:02] MathieuAA commented on #265
Awesome!!

[2018-11-02 23:41] Tcharl commented on #141
Let me disturb that conversation a little ^^ ;-).

If the goal of this new syntax is to ease JH upgrade without modifying code, it may be wise to focus on other aspects. If we take generated elements from the ground up:

- Entities are not extensible for now, and it looks really complicated to achieve using JDL. We can mitigate this adding more capabilities on them (audit, versions, String as Id,

[2018-11-03 11:25] deepu105 opened #277 "JDL Roadmap"
To make JHipster more JDL centric and to truly achieve scaffolding as Code I envision the below. Detailed explanation of the vision is in [this mailing list entry](https://groups.google.com/forum/#!topic/jhipster-dev/zoJ7H0xKMTM), this ticket only covers the JDL part

If everyone agrees, I would like to drive this for v6

Note: This is not addressing the side by side or code upgrade issues as I be

[2018-11-03 11:41] colameo commented on #277
what about having also a way to implement the generation gap pattern like this:
- if an entity / service is annotated with let's say `@Incomplete entity Address { ... }` we would generate:
  - an abstract class like (e.g. `AbstractAddressEntity`) every time the generater is executed
  - a concrete class which would extend the abstract class (e.g. AddressEntity extends `AbstractAddressEntity`) but

[2018-11-03 11:47] colameo commented on #277
...and btw, this would work also with inheritance, because:
- @Incomplete entity AddressEntity extends BaseEntity {} we would generate
- a class BaseEntitiy {} and a class AbstractAddressEntity {} which would inherit from BaseEntitiy{}
- and the concrete class AddressEntity would inherit from AbstractAddressEntity only

[2018-11-03 12:37] deepu105 commented on #277
@colameo that's the idea but I wouldn't want to go too far, the extends in JDL will only extend the config of JDL and will not create extends in the output code. Instead of annotating entities as `@incomplete` it could be an application level property to enable the behavior as you would want to edit most of your entities anyway. The fine grain control can be a later feature. I would like to get an

[2018-11-03 12:37] deepu105 commented on #277
@colameo I have talked about that in the mailing list btw

[2018-11-04 10:59] murdos opened #279 "Specify blueprint in JDL"
##### **Overview of the feature request**

It should be possible to declare the blueprint you want to use for generating an application.

##### **Motivation for or Use Case**

Feature parity between creating an application from cli or from JDL.

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2018-11-04 12:36] deepu105 commented on #279
Yes this is something that needs to be done at application level

On Sun, 4 Nov 2018, 11:59 am Aurélien Mino <notifications@github.com wrote:

[2018-11-06 07:34] deepu105 commented on #279
related to https://github.com/jhipster/generator-jhipster/issues/8610

[2018-11-06 07:36] MathieuAA commented on #279
I'll enable it tonight

[2018-11-06 21:56] #279 closed

[2018-11-07 03:26] brunnels opened #281 "Merge on JDL Import"
##### **Overview of the feature request**
Change the `jhipster_entity_exporter` to deep merge the generated json with the current json if it exists.  Similar to how the `MergeJsonWebpackPlugin` does with the i18n files.

##### **Motivation for or Use Case**
This would allow blueprint authors to use the entity configurations to store additional settings or parameters that are not supported by the J

[2018-11-07 15:11] agoncal opened #282 "Postgresql does not work in devDatabaseType"
##### **Overview of the issue**

When importing a JDL with a `devDatabaseType` set to `postgresql` we get a:

[code]

##### **Motivation for or Use Case**

It was working in previous versions (I think JHipster 5.5)

##### **Reproduce the error**

Create a jdl file called `works.jdl` as follow:

[code]
Now import the file with the following command and check the result:

[code]

If you just change

[2018-11-07 15:14] pascalgrimaud commented on #282
@agoncal :

I think it's the same issue than https://github.com/jhipster/generator-jhipster/issues/8760
It should be fixed in jhipster-core: https://github.com/jhipster/jhipster-core/pull/280 with some improvements: https://github.com/jhipster/jhipster-core/commit/28cceaa43c4e863eaa284dc291bbd7241a52eb12

The jhipster-core v3.6.1 should resolve the issue: https://github.com/jhipster/generator-jhip

[2018-11-07 15:19] agoncal commented on #282
Sorry, I didn't look into the `generator-jhipster` issue tracker, for me it was a bug on the JDL parser.

[2018-11-07 15:19] #282 closed

[2018-11-07 15:21] pascalgrimaud commented on #282
No problem :)
Waiting the next JHipster release, you can use jhipster-core v3.6.1 for now

[2018-11-10 13:33] deepu105 commented on #266
done

[2018-11-10 13:33] #266 closed

[2018-11-10 13:34] deepu105 commented on #259
@MathieuAA the issue no. 2 here was working in last version but seems to be failing again, see below JDL for example
[code]

[2018-11-10 20:49] MathieuAA commented on #259
@deepu105 I think I know why, gotta test.

If it's failing, there must be an error somewhere. Is it a validation error?

[2018-11-11 00:30] deepu105 commented on #259
Let me try again. I might have been in between versions.

On Sat, 10 Nov 2018, 9:49 pm Mathieu ABOU-AICHI <notifications@github.com
wrote:

[2018-11-11 16:33] pascalgrimaud commented on #259
I think it's related to:
- my PR https://github.com/jhipster/jhipster-core/pull/280 to fix https://github.com/jhipster/generator-jhipster/issues/8760
- and some improvements: https://github.com/jhipster/jhipster-core/commit/28cceaa43c4e863eaa284dc291bbd7241a52eb12

[2018-11-11 16:35] MathieuAA commented on #259
I'll fix it right away

[2018-11-11 16:36] deepu105 opened #283 "Standardize false values for string fields"
Currently we use a mix of `false` and `no` to disable things. We should have a standard way of doing this with either `false` or `no` everywhere.

For example see `serviceDiscoveryType` and `cacheProvider`
[code]

[2018-11-11 16:46] deepu105 opened #284 "serviceDiscoveryType false doesn't work"
Seems like recent changes to make false work with `serviceDiscoveryType` instead of no is broken.

[code]

produces
[code]

[2018-11-11 17:19] deepu105 commented on #283
I think we should stick with `no` or `none` for falsey values instead of `false`

[2018-11-11 17:48] MathieuAA commented on #283
Agreed. This would be a breaking change if we don't handle this right.

[2018-11-11 17:50] MathieuAA commented on #259
@pascalgrimaud I don't think so, the default values aren't propagated. Either I forgot to do it, or there's a regression. I'd bet for the first option.

[2018-11-11 18:36] deepu105 commented on #283
its already broken actually, so i'm doing a fix now to restore old behaviour

[2018-11-11 18:41] deepu105 commented on #283
closed the wrong one

[2018-11-11 18:41] deepu105 commented on #284
closed via https://github.com/jhipster/jhipster-core/commit/f1f4ed2082f2423e523055dfa4729162a47380bd

[2018-11-11 18:41] #284 closed

[2018-11-11 19:10] MathieuAA commented on #283
This concerns everyone @jhipster/developers. I agree with @deepu105's proposal.
`false` will also be accepted, as long as it concerns a boolean.

If everyone's okay with `no`, please say so :) If you have any objection, please ~~reconsider~~ tell us why.

[2018-11-11 20:03] murdos commented on #283
FYI yhere's a related discussion on https://github.com/jhipster/generator-jhipster/issues/8608
For non boolean parameter `none` seems more appropriate.
For boolean parameter I've no problem with `true`/`false`. But if we choose `no`, the opposite value should also be changed from `true` to `yes`.

[2018-11-11 20:34] deepu105 commented on #283
Booleans can remain true/false, I'm only talking about String with no/none/false

[2018-11-12 05:32] MathieuAA opened #285 "Issues with the new deployment syntax"
@deepu105, can you confirm those?

  - [x] in the `JDLObect` class, there's no stringifying of a deployment inside a JDL object.
  - [x] not sure if `JDLDeployment#toString` works as intended: this method returns something like
[code]
instead of
[code]

I'll add more if I find anything.
If you confirm those, I'll work on that.

[2018-11-12 07:36] deepu105 commented on #285
@MathieuAA you are right the stringify is definitely wrong. Good catch

[2018-11-12 07:37] deepu105 commented on #265
@MathieuAA plz close this if you think its done

[2018-11-12 07:37] deepu105 commented on #259
@MathieuAA plz close this if you think its done

[2018-11-12 18:14] MathieuAA commented on #285
@deepu105 The fixes have been committed. Do you need a release?

[2018-11-12 19:34] jdubois commented on #285
I'll do a release of the generator tomorrow morning, please keep me updated

[2018-11-12 20:29] MathieuAA commented on #285
@deepu105 I'm going to close the issue. If someone finds something, this issue still exists and can be reopened.

[2018-11-12 20:29] #285 closed

[2018-11-12 20:30] #265 closed

[2018-11-12 20:31] MathieuAA commented on #259
There's the second point, I'm gonna close this one and open a new one for point .

[2018-11-12 20:31] #259 closed

[2018-11-12 20:32] MathieuAA opened #286 "Setup searchEngine on the gateway if a MS has the option"
If I don't specify searchEngine elasticsearch on my gateway, the UI is generated without a search field. It seems like this should be read from the microservice apps (which have elasticsearch specified) rather than requiring it on the gateway.

[2018-11-12 20:45] MathieuAA commented on #285
@jdubois there's a PR in the generator for this issue.

[2018-11-12 20:59] ruddell commented on #286
The `searchEngine` option is read from the entity JSON, then the search box is only generated if enabled.  This allows the developer to enable/disable for specific entities instead of all.

I dont see any issues with this using the following JDL (didn't test running, just checked for the presence of the search box in the HTML):

[code]

[2018-11-13 06:31] deepu105 commented on #285
Thanks man much appreciated

On Mon, 12 Nov 2018, 9:47 pm Mathieu ABOU-AICHI <notifications@github.com
wrote:

[2018-11-13 07:08] MathieuAA commented on #286
Agreed. It's more of a "nice to have because one might forget it" than anything. That, or the fact that debugging afterwards might be troublesome.

[2018-11-19 13:09] co5dt opened #287 "JDL comments in DTO's"
##### **Overview of the feature request**

Domain objects receive javadoc and swagger annotations derived from JDL comments by default, which is awesome, yet generated DTO's don't.

##### **Motivation for or Use Case**

It is awesome that there's a single place to add all the relevant information about an API.
Especially the swagger annotations are darn useful when working with external parties or

[2018-11-19 13:33] DanielFran commented on #287
+1
And if you can include remove from entities the swagger annotation when using DTO's would be owesome.

[2018-11-19 13:35] co5dt commented on #287
I'd love to level-up from end-user to contributor one day. Sadly in 2018 there won't be any such day, given all the stuff that's going on. Hope your colleague can pick it up.

[2018-11-19 13:52] co5dt opened #288 "jhipster-side-by-side"
##### **Overview of the feature request**

I feel like I'm on a roll, so here it goes:

There was a very interesting presentation at JHipster Conf 2018 called "JHipster side-by-side". Though the presentation was flawed at one or two points, the basic principle is very intuitive. A non-destructive approach for working with jhipster is to extend the generated classes (Repository, Service, RestContro

[2018-11-19 14:05] deepu105 commented on #288
@co5dt please check existing issues first, we are already discussing these https://github.com/jhipster/jhipster-core/issues/277

[2018-11-19 14:05] #288 closed

[2018-11-19 15:50] co5dt commented on #288
@deepu105
a) Sorry
b) Though wouldn't have found it by name anyway
c) Awesome

[2018-11-19 22:08] MathieuAA commented on #287
@jdubois @deepu105 Since with GitHub any repo's admin (and org too I guess) can move issues around projects, can any of you guys try to move it to the generator?

[2018-11-19 22:16] deepu105 commented on #287
I tried but I don't see the option. I guess only owner can do, so may be
Julien

On Mon, 19 Nov 2018, 11:09 pm Mathieu ABOU-AICHI <notifications@github.com
wrote:

[2018-11-22 14:08] flefevre opened #289 "Enriching JDL grammart to crypt field of entities"
##### **Overview of the feature request**

Add a new extension like "required", in order to express the fact the attribute has to be stored in the database in an encrypted way. It has to be compliant with for instance Jasypt, Bouncy Castle.

##### **Motivation for or Use Case**

It is important for several applications to store attributes or properties encrypted in the database, and to be able to

[2018-11-29 20:37] tibistibi commented on #24
for the update problem of the created field check you table defenition is not like this:

` created_date       | timestamp    | NO   |     | CURRENT_TIMESTAMP | on update CURRENT_TIMESTAMP |`

[2018-12-04 17:04] pascalgrimaud opened #290 "Reserved keyword not consistent between JDL and Sub-Gen entity"
Reported by @jdubois
When using a reserved Keyword (like `group`) in a JDL file, we got this error:

[code]

When using directly the sub-generator entity, we got a warning but we can still use the reserved keyword:

[code]

Both generation should be consistent.

Here my JDL:

[code]

[2018-12-04 17:08] jdubois commented on #290
I'm adding the $100 tag here as I really want the JDL import and the entity sub-generator to work the same

[2018-12-05 08:45] deepu105 commented on #290
The reserved words are actually defined in jh core, so unless there is a
logical difference in validation somewhere, this shouldn't have happened

On Tue, 4 Dec 2018, 6:08 pm Julien Dubois <notifications@github.com wrote:

[2018-12-05 08:53] murdos commented on #290
I can look at this issue, since I need to better understand how the generator interacts/uses jh core.

[2018-12-05 08:54] pascalgrimaud commented on #290
thanks @murdos
The logic is here: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L301-L307

I think we don't apply it during the import-jdl

[2018-12-05 09:07] jdubois commented on #290
Yes the reserved keywords are good, it's the validation that is different:

- if you use the entity sub-generator, it will add a "jhi_" prefix to the table (so if the entity is "Group", the table will be "jhi_group"), and that's awesome
- if you use the JDL, it will refuse to create the entity (and that's bad, and not consistent with the entity sub-generator)

[2018-12-05 17:40] MathieuAA commented on #290
Not that bad actually Julien, just an inconsistent choice.Anyway, I'm surprised about all this as nobody seemed to be that annoyed by such a behaviour in the past. I'm working on greatly extending the jdl export and the v4 release right now and I have a lot on my plate, so if anyone wants to adjust the code in this repo, be my guest :)

[2018-12-08 20:54] murdos opened #291 "Commented section falsely interpred as javadoc"
##### **Overview of the issue**

Commented code is interpreted as javadoc

##### **Motivation for or Use Case**

Incorrect and unexpected behavior.

##### **Reproduce the error**

Import following JDL:
[code]
is interpreted as if `entity AnotherDisableEntity {}` was the javadoc of the `Group` entity

The following test should be changed, the comment should be `undefined`:
https://github.com/jhipst

[2018-12-11 05:40] #290 closed

[2018-12-11 05:42] MathieuAA commented on #281
Sorry for the late answer, I admit I forgot about this issue as I didn't have much time before. I have the JDL exporting to improve right now, but this issue shall be the next priority.

[2018-12-11 20:52] #291 closed

[2018-12-26 18:42] pmverma opened #294 "Add support for @MapsId in jdl entity field declaration"
##### **Overview of the feature request**

As the PR https://github.com/jhipster/generator-jhipster/pull/8685 is ready, add support for MapsId in jdl entity field declaration once the PR is reviewed and merged.

##### **Motivation for or Use Case**

Keeping in sync with prompt with jdl

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/8685
- [ ] Checking this box

[2018-12-31 08:35] deepu105 opened #295 "Update spec for IStio"
Based on https://github.com/jhipster/generator-jhipster/pull/8987

[2019-01-08 06:49] jnsunkersett opened #296 "JDl code generation and Open Close principle"
##### **Overview of the feature request**
Hello,
From the JDL, JHipster generates the Entity, ServiceImpl and related interfaces
I need to write custom code, on top of the generated code - where should I keep it?

One place is to edit the generated code and insert custom code inside them.
But this defeats the Open Close principle. Also the next time the JDL is modified imported - and each time the

[2019-01-08 08:32] Tcharl commented on #296
Extending services, resource and frontend classes is not that hard, is it?

Every other alternatives that has been tried have failed due to poor developper experiences:
- Acceleo with its `//begin of user code` `//end of user code`.
- Diff/merge.

A last alternative would be to regenerate your code in another branch than your main one and cheery pick changes.

[2019-01-08 09:59] jnsunkersett commented on #296
Thank you Charlie.

It is not, but may result in an increase in the number of classes. (and in Git) that need to be maintained.

I am not in favor generating code in one branch and custom code in another and cherry picking them during merge.

using Liquibase **diff** command seems cumbersome.

So thinking of employing an approach of multiple maven projects
 - Project 1, has only JDL and uses Liqui

[2019-01-08 20:43] antonioortizpola commented on #296
I think you should check @agoncal talk about Side by side. It gives some advices and in general is a very good talk https://www.youtube.com/watch?v=9WVpwIUEty0
It talks about their strategy separating the generated and custom code, I am trying somehitng similar with my project with JHipster and Angular

[2019-01-11 23:47] DanielFran commented on #294
@MathieuAA The PR in the generator has been merged.
Can you please take care of this issue?
Thanks

[2019-01-12 15:47] MathieuAA commented on #294
@DanielFran will do

[2019-01-12 20:06] MathieuAA commented on #294
Almost done, this is a bit trickier than I thought, but there's fun in doing it.
The syntax I'm implementing is the following:
[code]

[2019-01-13 01:08] Blackdread commented on #294
The syntax is good I think, I will implement in https://github.com/Blackdread/sql-to-jdl as soon as this is ready in JDL.

[2019-01-24 10:38] deepu105 opened #298 "Regex with escaped content is stripped"
In the latest version

[code]
this jdl with email field produces
[code]

[2019-01-26 17:13] MathieuAA commented on #298
I've written a test for this issue, it is inconclusive. See a4b6dd8 for more details.
Also tested with the CLI.
I'll let you re-open this issue if there is an issue in this repo's code.

[2019-01-26 17:13] #298 closed

[2019-01-26 18:40] pvliss opened #299 "JDL import does not set the otherEntityRelationshipName when processing the to part of a OneToMany relationship"
##### **Overview of the issue**
It has been reported by @jsm174 at Gitter that JHipster now generates warnings for missing `otherEntityRelationshipName` while it is actually defined. Quoting here his message from Gitter:

He is in fact right that JHipster should not complain and this is a byproduct of the changes I made to https://github.com/jhipster/generator-jhipster/issues/8991. The bug is actu

[2019-01-27 03:36] jsm174 commented on #299
Just tried out latest generator + latest jhipster-core, and I'm seeing this on ManyToOne's as well.

From the docs @ https://www.jhipster.tech/managing-relationships/#2, this is valid syntax:

[code]

Take this JDL:

[code]

Produces:

[code]

[2019-01-27 15:14] pvliss commented on #299
Thanks @jsm174 for reporting once more. To be honest I only checked the `OneToMany` case. I will check again later tonight when I get some free time

[2019-01-27 16:20] afillatre opened #301 "Generated code using JDL fails to compile if an entity is named "Document""
##### **Overview of the issue**

Given this JDL :
[code]
generated code fails to compile because "Document" is an annotation used on this entities, as shown below :

[code]

No import on my "Document" object is present on the class. Instead, the only imported "Document" class is `import org.springframework.data.elasticsearch.annotations.Document;`.

This results in the failing code below :

[code]

[2019-01-27 20:47] afillatre commented on #301
`Service`, 'Table`, `Column`, `Entity`, `Repository`, `Pattern`, etc. would be valid domain name as well. The thing is using those name would only be a problem in classes that have the related annotation, so use the fully qualified name of the entity in those classes seems to me to be the least invasive method. But a warning in the JDL generation should be created anyway.

[2019-01-28 07:54] deepu105 commented on #298
Ok let me check, may be its the generator issue

On Sat, 26 Jan 2019, 6:13 pm Mathieu ABOU-AICHI <notifications@github.com
wrote:

[2019-01-29 07:32] pvliss commented on #299
@jsm174 Sorry for the delay but was quite busy. I submitted another PR that hopefully fixes all other cases as well, i.e. it always tries to set the `otherEntityRelationshipName` to either the one provided in the jdl or automatically.

[2019-01-29 10:32] #299 closed

[2019-01-29 10:34] MathieuAA commented on #301
Isn't `document` in the reserved keywords as well? If that's the case, perhaps there's an issue there.

[2019-01-29 18:57] ruddell commented on #301
Document is only reserved for Mongodb, but the `@Document` annotation is used if you enable Elasticsearch which causes the conflict

[2019-02-06 13:37] pvliss opened #303 "Regression: Invalid otherEntityRelationshipName when importing JDL for ManyToMany relationships"
##### **Overview of the issue**
Invalid `otherEntityRelationshipName` generated for owning `ManyToMany` field that also has display field  defined display, e.g:
[code]

This has been reported at https://github.com/jhipster/generator-jhipster/issues/9202 and leads to generation of invalid code.

##### **Motivation for or Use Case**
Generate compilable code :)

##### **Reproduce the error**
Use JDL

[2019-02-07 05:48] #303 closed

[2019-02-15 14:53] breglerj opened #306 "Feature request: support for SAP HANA"
* **Overview of the request**

I'd like to enhance JHipster to support SAP HANA as a database type when creating an application.

* **Motivation for or Use Case**

Recently I've been adding support for SAP HANA to several open source projects like Hibernate, Spring, Liquibase, and others, and I'd like JHipster to support SAP HANA as a database as well.

* **Browsers and Operating System**

n/a

*

[2019-02-15 16:23] deepu105 commented on #306
@breglerj this is not the correct project for the request, anyway, I don't think we have the bandwidth to have this in the core project, I suggest you explore adding it as a module or blueprint and if it gets popular we can consider for the core. https://www.jhipster.tech/modules/marketplace/#/list

[2019-02-15 16:23] #306 closed

[2019-02-20 18:18] ruddell opened #308 "Import JDL only finds one entity when matching MS baseName"
##### **Overview of the issue**
When importing JDL, all declared entities should be imported.

##### **Reproduce the error**
Using the config supplied below, generate a microservice then import the JDL. You can see only one entity is imported (`OrganizationContact`).

##### **Suggest a Fix**
Not sure.  I think it has to do with the `microservice` keyword, as removing the `Organization` entity from

[2019-02-24 04:26] yelhouti opened #350 "Multiline javadoc comment crashes jdl generation"
##### **Overview of the issue**

Multi line comments fails when javadoc contains new line
##### **Motivation for or Use Case**
Have well documented code

Should be working according to the doc
##### **Reproduce the error**
Generate from jdl with multiline comment:
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

5.8.1, never seemed to work well for me
#####

[2019-02-27 09:08] ssnice opened #310 "Can the default generation ID in JDL modify the generation method?"
**This is generated by default**
`@Id`
`@GeneratedValue(strategy = GenerationType.IDENTITY)`
 `private Long id;`

[2019-02-27 11:31] ssnice commented on #310
Hibernate custom primary key generation strategy

[2019-02-27 14:32] MathieuAA commented on #310
Not at the moment no

[2019-02-27 19:20] #310 closed

[2019-02-27 19:29] MathieuAA commented on #308
Thanks for reporting this, I'll handle it tonight

[2019-02-27 20:41] MathieuAA commented on #308
Good analysis, by the way

[2019-02-27 20:58] MathieuAA commented on #308
Okay, the issue was that the parsing system would consider `OrganisationContact` to be the microservice, where it should have been `Organisation`.
Gonna fix it now

[2019-02-27 21:52] MathieuAA commented on #308
@bd82 I think this one may interest you! Apparently, when an entity has the same name as one microservice, the `entityList` is:
  - for a service, every entity & the method (serviceImpl by default)
  - for a MS, every entity (because the method is the amongst the entities!! `organisation`)

The way the method & the entity lists are handled is interesting too:
  - the method is the last entry of th

[2019-02-27 22:10] MathieuAA opened #311 "Fix comments with new lines"
cf [this](https://github.com/jhipster/generator-jhipster/issues/9331) issue

[2019-02-28 00:47] ssnice commented on #310
All right.

[2019-03-02 18:02] MathieuAA commented on #308
@ruddell I don't know what I can do here, as the easiest workaround is not to have an entity have the same name as the MS... I'm waiting for Shahar Soel for this one.

[2019-03-03 10:33] MathieuAA opened #313 "Make selecting DTOs without services not throw an error"
From [there](https://github.com/jhipster/generator-jhipster/issues/9347),

This must not be an error case, but an automatic setting, just like the filtering:

[2019-03-03 10:40] #311 closed

[2019-03-03 11:12] #313 closed

[2019-03-06 10:20] PierreBesson opened #314 "Remove Rancher from deployment options"
##### **Overview of the feature request**

I have already removed mentions of them in the documentation (https://github.com/jhipster/jhipster.github.io/pull/709) but all references to Rancher in JHCore should be removed.

##### **Motivation for or Use Case**

Remove unavailable options from the application DSL.

##### **Related issues or PR**

- generator: https://github.com/jhipster/generator-jhi

[2019-03-06 12:22] MathieuAA commented on #314
I'll do it tonight

[2019-03-08 13:59] DanielFran commented on #295
Impacts:
- istio: should be now true/false since autoinjection will be always available (options no, manualInjection, autoInjection are not needed anymore)
- istioRoute: removed

[2019-03-08 14:30] MathieuAA commented on #295
@DanielFran thanks :)

[2019-03-08 20:18] #314 closed

[2019-03-09 10:14] murdos commented on #283
@MathieuAA could you do that for JHipster V6? I could handle the changes in generator-jhipster if needed, but I'm not sure how/where things should be changed here.

[2019-03-10 06:16] lyl2008dsg commented on #314
Why did jhipster remove support for rancher?
Are there any considerations?

[2019-03-10 09:47] PierreBesson commented on #314
It was not maintained anymore. Also Rancher (the company) seems to have moved to embrace Kubernetes rather than their own orchestrator.

[2019-03-11 07:21] MathieuAA commented on #283
@murdos Yep, I'll find time this week to do it.

[2019-03-20 16:49] murdos commented on #283
@MathieuAA : any update on the subject? If you don't have the time, could you tell me where would be the best place in the code to add the standardization of the provided value, as suggested by @deepu105 :
https://github.com/jhipster/generator-jhipster/issues/8608#issuecomment-431655162

[2019-04-01 02:46] hermitmaster commented on #301
FYI - I ran into the same issue with an entity named `Application`.

[2019-04-02 13:12] MathieuAA commented on #283
Yeah I got side-tracked this past few weeks.
You can create an utils file for this, like `OptionUtils`, that has the method mentioned.

[2019-04-11 09:54] Hawkurane opened #317 "Added memcached option to cacheProvider"
##### **Overview of the issue**
Currently, generating an application through a .jdl file with `jhipster import-jdl myfile.jdl` overwrites the cacheProvider option given by hazelcast.

Also memcached isn't parsed by the jdl parser.

##### **Motivation for or Use Case**

Generate an application through a .jdl file that has a cacheProvider specified in the file. cacheProvider given, the generated app

[2019-04-11 14:41] Hawkurane commented on #317
It seems generating a gateway application with a service discovery forces the generator to take hazelcast as default cache provider for rate limiting purposes.

But the rate-limiting feature is **not** enabled by default and memcached seems to be able to scale anyway ([source](https://github.com/jhipster/generator-jhipster/issues/7767#issuecomment-402452079))

I suggest we either stop forcing the

[2019-04-12 04:32] MathieuAA commented on #317
I see two issues here:
  - The `hazelcast` option is overridden,
  - The `memcached` option isn't available

For the first issue, I need to do some tests.
For the second one, if you need any help with your PR, don't hesitate! and thanks for proposing one :)
In order to add a new option, you have to:
  - add it to the `ApplicationOptions` (just like you did)
  - add it to the parsing system (the le

[2019-04-12 04:40] MathieuAA commented on #317
And by the way, judging from the comment in the server subgen, [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/prompts.js#L226), I guess the issue's not in this repo but the generator.
I suggest you create an issue in the generator for this point and your last one.

I'm renaming this issue to `Added memcached option to cacheProvider`

[2019-04-12 06:01] pascalgrimaud commented on #317
@Hawkurane : @MathieuAA is right. You can look at this part of code https://github.com/jhipster/generator-jhipster/blob/master/generators/server/prompts.js#L226-L254

Memcached is currently available only for Monolith application. If you choose Gateway, you're forced to use Hazelcast.

[2019-04-12 08:44] Hawkurane commented on #317
@MathieuAA I've checked the lexer and validator and didn't find anything that needs to be changed.
I've also made few manual test and applications are generated properly.

[2019-04-13 08:38] MathieuAA commented on #317
@Hawkurane Yep, I saw that :) thanks! The PR has just been merged. Feel free to close this issue

[2019-04-15 06:56] #317 closed

[2019-04-15 11:55] hdaniel93 opened #318 "Add JDL keyword "readonly""
Hi guys.

In reference to this previous closed post https://github.com/jhipster/generator-jhipster/issues/8800

Myself and a few others on our team are thinking about working on this as its a use case thats common in our company.

Having never worked on an open source project before, can anyone point me to in the codebase some examples of a  keyword in JDL and how it effects what is generated? fun

[2019-04-16 11:02] MathieuAA commented on #318
Hi! For this feature, you'd need:
  - to make it available in the JDL
    - as an option (readOnly * except D for instance)
    - as an annotation (@readOnly)
  - Add it to the binary options (in [this file](https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/binary_options.js))
  - make it exported
    - in the JDL export
    - in the JSON export
  - update the doc to add the

[2019-04-17 00:31] Gabrui opened #319 "Exporting JDL that has a MapsId relation misses the 'with jpaDerivedIdentifier' directive"
##### **Overview of the issue**

The JDL regenerated through the `jhipster info` or through the `jhipster export-jdl` doesn't come with the 'jpaDerivedIdentifier' directive.

##### **Motivation for or Use Case**

I was reporting a bug to the jhipster-generator and found this problem. It may cause problems for people that try to regenerate the project through this JDL.

##### **Reproduce the error*

[2019-04-17 06:34] MathieuAA commented on #319
Roger that. Thanks for reporting this, I'll try to reproduce this tonight.

[2019-04-17 09:03] hdaniel93 commented on #318
@MathieuAA thanks alot! I think I know where to start, but just to clarify how/where in the jdl example on the web tool would you mark the entity country as being read only for example? https://start.jhipster.tech/jdl-studio/

[2019-04-17 12:01] MathieuAA commented on #318
Yes I would
I have to change the default example.. it's getting a bit old.

[2019-04-17 12:11] hdaniel93 commented on #318
Oh I mean should making a file readonly in jdl look like this

@Readonly
entity Country {
	countryName String
}

or something else.

Obviously I have to do it the same way as DTO since that is the code I will be basing it on, but I am not sure how a DTO would be defined in JDL in the above example? Fairly new to JHipster

[2019-04-17 12:46] MathieuAA commented on #318
Yeah no it's not really a binary option. More of an unary. My bad.
Just look at the skipClient option for instance.

[2019-04-20 17:03] #319 closed

[2019-04-21 09:23] murdos opened #320 "Allow custom annotations"
##### **Overview of the feature request**

Allow custom annotations for metadata/options not handled directly by generator-jhipster.
E.g. :
[code]
or
[code]

##### **Motivation for or Use Case**

It would be nice - and even required if we go to the path of [JDL centric configurations](https://github.com/jhipster/generator-jhipster/issues/8915) - to allow custom annotations for special features add

[2019-04-21 19:05] hdaniel93 commented on #318
I have made a few changes https://github.com/hdaniel93/jhipster-core/tree/9562-ReadOnly

I see in the "contributing" section of JHipster there is information about getting NPM to use your version of the generator, how do I do similar for the core? I want to try a jhipster import-jdl ./my-jdl-file.jdl --json-only

[2019-04-22 10:01] MathieuAA commented on #320
Hi @murdos! Yep, that's clearly something we must have.
I prefer the second option, as it tells that the annotation is not "standard".

However, telling how it will look in the JDL is no big deal. The real issue is to design how it will look in the JDL object (an entity, field, etc.) and the JSON

## JDL part

The implementation is quite simple. Currently there are JDL options (and annotations are

[2019-04-22 10:04] MathieuAA commented on #318
You must do:
  - in your fork `npm link`
  - in the generator's fork `npm link jhipster-core`

[2019-04-26 06:32] AleksandrSokolov opened #321 "default values for colums"
##### **Overview of the feature request**

Add to JDL ability to set default value for the column

entity abstract C {
    String name default "somevalue"
Int name default 5
}

##### **Motivation for or Use Case**

This is implemetation of:
1) one of the option
ALTER TABLE dbo.doc_exz
  ADD CONSTRAINT col_b_def
  DEFAULT 50 FOR column_b;
2) second option - do it in java backend
3) third option - d

[2019-04-27 18:06] Eljah opened #322 "Add the non-default user roles to JDL and cli utilities"
##### **Overview of the feature request**

Too many applications require much more roles that admin and plain user. At the beginning of jHipster use, many time is spent on developing the best fit entities configuration. After that, the JDL is exported and only then it is good to start jHispter project as non-monolite or with another frontend or something else, but with importing JDL all achievemen

[2019-04-27 19:01] MathieuAA commented on #321
It's possible to add it, and that wouldn't be much of an issue.
However, I'm not in favor of adding it.
IMO, a default value is only business-related and the DB's role is to store whatever you want (I'm against giving it more importance).
A business notion should be enforced by the front-end and/or the back-end. And there's the question of how to actually implement it.

I'd like opinions here, @jh

[2019-04-27 19:15] MathieuAA commented on #322
I simply don't get it.
First of all, the JDL doesn't handle roles/profiles. Furthermore, I didn't understand

[2019-04-27 19:15] #322 closed

[2019-04-27 19:16] #286 closed

[2019-04-27 19:16] #219 closed

[2019-04-27 19:17] #250 closed

[2019-04-27 19:18] MathieuAA commented on #250
Feel free to ping me if there's any update.

[2019-04-27 19:44] Eljah commented on #322
Could you explain why user roles are out of JDL and out of CLI project set up? The important part of any application, but in jHipster we just configure it in several different parts in specific config files. Why don't explicitly ask "how many roles do you want and please specify all of them" during the CLI project initialization?

[2019-04-27 20:03] MathieuAA commented on #322
and

Because this is something you don't know beforehand, especially in Agile development teams.

If you have a better alternative, please do open an issue (in the generator) so that everyone can contribute to the discussion!

[2019-04-27 20:19] MathieuAA commented on #308
Closing this and documenting it, https://github.com/jhipster/jhipster.github.io/pull/729.

[2019-04-27 20:19] #308 closed

[2019-04-27 20:49] Eljah commented on #322
Got it about the generator, but still not clear why roles are out of JDL. If we can consider roles to be a subentity of default and always existing User entity, it is not clear what is the idea no to store this info to JDL. User is a special case, but the particular roles of any of this user is not,

[2019-04-27 21:09] ruddell commented on #322
I think this falls under [Policy 2](https://www.jhipster.tech/policies/).  It's a [simple change](https://www.jhipster.tech/tips/025_tip_create_new_authority.html) to add some roles manually.

[2019-04-27 22:08] murdos commented on #250
Just for the record, when reading this request I see some analogy with Value Object requested in #262

[2019-05-10 12:51] DanielFran opened #323 "Fix document_parser.js use of function 'getValidations'"
See https://sonarcloud.io/project/issues?id=jhipster-core&open=AWkL2DNsfuL_aNBIoMaH&resolved=false&types=BUG

[2019-05-14 04:38] #323 closed

[2019-05-17 00:22] mobilecard opened #325 "JDL - Deployment with Istio"
##### **Overview of the issue**

I am having problem when configure deployment with istio in jdl document.

##### **Motivation for or Use Case**

error: Error message:
        MismatchedTokenException: Expecting --> '}' <-- but found --> 'istioRoute' <--
        at line: 61, column: 3
SyntaxError: Error: MismatchedTokenException: Expecting --> '}' <-- but found --> 'istioRoute' <--
        at line

[2019-05-17 06:58] MathieuAA commented on #325
`istioRoute` is no longer supported

[2019-05-17 06:58] #325 closed

[2019-05-20 06:45] murdos commented on #320
How about having the first option, but use a special prefix to identify custom annotation from standard annotations: `@_myFeature` or `@X:myFeature`?
With the second option we have a big difference in syntax between custom annotations and standard annotations.

Do you think that you'll be able to work on this feature?
I think it's really important for the module and blueprint ecosystem. For e.g. c

[2019-05-20 07:48] MathieuAA commented on #320
@murdos Hi, I don't like the syntax, it makes annotations (which are ugly by default) uglier.
I liked the `@custom()` idea though

I don't know when I'll work on it, I'm rewriting the JDL import subgen, and it's a pain in the ass.

[2019-05-20 14:53] Shaolans opened #326 "Setting up Jhipster-Core for Azure Pipelines"
##### **Overview of the feature request**

Since Travis future is now uncertain, we should progressively migrate our CI to Azure Pipelines like we did for the generator or prettier-java.

##### **Motivation for or Use Case**

Travis is not doing well.
Azure Pipelines can have up to 10 parallel jobs (5 for Travis)
The sonar is currently broken [0% coverage](https://sonarcloud.io/dashboard?id=jhipst

[2019-05-20 14:57] pascalgrimaud commented on #326
The first thing you can do, is to init a very simple `azure-pipelines.yml` to this repo.
So it will be easier for me to start to configure Azure.

Similar to: https://github.com/jhipster/prettier-java/pull/199

[2019-05-21 18:16] jsm174 opened #328 "Update checkForNoDatabaseType to allow Oauth2/OIDC gateways with no database"
##### **Overview of the issue**

According to the PR (https://github.com/jhipster/generator-jhipster/pull/9648), the jhipster generator was updated to support a no database option for Oauth2/OIDC apps.

Support needs to be added allow this same configuration in JDL otherwise the following error will occur:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

JDL with the f

[2019-05-21 18:43] ruddell commented on #328
The check to be updated is here: https://github.com/jhipster/jhipster-core/blob/460554132fb824b198c7ff193c07b417bf94ce09/lib/exceptions/application_validator.js#L211

Support for no-database with monoliths is also new, so I think all apps now support it?  @cbornet would know for sure.

[2019-05-21 19:13] MathieuAA commented on #328
In any case, I'm allowing it right now for @jsm174's case, and I'll keep it open for any update.
Thanks @ruddell for pointing that out

[2019-05-21 19:58] pascalgrimaud commented on #326
Don't forget to add badge to readme, @Shaolans :)

[2019-05-21 20:17] cbornet commented on #328
Yes we now support "no database" for all type of apps and auth.

[2019-05-21 20:20] MathieuAA commented on #328
@cbornet thanks :)

[2019-05-21 20:31] #328 closed

[2019-05-22 08:06] Shaolans commented on #326
Thanks ! I almost forgot :+1:

[2019-05-22 16:36] bdealey opened #330 "JDL generation no longer accepting istioRoute after 6.0.1 upgrade"
##### **Overview of the issue**
The JDL file worked fine in jhipster 5.8.  This JDL was taken from a jhipster kubernetes demo.
Since upgrading to jhipster 6.0.1, it now gives the following error. Taking out the following two JDL directives will successfully generate the project.
  istio autoInjection
  istionRoute true

But these two are needed.  Again this worked perfectly in jhipster 5.8

❯ jhip

[2019-05-22 16:38] bdealey commented on #330
Forgot to mention that the JDL directive of "istioRoute" is still documented on the JDL web page: https://www.jhipster.tech/jdl/

[2019-05-22 18:05] deepu105 commented on #330
I think its removed in new version. May be docs are not updated yet.
IstioRoutes are generated by default now

On Wed, 22 May 2019, 6:38 pm bdealey, <notifications@github.com> wrote:

[2019-05-24 20:51] MathieuAA commented on #224
Closed in favor of a GH project

[2019-05-24 20:51] #224 closed

[2019-05-24 21:02] MathieuAA commented on #330
This is taken care of. Thanks for reporting this

[2019-05-24 22:03] #330 closed

[2019-05-26 16:27] walshe opened #332 "bootswatch"
is it possible to define the new bootswatch theme application option with JDL ?

[2019-05-27 15:33] MathieuAA commented on #332
No.
Please, next time, don't post an issue here. That's what Stack Overflow is for.

[2019-05-27 18:53] pascalgrimaud commented on #332
@MathieuAA : I think we should add this as bootswatch theme is a new question in generator-jhipster, since this PR https://github.com/jhipster/generator-jhipster/pull/9420

That explains why @walshe opened this ticket.

[2019-05-28 11:19] MathieuAA commented on #332
Ah! okay! thanks @pascalgrimaud

[2019-05-29 13:15] jsm174 opened #333 "Not require [dev|prod]DatabaseType no when databaseType is no"
##### **Overview of the feature request**

Now that `databaseType` logic has been updated in https://github.com/jhipster/jhipster-core/commit/a9223765a888b8a7746c6222eddb3255b22c163c, if a user has the following JDL:

[code]

It will error out with:

[code]
##### **Motivation for or Use Case**

Unless I'm missing something, it seems like having to put `devDatabaseType no` and `prodDatabaseType no`

[2019-05-30 18:21] MathieuAA commented on #333
Yep, you're right! thanks for taking the time to propose this :)

[2019-05-30 18:35] #333 closed

[2019-05-30 19:17] #281 closed

[2019-06-02 16:25] erickjvallejo opened #335 "Required constraint in relationships and DTO option generate error in Angular"
##### **Overview of the issue**

I have imported my JDL file and notice that in Angular when I tried to update or create a record I have got an error of missing field and the value does not appear for textbox.

![error-in-angular](https://user-images.githubusercontent.com/21186106/58762810-37e5e280-8519-11e9-9b3b-98eddeaa0718.png)

##### **Motivation for or Use Case**

1. import-jdl
2. relationshi

[2019-06-02 20:19] MathieuAA commented on #335
Hi, first of all, thanks for reporting this.
This is not the place for such an issue, it belongs to the generator. Can you open a new issue there and fill it with this one? thanks :)

[2019-06-02 20:19] #335 closed

[2019-06-03 05:26] yelhouti commented on #320
@MathieuAA do you need any help? I need this feature so bad.

[2019-06-04 15:52] deepu105 commented on #321
I'm against this as well, adding a default in the generated liquibase file is very trivial and hence this goes against our policy 2 https://www.jhipster.tech/policies/

[2019-06-04 15:52] #321 closed

[2019-06-09 19:26] walshe opened #336 "ManyToOne with 'required' problem"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2019-06-09 19:36] pascalgrimaud commented on #336
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-06-09 19:36] #336 closed

[2019-06-09 20:25] walshe commented on #336
not sure what happened all the content I added in the template.. seems to have dissapeared

[2019-06-09 20:32] walshe opened #337 "ManyToOne with 'required' problem"
##### **Overview of the issue**

Create page of Book entity has issues - mainly the required Author field (dropdown) does not work

##### **Motivation for or Use Case**

need 'required' on a many to one relationship

##### **Reproduce the error**

import following app and then try to create a book, theres a greyed out id field and the drops down to select an author is non functional also

[code]

[2019-06-09 20:54] MathieuAA commented on #337
Interesting, the JSON looks okay. I'm gonna do some tests

[2019-06-10 04:34] pascalgrimaud commented on #337
I think it's already fixed in master branch of generator-jhipster

See the ticket https://github.com/jhipster/generator-jhipster/issues/9780 with this https://github.com/jhipster/generator-jhipster/issues/9780#issuecomment-496457667

And this PR https://github.com/jhipster/generator-jhipster/pull/9806

[2019-06-10 22:57] walshe commented on #337
oh cool, when will it be released ?

[2019-06-11 06:34] pascalgrimaud commented on #337
@walshe : as always, with JHipster, we can't give you a release date, as all the work is done during our free and personal time...
But we'll try to do a release very soon, before the JHipster Conf, at the end of the month

[2019-06-19 08:32] 62mkv opened #357 "More advanced enums in JDL"
##### **Overview of the feature request**

Currently, (I know of) only one simple way to define Enums, like:
[code]

I would suggest to add a way to define custom text for each value like

[code]

##### **Motivation for or Use Case**

This is the way it's done idiomatically in Java, so when you try to update the generated enum.java file with such information, it all gets lost after regenerating fr

[2019-06-22 16:03] MathieuAA commented on #337
There has been a release, so @walshe can you update your node modules and test this one out? thanks :)

[2019-06-22 19:27] MathieuAA opened #339 "Add a no-linting option/directive to the JDL"
Possible implementations:
[code]

@colameo that's about what we've talked about.

[2019-06-22 22:47] walshe commented on #337
it works great now thanks :)

am having issues with the jhipster aws generator now though..

[2019-06-23 14:59] #337 closed

[2019-06-23 15:00] MathieuAA commented on #337
I suggest you look at SO posts and/or ask in the Gitter. If you believe you experience an actual issue, post it in the generator's issue tracker :)

[2019-06-28 08:11] kaidohallik opened #341 "entities in JDL without javadoc are regenerated by import-jdl even if no changes"
##### **Overview of the issue**

If entity has no javadoc in JDL and command `jhipster import-jdl` is executed multiple times without changes in JDL then this entity without javadoc is regenerated each time `import-jdl` is executed.

##### **Motivation for or Use Case**

It confuses if `import-jdl` claims that there are changes but actually no changes.
And this is not optimal to regenerate if no c

[2019-06-28 08:58] anthony-o commented on #332
@MathieuAA & @pascalgrimaud now that we can choose a Bootswatch theme when creating a new JHipster app, could we use some variable in the JDL in order to control that?

[2019-06-28 09:01] pascalgrimaud commented on #332
@MathieuAA : can we reopen this ticket ? so we won't forget to do it

[2019-06-28 14:12] #341 closed

[2019-06-30 19:36] #332 closed

[2019-07-13 09:28] yelhouti commented on #320
This is taking too long, and I really need it, any one minding me implementing it?
@MathieuAA @deepu105 @jdubois @pascalgrimaud @PierreBesson ...
note: Please @ any one who might be opposite to it
also please answer, I don't want to start working on something this big for it to be ignored...

[2019-07-13 16:42] MathieuAA commented on #320
@yelhouti hi, first of all: there are other priorities (merging this project into the generator, the linter, the export, blueprints, etc.), and we're working on this project on our free time (when we can).
There's no need to ping a ton of people just for the sake of it.

If you want to work on it, by all means. I'll try to make myself available to help you if you want.

[2019-07-13 16:47] MathieuAA opened #347 "Multiline javadoc comment crashes jdl generation"
Follow up from https://github.com/jhipster/generator-jhipster/issues/9331

[2019-07-14 07:20] yelhouti commented on #320
@MathieuAA sorry about that, I was only trying to make sure not to waste my time on something somebody else is working on (or almost finished) since I couldn't get the information (I waited 40 days before asking again). You can assign this to me if you want that to avoid this kind of problems for someone, else.
Thanks a lot for offering your help, I won't hesitate if needed.

[2019-07-14 12:59] yelhouti opened #348 "npm run coverage"
##### **Overview of the issue**
`npm run coverage` didn't work fork for me, instead I had to use `nyc ... mocha` instead of `nyc ... report`.
Is this used in your CI or somewhere else, or just someone forgot to change it.
For new people on the project it just wastes some of your time.

- [X] Checking this box is mandatory (this is just to show you read everything)

[2019-07-14 13:11] yelhouti commented on #320
@MathieuAA I though we had also annotations for fields, and relationships, it turns out we don't can I add those please?
I want to used in my blueprint for something like the java @Id

[2019-07-14 17:20] ruddell commented on #348
`npm run coverage` runs automatically after running `npm run test` via the `posttest` script.  I can see how that can be confusing though.

[2019-07-14 17:32] yelhouti commented on #348
@ruddell thankd for the info, but if I'm not wrong report doesn't regenerate the report, it just displays it.
May be `test` should become: `...nyc --reporter=text-summary mocha test` instead of `nyc mocha test`, so that report works as expected

[2019-07-14 20:37] MathieuAA commented on #348
Nice find, but I don't get the original issue at first glance. Can you please, next time, provide more details so that we can understand everything right away? thanks.
I'm going to try improving it right now.

[2019-07-14 20:44] MathieuAA commented on #320
Yep, go ahead, I'll review your PR right away

[2019-07-14 20:44] #348 closed

[2019-07-14 21:25] #347 closed

[2019-07-14 22:04] yelhouti commented on #348
@MathieuAA thanks for fixing, I can assure you I didn't understand fully what way my problem until rudeel explained where it was used. can't explain what I don't know yet :p

[2019-07-17 13:32] MathieuAA opened #351 "remove cache option for reactive apps"
the cacheProvider option should always be set to "no"

[2019-07-20 17:41] #351 closed

[2019-07-20 18:46] #350 closed

[2019-07-22 23:42] yelhouti commented on #320
Maybe someone else have a little time to review this?

[2019-07-23 00:37] yelhouti opened #352 "ManyToMany not always in json with ownerSide=false"
##### **Overview of the issue**
The "non Owner" side of ManyToMany relationship is not always present in JDL, (making fluent methods in the generator break)

[code]

If this is a "feature" not a bug, how can the generator know that `Set<A>` will not be present in `B.java` to avoid calling `b.getAS().add(this);` in `A.java`

If we want to keep this behavior (not having `Set<A>` in B) the logique in

[2019-08-12 18:31] JesusTheHun commented on #46
Anything new on this topic ?

[2019-08-15 18:44] MathieuAA opened #354 "Updating chevrotain to the latest version"
It causes the grammar not to compile properly (without errors)

[2019-08-29 16:13] clement26695 opened #356 "Export JDL export unwanted values (and create invalid JDL)"
##### **Overview of the issue**

When exporting a JHipster application with the jdl exporter, the jdl seems incorrect as there are some unrecognized values (e.g. packageFolder, promptValues, jhipsterVersion, jwtSecretKey,     otherModules and blueprints)

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create a default jhipster application and try to export it with `jhipster e

[2019-08-31 09:01] MathieuAA commented on #356
Hi, what are the unwanted values and why? They aren't in a .yo-rc anymore?

[2019-08-31 10:56] clement26695 commented on #356
packageFolder, promptValues, jhipsterVersion, jwtSecretKey, otherModules and blueprints are exported, but not recognized when importing a JDL. These values are stored in the yo-rc file. I am not sure if it is useful to export all of them in the jdl.

Concerning *blueprints*, it should be handled by #344.

Moreover, promptValues and otherModules are not correctly exported (in the exported jdl, they

[2019-08-31 11:35] MathieuAA commented on #356
Is `promptValues` needed?

[2019-08-31 12:07] clement26695 commented on #356
I don't think so. I am not sure that the jwtSecretKey is useful too. Concerning the jhipsterVersion, and the packageFolder, I don't know.

[2019-08-31 12:10] MathieuAA commented on #356
From what I've been able to deduce, `promptValues` can be omitted.
About the secret key, I'm not sure. If the JDL export has to perform a perfect export of the app, wouldn't it be needed too?
The JHipster version may be useless (unless I'm missing a use case), the packageFolder maybe not: it is asked during the generation.
Thanks for the clarification :)

[2019-08-31 12:15] #354 closed

[2019-08-31 12:16] MathieuAA commented on #352
I'll test this out and fix it. Thanks for reporting this issue!

[2019-09-01 17:57] MathieuAA opened #358 "Entity: Implement otherEntityFolderName"
See https://github.com/jhipster/generator-jhipster/pull/10167.

[2019-09-03 12:16] clement26695 commented on #356
Btw, I can try to make a PR to fix this, if you tell me which fields you want to keep and which ones to drop

[2019-09-03 16:33] murdos commented on #356
It's used a least by the `upgrade` feature.

[2019-09-08 11:55] mrts opened #359 "Add command-line tools for converting from JDL to JSON and JSON to JDL"
##### **Overview of the feature request**

Add two command-line tools

- `jdl2json` for converting from JDL to JSON
- `json2jdl` for converting from JSON to JDL

The tools would be available after `npm  install jhipster-core` (although `jhipster-jdl-tools` would be a more apt name for the package).

##### **Motivation for or Use Case**

This would make it possible to use JDL and JDL Studio for mod

[2019-09-08 16:53] ruddell opened #360 "@search(elasticsearch) throws error on import"
##### **Overview of the issue**
The `@search(elasticsearch)` annotation throws an error if you try to import it.
[code]

##### **Motivation for or Use Case**

Originally reported on Stack Overflow: https://stackoverflow.com/q/57842696/3737815

It is one of the [documented annotations](https://www.jhipster.tech/jdl/#-annotations) so it should work.

##### **Reproduce the error**
Import the followin

[2019-09-08 21:18] murdos commented on #318
@hdaniel93: Hi. Are you still working on this feature? This is something I need too, so I'm willing to work on it.

[2019-09-09 05:43] pascalgrimaud commented on #318
@murdos : the 1st ticket about this feature was opened in main generator-jhipster 8 months ago. So I think you can go ahead and take the lead. I think a big part of the work has been done but not completely finished

[2019-09-09 19:18] MathieuAA commented on #360
Roger that!

[2019-09-09 19:20] MathieuAA commented on #359
Hi! Interesting idea that you have!
What would the JSON content look like?

[2019-09-09 19:22] MathieuAA commented on #318
Don't hesitate to ping me if you want directions :) I'm not that available nowadays but I'll make an effort.

[2019-09-09 20:49] MathieuAA commented on #360
Ah this is bad!! I can't believe this wasn't caught before, this is a big one as it never could have worked before. Luckily this just involves a patch release...

[2019-09-09 21:04] MathieuAA commented on #360
Or not. This is going to be a major this time. I don't think I can avoid it

[2019-09-09 21:26] #360 closed

[2019-09-10 04:47] MathieuAA commented on #356
@clement26695 I'll do it but thanks! Just having this issue is a big step forward.

[2019-09-10 08:42] mrts commented on #359
Thanks :)!

I think the JSON content could be simply an array of entities that have the [existing JSON structure](https://github.com/jhipster/jhipster-sample-app/blob/master/.jhipster/BankAccount.json) with added `name` field for the name of the entity, something like this:

[code]

And the result should be interoperable with existing `.jhipster` convention, so I would envision a command-line opti

[2019-09-14 18:14] ruddell opened #362 "export-jdl always uses app.jdl as filename"
##### **Overview of the issue**
`jhipster export-jdl` always uses `app.jdl` as filename, [hardcoded here](https://github.com/jhipster/jhipster-core/blob/0618945c26038cb903030b38f09c908d81eb4813/lib/converters/json_to_jdl_converter.js#L48).  There's a [related test in generator-jhipster](https://github.com/jhipster/generator-jhipster/blob/11f149e953008d6b50782ba6eb5f30977ad7c45f/test/export-jdl.spe

[2019-09-16 18:32] MathieuAA opened #363 "Add tests for the ast_builder file"
Todo list:
  - [x] write a test file for this
  - [ ] remove the ast_builder entry from the nycrc file

[2019-09-16 19:04] #320 closed

[2019-09-16 20:20] MathieuAA commented on #356
Only the `otherModules` key is bothering me... I've dealt with the other (except the package folder, which I'd rather generate from the package name option). This is a tricky one as it contains a name and a version

[2019-09-17 20:51] murdos opened #364 "Add caffeine option for cacheProvider"
##### **Overview of the feature request**

Caffeine is a new option available for cache since JHipster 6.3.0

##### **Motivation for or Use Case**

It should be possible to select this option in JDL

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/10303

- [X] Checking this box is mandatory (this is just to show you read everything)

[2019-09-17 21:13] SudharakaP commented on #364
@murdos : Thanks for adding this; seems I've missed this. 😄

[2019-09-18 09:07] #364 closed

[2019-09-18 09:44] Shaolans opened #366 "ALL option handling in the parser makes the syntax check fail"
##### **Overview of the issue**

Since the ```all``` option is handled [now](https://github.com/jhipster/jhipster-core/commit/19395457011595d9245bcc8952eecc5e86d3f2c5) as a NAME token. The syntax check is now [failing](https://github.com/jhipster/jhipster-core/blob/master/lib/dsl/api.js#L57) because since this is a NAME token and because of the entityList rule in the parser, it tries to check the

[2019-09-18 10:15] MathieuAA commented on #366
Thanks for reporting it, I'll fix it before the week-end release

[2019-09-18 21:18] murdos opened #367 "Entities that have custom attributes in JSON entity files are always reported as changed"
##### **Overview of the issue**

Since entity merge on JDL import has been added (https://github.com/jhipster/jhipster-core/commit/d39e15f0e584318c20e70caffe1ce57769ab5f1c) the import-jdl command always considers entities that have custom attributes in JSON entity files has changed. However once the json file is rewritten, nothing has changed.

##### **Motivation for or Use Case**

Entity not chan

[2019-09-18 21:49] murdos opened #369 "Order between annotation and javadoc is significant and can lead to missing javadoc or crash"
##### **Overview of the issue**

While doing some tests with the customs annotations from https://github.com/jhipster/jhipster-core/pull/349 from master version, I noticed several issues related to the order of javadoc and annotations:

**On entity level:**

Works:
[code]

However with the following jdl, the javadoc is silently dropped:
[code]

**On field level:**

Works:
[code]

Crashes:
[code]
w

[2019-09-19 09:27] #367 closed

[2019-09-19 09:29] MathieuAA commented on #369
Outch, thanks for reporting this one. I'll see about this this week-end

[2019-09-22 10:22] #366 closed

[2019-09-22 10:43] MathieuAA commented on #369
For the entity issue:
  - I'm gonna implement case 2 but forbid case 1, and so make the order matter:
    - comment
    - annotation(s)
    - entity
  - that's gonna be a breaking change (but I already have to release a major version, so that's almost okay)

For the field issue:
  - implement the same rule
  - forbid case 1

[2019-09-22 11:13] MathieuAA commented on #301
Is there something that needs to be done here?

[2019-09-22 11:13] #275 closed

[2019-09-22 12:18] MathieuAA opened #372 "Doc to do for the new release"
Todo:
  - [x] update the CHANGELOG file
  - [x] release
  - [x] update the docs

[2019-09-22 12:48] #369 closed

[2019-09-22 13:49] murdos commented on #369
Thanks, case 2 is indeed more fluent.
Just wondering: is there's any technical difficulty in support both cases? I saw that for fields there are already 2 different places for javadoc according to documentation:
[code]
and
[code]

[2019-09-22 13:55] MathieuAA commented on #369
Nop, not if whitespaces are involved. As they are ignored, the placement is whatever you want it to be

[2019-09-22 13:56] #318 closed

[2019-09-22 14:25] #362 closed

[2019-09-27 09:34] deepu105 commented on #320
@yelhouti was the docs updated for this?

[2019-09-27 13:57] MathieuAA commented on #320
@deepu105 this wasn't a minor, but a major :( We have to release v5, as there's a breaking change in the JDL

[2019-09-27 14:39] yelhouti commented on #320
@deepu105 nop not really, I should maybe uodate the blueprint page, since custom annotation can only be used in customBlueprints

[2019-09-27 20:29] murdos commented on #320
@yelhouti : custom annotations can also be useful for jhipster modules ;-)

[2019-09-27 20:47] deepu105 commented on #320
Oh sorry I didn't know there was a breaking change. So I assume it needs
some work on the generator as well right? In that case I would like to make
another breaking change. Currently we are passing file paths everywhere
instead of passing content, it would be much nicer if the API just expects
JDL content so that generator can read file and pass content as it likes.
Ideally I wouldn't want to do

[2019-09-27 20:49] MathieuAA commented on #320
Don't worry, I've release a v5 and added changelogs for this.
And agreed.

[2019-09-28 08:06] MathieuAA commented on #352
I wonder if it's not an issue with the generator, that should allow unidirectional many to many...

[2019-09-28 08:07] MathieuAA commented on #352
The fix is quite easy:
  - in the entity parser, add a check and fill the other side
  - update tests and add a new one in the entity parser

[2019-09-28 08:09] yelhouti commented on #352
@MathieuAA This is what I tried to explain in the issue, sadly didn't have time to work on it, I'm in a bit of pickle these days with some projects so sorry, I can't help any further for now.

[2019-09-28 08:10] MathieuAA commented on #352
Don't worry! I'll try to get to the bottom of this :) again, thanks for reporting this one

[2019-09-28 14:39] poolebu opened #381 "Fake Data for JDL string pattern causes liquidbase error"
##### **Overview of the issue**

For the following JDL descrpition:

The JDL ` String pattern(/^[^@\s]+@[^@\s]+\.[^@\s]+$/)` throws liquid base error when loading fake data.

[code]

The attached [centro_de_actividad.txt](https://github.com/jhipster/jhipster-core/files/3665572/centro_de_actividad.txt) CSV  of fake data is produced, which gives the error, I believe because a `;` is generated in the

[2019-09-30 07:01] MathieuAA opened #382 "Clarify the doc about the pattern validation"
Related to https://github.com/jhipster/generator-jhipster/issues/10520

[2019-10-08 11:27] christinOGH opened #384 "Using relative path for clientRootFolder in jdl failed"
##### **Overview of the issue**

I try to use a relative path for the clientRootFolder in my jdl-File. Import-jdl fails with the following error:

The JDL is being parsed.
error: Error message: unexpected character: ->/<- at offset: 4403, skipped 1 characters.
SyntaxError: Error: unexpected character: ->/<- at offset: 4403, skipped 1 characters.
Error while parsing applications and entities from t

[2019-10-08 13:24] MathieuAA commented on #384
Hi, please provide the full JDL file if you can. If you can't, you can send it to my email.

[2019-10-08 13:57] christinOGH commented on #384
I'd like to send it per email but I can't find you email address. :/

[2019-10-08 16:45] MathieuAA commented on #384
mathieu.abou-aichi@jhipster.tech
It's in the package.json file :)

[2019-10-08 20:11] MathieuAA commented on #384
I've received it, I'm gonna test the parser with your file.

[2019-10-08 20:29] MathieuAA commented on #384
Quick update: I've tried importing it with the latest parser version: no error.
Also tried with the JDL Studio from JHipster Online, no error.

What version of JHipster are you using?

[2019-10-08 20:42] christinOGH commented on #384
Should be 6.3.1

[2019-10-09 04:27] MathieuAA commented on #384
You may have two versions installed instead of one... While I don't understand why you have this issue, it may cause your problem (not sure but worth checking).
I suggest you head over [there](https://www.jhipster.tech/installation/), removing your current installation of the generator and reinstall it.

[2019-10-09 04:59] christinOGH commented on #384
I doubled checked the JDL I sent to you. I forgot to add the relative path. So I will send you the correct version. Please can you try to import again? Sorry for the circumstances. I have removed the relative path so that I was able to work with the JDL.

[2019-10-09 09:45] MathieuAA commented on #384
Roger that, I'll try again

[2019-10-09 11:41] christinOGH commented on #384
Thank you :)

[2019-10-09 18:42] MathieuAA opened #385 "Use npm-shrinkwrap file instead of package-lock"
Related to https://github.com/jhipster/generator-jhipster/issues/10099

[2019-10-09 18:49] MathieuAA commented on #385
Maybe not worth it for this repo

[2019-10-09 18:49] #385 closed

[2019-10-09 20:30] #384 closed

[2019-10-09 20:30] MathieuAA commented on #384
This was a bit painful, but this is fixed :) thanks for reporting this one!

[2019-10-10 04:30] christinOGH commented on #384
Thanks for your help. :)

[2019-10-10 10:36] christinOGH commented on #384
One last question: Do you know when a new release of JHipster is planed? I'm looking forward to get this fix ;)

[2019-10-10 12:38] MathieuAA commented on #384
I don't know, there's gonna be a major version though (for this repo).

[2019-10-10 12:50] christinOGH commented on #384
Thanks

[2019-10-10 19:51] MathieuAA commented on #358
Not needed

[2019-10-10 19:51] #358 closed

[2019-10-10 20:00] #352 closed

[2019-10-13 07:55] MathieuAA commented on #359
Hi! I've read the entire thread here and in the django-extensions repo, and I believe that such CL tools shouldn't be there as JCore only is a lib (a provider).

Here are my points:
  - if clients (django-extensions, or any other) want to use what's exported by this repo (JDL, JSON, etc.), they'd have to provide the code to:
    1. use JHipster-Core
    2. deal with possible transformation (transf

[2019-10-13 12:12] #372 closed

[2019-10-13 12:12] #382 closed

[2019-10-13 15:01] #357 closed

[2019-10-13 15:03] MathieuAA opened #386 "Document custom enum values"
Linked to #357, to do just after v6.0.0

[2019-10-15 09:50] Hawkurane opened #387 "Adding option Redis into cache"
##### **Overview of the feature request**

One should be able to use "redis" when choosing the cache provider as it was recently added.
##### **Motivation for or Use Case**
see [jhipster-daily-builds#22](https://github.com/hipster-labs/jhipster-daily-builds/pull/22)

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-10-15 12:17] Hawkurane commented on #387
Nvm my generator was not up to date and did not see the redis was already added :)

[2019-10-15 12:17] #387 closed

[2019-10-17 09:52] standors opened #388 "option jpaDerivedIdentifier in JDL is ignored"
##### **Overview of the issue**

imported JDL OneToOne relation contains jpaDerivedIdentifier -> the code generated is exactly as without this option (without @MapsId)

##### **Motivation for or Use Case**

##### **Reproduce the error**

import JDL and check code of UserInfo

##### **Related issues**

##### **Suggest a Fix**

in  previous Jhipster version 6.2.0 this worked OK.
problem is that gene

[2019-10-17 13:54] MathieuAA commented on #388
I'm transferring this issue to investigate it

[2019-10-18 04:57] MathieuAA commented on #388
Thanks for reporting this one! when parsing the option, the value set internally was wrong. I'm fixing it right now

[2019-10-18 05:02] #388 closed

[2019-10-22 04:53] #301 closed

[2019-10-22 04:57] MathieuAA commented on #296
@jnsunkersett I guess everyone forgot about this issue... the answer is simple: you keep it with your generated code and use the "side-by-side" pattern. You generate code with JHipster, but don't modify it. Instead, you extend/compose the generated classes with new ones (the custom code).
That's what the video is about, and your suggestion as well.
This is not an issue with the JDL, but with gener

[2019-10-22 04:57] #296 closed

[2019-10-24 17:29] #356 closed

[2019-10-29 02:41] lancescape opened #389 "import-jdl throws and error for variable that start with 'all' such as 'allowXyz'"
##### **Overview of the issue**
Using the command `jhipster import-jdl ResourceManagement.jh --json-only` on the jdl below.
oddly starting a variable with 'all' such as "allowMultiple Boolean required" throws the error

##### **Motivation for or Use Case**

error: Error message:
        MismatchedTokenException: Expecting --> '}' <-- but found --> 'all' <--
        at line: 7, column: 5
SyntaxErro

[2019-10-29 05:40] MathieuAA commented on #389
I'll look into it, thanks for reporting this one

[2019-10-30 08:34] MathieuAA commented on #389
I've identified the problem and work is being done to fix it

[2019-10-31 07:48] #389 closed

[2019-10-31 07:50] amatosg opened #390 "[JDL] Importing a file containing "all" as an Entity's property fails"
##### **Overview of the issue**
I have a jh file with many entities. One of them has `allowLoginAfterHours` as a property. When I import that jh file with 6.4.1 it fails with following message:

[code]
Moving the property to another line will be reported on error message.

##### **Motivation for or Use Case**
I should be able to import a JDL file with entities having properties that start with `al

[2019-10-31 07:50] #390 closed

[2019-10-31 07:50] MathieuAA commented on #389
Fixed, I'll release a new version soon.

[2019-10-31 11:18] poolebu opened #391 "Running jhipster export-jdl <FILE_NAME> ignores the <FILE_NAME> argument"
##### **Overview of the issue**

Running `jhipster export-jdl <FILE_NAME>` ignores the `<FILE_NAME>` argument and creates an `app.jdl` file .

##### **Motivation for or Use Case**

I was expecting that the file produced would be named  `<FILE_NAME>`. Its documented at the end of the https://www.jhipster.tech/jdl/getting-started, so it should work.

##### **Reproduce the error**

run `jhipster expo

[2019-10-31 13:03] MathieuAA commented on #391
This is happening because the generator doesn't export to a file when calling JCore. A file must be passed [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/export-jdl/index.js#L50).

[2019-10-31 19:23] MathieuAA opened #392 "Remove the pager option from the JDL"
It has been removed, the doc is being taken care of https://github.com/jhipster/jhipster.github.io/pull/839

Todo:
  - [x] remove the option
  - [ ] update the doc

[2019-10-31 20:17] MathieuAA commented on #392
The doc is partially being take of. The options.md file still needs updating.

[2019-10-31 21:08] #386 closed

[2019-10-31 21:11] MathieuAA opened #393 "Add doc about how to contribute"
For instance:
  - how to modify the grammar (what the files to update are, what purpose do they serve, etc.)
  - the purpose for each folder (maybe adding more doc would just be enough)

[2019-11-02 06:40] #359 closed

[2019-11-02 18:17] MathieuAA commented on #283
I think this is a good time to do it, I want to release JCore v6 (including quite a few breaking changes) and this issue is just yelling at me to get closed.
I'm gonna see what needs to be done for this one.

[2019-11-03 06:25] deepu105 commented on #283
But since JCore is so integral to JHipster may be we should do breaking
changes in grammar along with next major version of JHipster.

May be first we should merge jcore to Jhipster

On Sat, 2 Nov 2019, 8:17 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2019-11-03 07:04] MathieuAA commented on #283
Agreed.
About the merging: I give up on lerna. It stops parsing a package's commits after a while, giving no clear error message. Maybe someone has to try again, or we could look for other solutions.

[2019-11-03 20:05] MathieuAA opened #394 "Add the possibility to have more than one relationshipBody"
For example:

[code]

[2019-11-04 07:34] MathieuAA commented on #394
Closed as of https://github.com/jhipster/jhipster.github.io/pull/844

[2019-11-04 07:34] #394 closed

[2019-11-04 07:49] MathieuAA commented on #363
Done through the grammar test file.

[2019-11-04 07:53] #363 closed

[2019-11-04 19:01] MathieuAA opened #396 "Update the JDL doc"

[2019-11-05 07:25] #391 closed

[2019-11-05 07:49] gcontini commented on #46
Pity it's closed... maybe inheritance is complex , but implementing everything as separate entity is a serious limitation. Older mda tools (AndroMDA) took the pain of implementing it. seem we're stepping back.

[2019-11-05 07:52] jdubois commented on #46
That's a 2 year old ticket, as far as I understand there are new discussions on this topic for JHipster 7.
Then, this would only work for some of your Java code (not for REST endpoints, and of course it's limited to Java).

[2019-11-05 10:03] MathieuAA commented on #392
Will be fixed:
  - after the v6 release
  - after https://github.com/jhipster/jhipster.github.io/pull/845 is merged

[2019-11-05 14:47] desprez commented on #295
Please update online "deployments" documentation
https://www.jhipster.tech/jdl/deployments

[2019-11-06 13:30] murdos opened #399 "Ability to define entity options per application"
##### **Overview of the feature request**

It would be great if it was possible to define [entity options](https://www.jhipster.tech/jdl/options) inside the definition of an application:

[code]

##### **Motivation for or Use Case**

Use different options per application.

##### **Related issues or PR**

- [X] Checking this box is mandatory (this is just to show you read everything)

[2019-11-06 14:10] MathieuAA commented on #399
HI @murdos! Yes, that'd be nice indeed! that way you could really customize what's generated.
However, in microservice architectures, you don't usually share entities (and applied options), right? so I wonder: why?

[2019-11-06 14:26] MathieuAA commented on #399
Oh, maybe in gateways/BFFEs... No you're right, this may be needed

[2019-11-06 21:15] Tcharl commented on #399
Hi,

Duplicating entities is a well known microservice pattern: the aggregator service.
most of the time you also duplicate backend entities in the gateway in order to avoid the latency induced by sync inter service http calls.
You then synchronize them using messaging: when the ms is updated, it sends a message in the queue that updates the gateway 'replica'.

The 'microservice patterns book expl

[2019-11-06 22:43] MathieuAA commented on #399
Yeah I know, just didn't think about these ones. My previous comment reflect that somehow...

[2019-11-08 08:27] MathieuAA commented on #399
I'm gonna POC something. I don't expect too much work, but I can already foresee some possible complications.

[2019-11-16 21:11] #392 closed

[2019-11-21 16:28] martin-g opened #404 "import-jdl ignores the config in .yo-rc.json"
##### **Overview of the issue**

I have generated an application with the help of `jhipster` command line tool.
At application generation time I've answered all questions and my application was successfully generated. All answers of the questions are properly saved in .yo-rc.json file!

Later I've decided to add some new entities to my existing application, so I've used `jhipster import-jdl entiti

[2019-11-21 17:15] MathieuAA commented on #404
Thanks for reporting this issue! I or someone else will look into it

[2019-11-24 10:15] MathieuAA commented on #404
The step to reproduce are incorrect, and that was how you described your issue that made me understand the issue... There is no bug here: if you first generate your app with the CLI **then** create a JDL file with an app definition there, it will obviously use default values because they weren't specified in the JDL.

We could take into account an existing `.yo-rc.json` when generating an app. Tha

[2019-11-25 07:11] martin-g commented on #404
Thanks for the answer, @MathieuAA !
But then how am I supposed to add entities to my application ?
https://www.jhipster.tech/jdl/getting-started does not explain this use case.

If I remove

[code]

from entities.jh then the import does nothing.

The only way I was able to add entities is by duplicating the config settings in `entities.jh > `application` > `config`. But this looks wrong to me.
1)

[2019-11-25 15:56] hepaestus opened #405 "Exported JDL Cannot be Imported due to Syntax Issues"
After creating my JDL File and importing it I then used Jhipster to generate a JDL file. My Hope is that they would be the same. They ARE NOT.  Some of my JDL imported relationships are NOT IN THE Generated JDL File.

ALSO, Upon generation you cannot then import the JDL into Jhipster as it fails for syntax issues. Not all of the generated fields are recognized.

[2019-11-25 18:13] MathieuAA commented on #404
The issue is that having differences between a Yeoman config file and a JDL isn't supported.
I'm open to suggestions because it the first time (if my memory doesn't fail me) that this use case is reported.

I'll think of something, and reopening this...

[2019-11-25 18:16] MathieuAA commented on #405
Transferring this form the generator for investigations

[2019-11-25 21:48] MathieuAA opened #406 "Parsing a relationship with jpaDerivedIdentifier separated with a comma fails"
The parsing system doesn't know if the comma was separating the relationship
from A to B or the relationship option list.

@pascalgrimaud the corresponding issue

[2019-11-25 21:49] #406 closed

[2019-11-26 08:10] martin-g commented on #404
I guess I miss something obvious.
Could you please explain what is the normal workflow of using JDL **after** application creation ?

I'd imagine something like:
1) use `jhipster` to generate an application. Here I answer all the questions and those are saved in `.yo-rc.json`.
2) use `jhipster import-jdl someFile.jh` to add entities to my newly created application

Here I miss what I should put in

[2019-11-26 10:43] MathieuAA commented on #404
Instead of using the CLI to generate your app, you can use the JDL. If you define your app in the JDL but don't have the same options in your `.yo-rc` & JDL file, then it's normal you have the issues you mentioned.

[2019-11-26 12:20] martin-g commented on #404
I see. Thanks for clarifying this!
I'll let to you (the JHipster maintainers) decide what to do with this issue.
Maybe you can just improve the documentation explaining the way JDL importing is supposed to be used.

[2019-11-26 12:29] MathieuAA commented on #404
Maybe this needs better covering

[2019-11-30 07:37] MathieuAA commented on #405
@hepaestus Hi again, do you have a sample so that I can test this issue?

[2019-12-04 07:30] MathieuAA commented on #405
Closingt this as no information has been given

[2019-12-04 07:30] #405 closed

[2019-12-12 18:53] ruddell opened #411 "Exported Application JDL fails to Import"
##### **Overview of the issue**
JDL exported by an app should be able to be imported.

This issue can be moved to `jhipster-core` if the issue is there.

##### **Reproduce the error**
Copy the below `.yo-rc.json` into a folder and export the app JDL
- `jhipster export-jdl`

Try to import the exported JDL
- `jhipster import-jdl mono.jdl`

Fails with:
[code]

##### **Suggest a Fix**
Not sure

#####